.events-list__btn {
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity .12s;
    transition: opacity .12s;
}

.events-list__btn:hover {
    opacity: .85;
}

.events-list__btn_pink {
    border-color: #d20f8c;
    background-color: #d20f8c;
}

/*
 * Items
 */
.events-list__items {
    padding-top: 70px;
    padding-bottom: 70px;
}

.events-list__items .container::after {
    content: '';
    display: block;
    clear: both;
}

.events-list__item {
    float: left;
    margin-right: 30px;
    width: 360px;
}

.events-list__item:nth-child(3n) {
    margin-right: 0;
}

.events-list__item-image {
    height: 245px;
    text-align: center;
}

.events-list__item-image img {
    max-width: 100%;
    max-height: 100%;
}

.events-list__item-title {
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 84px;
    font-size: 18px;
    line-height: 28px;
}

.events-list__item-title a {
    color: #000000;
}

.events-list__item-title a:hover {
    text-decoration: underline;
}

.events-list__item-type {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 13px;
    border-radius: 2px;
    border-top-left-radius: 1px;
    background-color: #324abd;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.events-list__item-date {
    display: inline-block;
    vertical-align: middle;
    color: #656565;
    font-size: 12px;
    line-height: 24px;
}

.events-list__item-date::before {
    content: '';
    margin-top: -2px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(../images/clock_icon.png) center no-repeat;
    background-size: contain;
}

.events-list__item-description {
    margin-top: 20px;
    min-height: 158px;
    padding-top: 25px;
    border-top: 1px solid #eaeaea;
    font-size: 14px;
    line-height: 22px;
}

.events-list__item-actions {
    margin-top: 25px;
}

.events-list__btn.events-list__item-actions-btn {
    vertical-align: middle;
}

.events-list__item-actions-readmore-btn {
    margin-left: 40px;
    display: inline-block;
    color: #324abd;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.events-list__item-actions-readmore-btn:hover {
    text-decoration: underline;
}

/*
 * Subscribe
 */

.events-list__subscribe {
    padding-top: 70px;
    padding-bottom: 60px;
    background: #324abd url(../images/events_list_subscribe.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.events-list__subscribe::after {
    content: '';
    display: block;
    clear: both;
}

.events-list__subscribe-title {
    position: relative;
    float: left;
    width: 500px;
    padding-bottom: 50px;
    font-family: PFD;
    font-weight: 500;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
}

.events-list__subscribe-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 310px;
    height: 3px;
    background-color: #71ceed;
}

.events-list__subscribe-form {
    float: left;
    width: 640px;
}

.events-list__subscribe-form-title {
    font-size: 16px;
    line-height: 25px;
}

.events-list__subscribe-form form [type="text"] {
    float: left;
    width: 420px;
    height: 45px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    font-size: 16px;
}

.events-list__subscribe-form form [type="submit"] {
    float: right;
    width: 200px;
    height: 45px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}

.events-list__subscribe-form form {
    margin-top: 25px;
}

.events-list__subscribe-form form [type="submit"]:hover {
    background-color: #ffffff;
    color: #324abd;
}

.events-list__subscribe-form .policy-text {
    float: left;
    margin-top: 30px;
    font-size: 11px;
    line-height: 14px;
}

.events-list__subscribe-form .policy-text a {
    color: #ffffff;
    text-decoration: underline;
}

.events-list__subscribe-form form::after {
    content: '';
    display: block;
    clear: both;
}

/*
 * Pagination
 */
.events-list__pagination {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #eaeaea;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.events-list__pagination .container {
    position: relative;
    padding-left: 120px;
    padding-right: 120px;
}

.events-list__pagination a,
.events-list__pagination span {
    margin: 0 10px;
    color: #000000;
    font-weight: 700;
}

.events-list__pagination a:hover {
    text-decoration: underline;
}

.events-list__pagination span.active {
    color: #324abd;
}

.events-list__pagination span.dots {
    font-weight: 400;
}

.events-list__pagination a.prev,
.events-list__pagination a.next {
    position: absolute;
    top: 50%;
    color: #949494;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.events-list__pagination a.prev:hover,
.events-list__pagination a.next:hover {
    color: #324abd;
    text-decoration: none;
}

.events-list__pagination a.prev {
    left: 0;
}

.events-list__pagination a.next {
    right: 0;
}

/*
 * Responsive
 */

@media (max-width: 1199px) {
    .events-list__items {
        padding-bottom: 30px;
        text-align: center;
    }

    .events-list__item {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .events-list__subscribe-title {
        width: 100%;
    }

    .events-list__subscribe-form {
        margin-top: 40px;
        width: 100%;
    }

    .events-list__subscribe-form form [type="text"] {
        width: 70%;
    }

    .events-list__subscribe-form form [type="submit"] {
        width: 25%;
    }
}

@media (max-width: 991px) {
    .events-list__item-title {
        min-height: 0;
    }

    .events-list__item-description {
        min-height: 0;
    }
}

@media (max-width: 767px) {
    .events-list__items {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .events-list__item {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 360px;
    }

    .events-list__subscribe {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .events-list__pagination .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .events-list__pagination a.prev,
    .events-list__pagination a.next {
        display: none;
    }
}

@media (max-width: 500px) {
    .events-list__item-actions-readmore-btn {
        margin-top: 20px;
        margin-left: 0;
        display: block;
        width: 80px;
    }

    .events-list__subscribe-title::after {
        width: 220px;
    }

    .events-list__subscribe-form form [type="text"] {
        float: none;
        width: 100%;
    }

    .events-list__subscribe-form form [type="submit"] {
        float: none;
        margin-top: 15px;
        width: 100%;
    }
}

.empty-events {
    margin: 20px 0 0;
    font-size: 20px;
    color: #d20f8c;
    font-weight: 500;
}