.city-list-popup{position: relative;top: auto;left: auto; margin: auto;width: 900px;height:auto;display:none;box-sizing:border-box;background-color:#fff;}
.city-list-popup > div{padding:30px;}
.city-list-column{float:left;width:25%;}
.city-list-popup .city-list-close{top:25px;right:25px;width: 19px;height: 18px;background: url("images/close_icon.jpg") no-repeat 0px 0px;cursor: pointer;position: absolute;}
.city-list-popup .h2{padding:0px 0px 10px;margin-top:0px;font: bold 20px/1.25em Arial, Helvetica, sans-serif;margin: 0px 0 7px;}
.city-list-popup .h3{margin:10px 0px;font: bold 17px/1.294em Arial, Helvetica, sans-serif;}
.city-list-popup .mo-title{margin:23px 0px 10px;}
.city-list-popup .city-list-column p{margin:0px 0px 3px 0px;}
.city-list-popup .city-list-column p a{text-decoration: none;font-size:14px;}
.city-list-popup .city-list-column p a:hover, .city-list-popup .city-list-column p a:focus{text-decoration: underline;}
.city-list-popup .clearfix{display:block;}
.city-list-popup .clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size:0;}
.city-list-popup .strong{font-weight:bold;color:#444;}


@media (max-width: 991px) {
	.city-list-popup{width:700px !important;}
	.city-list-column{width:50%;}
}
@media (max-width: 767px) {
	.city-list-popup{width:100% !important;}
}
@media (min-width: 480px) and (max-width: 600px) {
	.city-list-popup{width:470px !important;}
}
@media (max-width: 479px) {
	.city-list-column{width:100%;float:none;}
}
@media (max-width: 359px) {
	.city-list-popup{width:300px !important;}
}