/*
 * General css
 */
.faq__wrapper *,
.faq__wrapper *:before,
.faq__wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.faq__wrapper {
    padding-top: 45px;
    padding-bottom: 60px;
    font-family: Roboto, sans-serif;
}

/*
 * Faq general
 */
.faq__page-title {
    margin-bottom: 45px;
    font-family: PFD;
    font-weight: 500;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
}

.faq__wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.faq__content {
    float: left;
    width: 750px;
}

.faq__sidebar {
    float: right;
    width: 360px;
}

.faq__sidebar-cat-block {
    position: relative;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
}

.faq__sidebar-cat-block::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    background: url(../images/faq_icons.png) no-repeat;
}

.faq__sidebar-cat-block_popular::after {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.faq__sidebar-cat-block_business::after {
    width: 32px;
    height: 32px;
    background-position: 0 -32px;
}

.faq__sidebar-cat-block_new::after {
    width: 24px;
    height: 32px;
    background-position: 0 -64px;
}

.faq__sidebar-cat-block-title {
    padding: 35px 70px 35px 35px;
    font-family: PFD;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
}

.faq__sidebar-cat-block-links {
    padding: 35px 25px 35px 35px;
    border-top: 1px solid #eeedf2;
    font-size: 14px;
    line-height: 20px;
}

.faq__sidebar-cat-block-link:nth-child(n+2) {
    margin-top: 16px;
}

.faq__sidebar-cat-block-link a {
    color: #324abd;
    text-decoration: none;
}

.faq__sidebar-cat-block-link a:hover {
    text-decoration: underline;
}

.faq__sidebar-socials-title {
    margin-right: 20px;
    font-family: PFD;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
}

.faq__sidebar-socials a {
    margin-top: -8px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border: 1px solid #324abd;
    border-radius: 50%;
    color: #324abd;
    text-align: center;
    line-height: 33px;
}

/*
 * Info
 */
.faq-single__info {
    margin-bottom: 50px;
    padding-top: 25px;
    border-top: 1px solid #eeedf2;
    color: #656565;
    font-size: 16px;
    line-height: 20px;
}

.faq-single__info-date::before {
    content: '';
    margin-top: -3px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(../images/faq_single_icons.png) 0 0 no-repeat;
}

.faq-single__info-views {
    margin-left: 40px;
}

.faq-single__info-views::before {
    content: '';
    margin-top: -2px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 11px;
    background: url(../images/faq_single_icons.png) 0 -14px no-repeat;
}

/*
 * Content footer
 */
.faq-single__content-footer {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #eeedf2;
}

.faq-single__content-footer::after {
    content: '';
    display: block;
    clear: both;
}

.faq-single__back-link {
    float: left;
    font-size: 16px;
    line-height: 22px;
}

.faq-single__back-link a {
    color: #324abd;
    text-decoration: none;
}

.faq-single__back-link a:hover {
    text-decoration: underline;
}

.faq-single__repost-links {
    float: right;
}

.faq-single__repost-links::after {
    content: '';
    display: block;
    clear: both;
}

.faq-single__repost-link {
    position: relative;
    float: left;
    height: 24px;
    padding: 1px 8px 1px 33px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    -webkit-transition: opacity .12s;
    transition: opacity .12s;
}

.faq-single__repost-link:hover {
    opacity: .85;
}

.faq-single__repost-link::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 23px;
    height: 22px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background: url(../images/faq_single_social_icons.jpg) no-repeat;
}

.faq-single__repost-link_vk {
    background-color: #48729e;
}

.faq-single__repost-link_facebook {
    background-color: #3b5998;
}

.faq-single__repost-link_ok {
    background-color: #eb722e;
}

.faq-single__repost-link_hz {
    background-color: #168de2;
}

.faq-single__repost-link:nth-child(n+2) {
    margin-left: 4px;
}

.faq-single__repost-link_vk::before {
    background-position: 0 0;
}

.faq-single__repost-link_facebook::before {
    background-position: 0 -22px;
}

.faq-single__repost-link_ok::before {
    background-position: 0 -44px;
}

.faq-single__repost-link_hz::before {
    background-position: 0 -66px;
}

/*
 * Responsive
 */
@media (max-width: 1199px) {
    .faq__content {
        width: 540px;
    }
}

@media (max-width: 991px) {
    .faq__content {
        width: 100%;
    }

    .faq__sidebar {
        margin-top: 60px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .faq__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .faq__page-title {
        margin-bottom: 15px;
    }

    .faq__content {
        float: none;
        font-size: 16px;
        line-height: 26px;
    }

    .faq__sidebar {
        float: none;
        margin-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }

    .faq__sidebar-cat-block {
        margin-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .faq__sidebar-cat-block::after {
        top: 15px;
    }

    .faq__sidebar-cat-block-links {
        padding: 15px;
    }

    .faq__sidebar-cat-block-title {
        padding: 15px 75px 15px 15px;
    }

    .faq__sidebar-socials {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .faq-single__content-footer {
        margin-top: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 500px) {
    .faq-single__back-link {
        float: none;
    }

    .faq-single__repost-links {
        margin-top: 20px;
        float: none;
    }
}
