@font-face {
  font-family: PFD;
  src: url(../fonts/PFD/PFD-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: PFD;
  src: url(../fonts/PFD/PFD-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoRegular/RobotoRegular.eot);
  src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoLight/RobotoLight.eot);
  src: url(../fonts/RobotoLight/RobotoLight.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoLight/RobotoLight.woff) format("woff"), url(../fonts/RobotoLight/RobotoLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoMedium/RobotoMedium.eot);
  src: url(../fonts/RobotoMedium/RobotoMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoMedium/RobotoMedium.woff) format("woff"), url(../fonts/RobotoMedium/RobotoMedium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoBold/RobotoBold.eot);
  src: url(../fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoBold/RobotoBold.woff) format("woff"), url(../fonts/RobotoBold/RobotoBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
}

*:focus {
  outline: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

button,
[type="submit"] {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button {
  text-align: left;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 0;
}

form {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}