@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500&subset=cyrillic';
.nb_block2 .col-lg-1, 
.nb_block2 .col-lg-10, 
.nb_block2 .col-lg-11, 
.nb_block2 .col-lg-12, 
.nb_block2 .col-lg-2, 
.nb_block2 .col-lg-3, 
.nb_block2 .col-lg-4, 
.nb_block2 .col-lg-5, 
.nb_block2 .col-lg-6, 
.nb_block2 .col-lg-7, 
.nb_block2 .col-lg-8, 
.nb_block2 .col-lg-9, 
.nb_block2 .col-md-1, 
.nb_block2 .col-md-10, 
.nb_block2 .col-md-11, 
.nb_block2 .col-md-12, 
.nb_block2 .col-md-2, 
.nb_block2 .col-md-3, 
.nb_block2 .col-md-4, 
.nb_block2 .col-md-5, 
.nb_block2 .col-md-6, 
.nb_block2 .col-md-7, 
.nb_block2 .col-md-8, 
.nb_block2 .col-md-9, 
.nb_block2 .col-sm-1, 
.nb_block2 .col-sm-10, 
.nb_block2 .col-sm-11, 
.nb_block2 .col-sm-12, 
.nb_block2 .col-sm-2, 
.nb_block2 .col-sm-3, 
.nb_block2 .col-sm-4, 
.nb_block2 .col-sm-5, 
.nb_block2 .col-sm-6, 
.nb_block2 .col-sm-7, 
.nb_block2 .col-sm-8, 
.nb_block2 .col-sm-9, 
.nb_block2 .col-xs-1, 
.nb_block2 .col-xs-10, 
.nb_block2 .col-xs-11, 
.nb_block2 .col-xs-12, 
.nb_block2 .col-xs-2, 
.nb_block2 .col-xs-3, 
.nb_block2 .col-xs-4, 
.nb_block2 .col-xs-5, 
.nb_block2 .col-xs-6, 
.nb_block2 .col-xs-7, 
.nb_block2 .col-xs-8, 
.nb_block2 .col-xs-9
{
padding-left:15px;
padding-right:15px;
}

.wr .panel {
  text-align: center;
  background-color:transparent;
}
.panel a {
  display: inline-block;
  padding: 15px 40px;
  border: 1px #acacac solid;
  border-radius: 30px;
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.panel a + a {
  margin-left: 30px;
}
.panel a:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.panel a.pdf {
  background: url('../images/ico-pdf.png') 30px center no-repeat;
  padding-left: 55px;
  text-underline: none;
}

.nb_block2
{
font-family:'Roboto';
color:#010101;
font-size:18px;
/*line-height:100%;*/
}

.nb_block2 p
{
padding:0;
margin:0 0 30px 0;
}

.nb_block2_t
{
position: relative;
background:url('../images/nb_block2_t.png') center center / cover no-repeat;
}

.nb_block2_t .row .wr
{
padding-top: 200px;
padding-bottom: 200px;
}

.nb_block2_t .logo
{
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
text-align: center;
}

.nb_block2_t .title
{
margin-bottom: 50px;
font-size: 43px;
line-height: 56px;
font-weight: bold;
color: #fff;
text-align: center;
}

.nb_block2_t .icon--mouse {
position: absolute;
bottom: 20px;
left: calc(50% - 25px);
width: 50px;
height: 50px;
background: #fff url('../images/ico-mouse.png') center center no-repeat;
border-radius: 50%;
animation-name: mouseBounce;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

@keyframes mouseBounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nb_block2_tt
{
height:460px;
overflow:hidden;
padding-top:70px;
}

.nb_block2_tt .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #ff7904;
}

.nb_block2_tt a
{
color:#ff7904;
}

.nb_block2_tt img
{
max-width:100%;
}

.nb_block2_t3
{
color:#fff;
font-size:20px;
padding:130px 0;
background: url('../images/nb_block2_t3.png') center center no-repeat;
background-size:cover;
}

.nb_block2_t3 .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #f3d6bf;
}

.nb_block2_t3 .i
{
height:130px;
}

.nb_block2_t3 .i:after
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block2_t3 .i span
{
opacity:0.3;
font-size:100px;
float:left;
}

.nb_block2_t3 .i img
{
margin:35px 0 0 0;
}

.nb_block2_t3 .t:before
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block2_t4
{
margin-top:70px;
}

.nb_block2_t4 img
{
max-width:100%;
}

.nb_block2_t4 .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #ff7904;
}

.nb_block2_t4 .zz
{
color:#ec8244;
font-size:32px;
margin-bottom:30px;
}

.nb_block2_t4 .bg
{
background:#fff;
padding:100px 0 100px 100px;
}

.nb_block2_t4 .bg:after
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block2_t4 .bg .r
{
position:relative;
overflow:hidden;
}

.nb_block2_t4 .bg .r img
{
position:relative;
/*right:-20%;*/
max-width:130%;
}

.nb_block2_t4.fl  img
{
float:left;
margin-right:20px;
margin-bottom:20px;
margin-top:20px;
width:10%;
}

.nb_block2_t4.fl .p18
{
font-size:18px;
width:88%;
float:right;
margin-top:3.5%;
}

.nb_block2_t4.fl .p18:before
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block2_t4 .img_f
{
margin-bottom:30px;
}

.nb_block2_t4 .img_f img
{
width:90%;
-webkit-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
}

.nb_block2_tw
{
padding:100px 0;
margin-top:90px;
font-size:18px;
background: url('../images/nb_block2_tw.png') top center no-repeat;
background-size:cover;
color:#fff;
text-align:center;
}

.nb_block2_tw .z
{
text-transform:uppercase;
font-size:28px;
display:block;
margin-bottom:40px;
padding-bottom:25px;
background: url('../images/nb_block2_tw_z.png') bottom center no-repeat;
}

.nb_block2_tw .padd
{
background:#685653;
padding:60px 40px;
text-align:left;
height:260px;
box-sizing:border-box;
position:relative;
display:inline-block;
width:31%;
vertical-align:top;
text-align:left;
margin:0 10px 30px 10px;
}

.nb_block2_tw .padd span
{
position:absolute;
right:30px;
bottom:30px;
z-index:1;
width:32px;
height:32px;
display:block;
background: url('../images/nb_block2_tw_ch.png') 0 0 no-repeat;
}

.nb_block2_tw .b
{
margin-top:50px;
float:left;
width:100%;
}

.nb_block2_tw .b a
{
display:inline-block;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
border:1px solid #fff;
color:#fff;
text-decoration:none;
width:30.7%;
padding-top:15px;
padding-bottom:15px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
transition-duration: .2s;
}

.nb_block2_tw .b a:hover
{
text-decoration:none;
background:#fff;
color:#685653;
}



.nb_block2 ul
{
list-style:none;
margin:0;
padding:0;
}

.nb_block2 ul li
{
margin:5px 0;
font-size:16px;
padding-left:25px;
background: url('../images/nb_block2ul.png') left 10px no-repeat;
}

.nb_block2_bg
{
padding-top:50px;
padding-bottom:50px;
background: url('../images/nb_block2_bg.png') center top no-repeat;
background-size:cover;
}

.ptop50
{
padding-top:50px;
}

@media  (max-width: 1199px){
.nb_block2_t .title{font-size:37px;}
.nb_block2_t4.fl .p18{width:87%;}
.nb_block2_tw .padd{width:46%;}
}

@media  (max-width: 991px){
.nb_block2_t .title{font-size:28px;}
.nb_block2{overflow:hidden;}
.nb_block2_tt{height:760px;}
.nb_block2_tt .col-md-5{text-align:center;}
.nb_block2_t3 .i{margin-top:30px;}
.nb_block2_t4 img{max-width:100% !important;margin:20px 0;}
.nb_block2_t4 .bg{padding:30px;}
.nb_block2_tw .padd{height:310px;}
}

@media  (max-width: 767px){
.nb_block2_tw .padd{width:96%;margin-right:0;display:block;height:auto;}
.nb_block2_tw .b a{width:100%;box-sizing:border-box;}
.nb_block2_t4.fl img{float:none;margin-right:0;width:100%;}
.nb_block2_t4.fl .p18{width:100%;}
.nb_block2_t .title br{display:none;}
.nb_block2_t3{padding-top:40px;padding-bottom:40px;}
.nb_block2_t3 .z{margin-bottom:0;}
}


.fl_img1,
/*.fl_img2,*/
/*.fl_img3,*/
/*.fl_img4,*/
/*.fl_img5,*/
.fl_img6,
.fl_img7
{
margin: 0 auto;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
position: relative;
opacity: 0;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
}

.fl_img1.s,
/*.fl_img2.s,*/
/*.fl_img3.s,*/
/*.fl_img4.s,*/
/*.fl_img5.s,*/
.fl_img6.s,
.fl_img7.s
{
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
/* transform: scale(1); */
}

.fl_img2
{
opacity: 0;
top: 500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img2.s
{
opacity: 1;
top: 0;
}

.fl_img3
{
opacity: 0;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.fl_img3.s
{
opacity: 1;
}

.fl_img4
{
opacity: 0;
left: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img4.s
{
opacity: 1;
left: 0;
}

.fl_img5
{
opacity: 0;
right: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img5.s
{
opacity: 1;
right: 0;
}

.nb_block1 .nb_block1_ts{overflow:hidden;}