/* OFFICE N - ROW (MOSCOW) */
.box-offices-opened h2, .box-offices-opened .h2 {
    width: 203px;
}

.double-office .close {
    display: none;
}

.double-office .box-content .contacts-bg .phone-bg {
    cursor: pointer;
    color: #323694;
    font-weight: bold;
    text-decoration: none;
    font-size: 32px;
    border-bottom: 2px dotted #323694;
    padding-bottom: 8px;
    letter-spacing: -1.3px;
    position: static;
    display: inline-block;
    margin: 13px 0 0 19px;
}

.double-office .box-content .contacts-bg .link-bg {
    display: inline-block;
    color: #414141;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 43px 0 0 20px;
    letter-spacing: -0.2px;
}

.double-office .box-content .contacts-bg {
    background: url('/bitrix/templates/.default/images/main-sprite.png') no-repeat -675px -502px;
    height: 140px;
    width: 240px;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.double-office .box-content {
    overflow: hidden;
    padding: 0px;
    width: 240px;
    height: 140px;

    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
}

.double-office .box-offices-control {
    position: absolute;
    width: 240px;
    bottom: 0;
    display: none;
}

.double-office .office-col {
    width: 240px;
    /*float: left;*/
}

.double-office .office-col .box-office-main {
    margin: 3px 0 -4px 0;
    font-size: 15px;
    padding: 6px 18px 0;
}

.double-office .box-offices-item {
    min-height: 59px;
    background: #fff;
}

.box-offices-open {
    z-index: 1;
}

.table-office-col {
    margin: 5px 0 0 0;
}

/* office open */
/*.box-offices-opened .office-col {
	float: left;
	width: 240px;
	padding: 5px 0 25px 0;
}*/
.box-offices-opened .box-content {
    left: -243px;
    width: 480px !important;
    height: auto;
    min-height: 166px;
    border: 1px solid #888;
    box-shadow: 0 0 23px #fff;
    z-index: 5;

    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
}

.box-offices-opened {
    width: 480px !important;
}

.box-offices-opened .box-offices-control {
    width: 480px;
}

.box-offices-opened .close {
    right: -4px;
    background-position: -109px -41px;
}

.box-offices .h2 {
    font-size: 14px;
}

.box-offices-scroll-root .box-offices-control {
    position: absolute;
    bottom: 0;
    box-shadow: inset 0 -5px 10px #FFF;
}

/* OFFICE SINGLE (ABAKAN) */
.box-office-single .box-content {
}

.box-office-single {
    font-size: 13px;
    background: #FFF;
}

.box-office-single .box-offices-item {
    padding: 12px 18px 0;
    margin-bottom: 0;
    line-height: 15px;
}

.box-office-single .box-offices-item li:before {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    top: 1px;
    left: 0;
    position: absolute;
    background: url(/bitrix/templates/.default/images/main-sprite.png) no-repeat;
}

.box-office-single .box-offices-item li {
    display: inline-block;
    line-height: 15px;
    min-height: 15px;
    margin: 0 0 8px 1px;
    background: none;
    position: relative;
}

.box-office-single .box-offices-item li a {
    text-decoration: none;
}

.box-office-single .box-offices-item li a:hover {
    border-bottom: 1px solid #D21881;
}

.box-office-single .box-offices-item .office-name:before {
    background-position: -182px -194px;
}

.box-office-single .box-offices-item .office-phone:before,
.box-office-single .box-offices-item .office-phone-icn:before,
.box-office-double .box-offices-item .box-office-phone:before,
.box-offices-scroll .box-offices-item .box-office-phone :before,
.box-offices-3 .box-offices-item .box-office-phone:before {
    background-position: -181px -101px;
}

.box-office-single .box-offices-item .office-phone {
    font-weight: bold;
    font-size: 16px;
    width: 148px;
}

.box-office-single .box-offices-item .office-time:before {
    background-position: -182px -261px;
}

.box-office-single .box-offices-item .office-email:before {
    background-position: -182px -68px;
}

.box-office-single .box-offices-item .office-email {
    color: #323694;
}

/*
.box-office-single .box-offices-item .box-office-phone {
	margin: 3px 0 0 0;
	font-size: 16px;
	background: url("/bitrix/templates/main/img/phone.png") no-repeat 0 2px;
	padding: 0 0 0 20px;
}
.box-office-single .box-offices-item img {
	margin-right: 5px;
}
.box-office-single .box-offices-item:hover {
	background: #f4f4f4;
}

.box-office-single .box-offices-item {
	padding: 15px 0 15px 20px;
	min-height: inherit;
	border-top: 1px solid #CCC;
	overflow: hidden;
}*/

/* OFFICE 2 (N.NOVGOROD) */
.box-office-double {
    font-size: 13px;
}

.box-office-double .box-offices-item .place {
    height: 20px;
    margin-top: -2px;
}

.box-office-double .box-offices-item .box-office-phone {
    margin: 3px 0 0 0;
    font-size: 16px;
    padding: 0 0 0 20px;
}

.box-office-double .box-offices-item img {
    margin-right: 5px;
}

.box-office-double .box-offices-item:hover {
    background: #f4f4f4;
}

.box-office-double .box-offices-item .office-name {
    line-height: 13px;
    min-height: 20px;
    margin-top: 3px;
}

.box-office-double .box-offices-item {
    padding: 15px 0 15px 20px;
    min-height: inherit;
    border-top: 1px solid #CCC;
    overflow: hidden;
    height: 38px;
    background: #fff;
}

/* OFFICE SCROLL <= 4 ROW (SPB, KRASNOYARSK) */
.box-offices-scroll {
    font-size: 13px;
}

.box-offices-scroll .box-offices-item {
    padding: 6px 0 6px 20px;
    height: 40px;
    border-top: 1px solid #CCC;
    overflow: hidden;
    background: #fff;
}

.box-offices-scroll .box-offices-item .box-office-phone {
    margin: 3px 0 0 0;
    font-size: 15px;
    padding: 0 0 0 20px;
}

.box-offices-scroll .box-offices-item img {
    margin-right: 5px;
}

.box-offices-scroll .box-offices-item:hover {
    background: #f4f4f4;
}

.box-offices-scroll + .box-offices-control {
    padding: 2px;
}

.box-offices-scroll + .box-offices-control span {
    font-size: 11px;
    margin: 0 9px 0 0;
}

/* OFFICE 3 ROW (NOVOSIBIRSK) */
.box-offices-3 .box-offices-item .box-office-phone {
    margin: 5px 0 0 0;
    font-size: 16px;
    padding: 0 0 0 20px;
}

.box-offices-3 .box-offices-item img {
    margin-right: 5px;
}

.box-offices-3 .box-offices-item:hover {
    background: #f4f4f4;
}

.box-offices-3 .box-offices-item {
    padding: 4px 0 4px 20px;
    min-height: inherit;
    border-top: 1px solid #CCC;
    overflow: hidden;
    max-height: 46px;
    background: #fff;
}

.box-offices-3 {
    height: 139px;
    font-size: 13px;
}

.box-offices-3 a {
    text-decoration: none;
    color: #414141;
}

.box-free-region {
    background: url('img/map.png') 5px 5px no-repeat;
    height: 134px;
    padding: 0;
    color: #27425F;
    font-family: Helvetica;
    position: relative;
}

.box-free-region .wrap-fr > div {
    position: absolute;
}

.box-free-region .wrap-fr .name-fr {
    top: 19px;
    font-size: 18px;
    left: 17px;
}

.box-free-region .wrap-fr .phone-fr {
    font-size: 27px;
    text-shadow: 0.5px 0.866px 3px #27425F;
    bottom: 27px;
    left: 20px;
}

.box-free-region .wrap-fr .desc-fr {
    font-size: 14px;
    bottom: 2px;
    left: 19px;
}

.call-ord {
    color: #323694;
}

/*extra-small - small*/
@media (max-width: 767px) {
    .box-offices {
        height: auto;
    }

    .box-offices .box-title {
        height: 26px;
        line-height: 26px;
    }

    .box-offices .box-title .full {
        display: none
    }

    .box-offices .box-title .short {
        display: block
    }

    .box-offices .box-content {
        height: auto;
        min-height: 0 !important;
        overflow: visible;
        top: 39px;
        position: static;
        width: 100%;
        background-color: transparent;
    }

    .double-office .box-content .contacts-bg {
        height: 150px;
        margin-top: -40px;
        background-image: url("img/contact@x1.png");
        position: relative;
        width: 100%;
        background-position: 105% 100%;
        border-bottom: none;
    }

    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
        .double-office .box-content .contacts-bg {
            background-image: url("img/contact@x2.png");
            background-size: 220px;
        }
    }

    @media only screen and (-Webkit-min-device-pixel-ratio: 4), only screen and (-moz-min-device-pixel-ratio: 4), only screen and (-o-min-device-pixel-ratio: 4/1), only screen and (min-device-pixel-ratio: 4), only screen and (min-resolution: 384dpi) {
        .double-office .box-content .contacts-bg {
            background-image: url("img/contact@x4.png");
            background-size: 220px;
        }
    }

    .double-office .box-content .contacts-bg .link-bg {
        display: block;
        padding-top: 54px;
        margin-top: 0;
    }

    .double-office .box-content .contacts-bg .phone-bg {
        margin-top: 10px;
    }

    .table-office-col {
        display: none;
    }

    .box-offices-opened {
        width: 100% !important;
        position: absolute;
        top: 0;
        z-index: 1000;
        background-color: #FFF;
    }

    .box-offices-opened .box-title {
        width: auto;
        height: auto;
        line-height: 26px;
        padding: 15px 40px 13px 20px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #b3b8c6;
        position: relative;
        background: #4388c4;
        background: -moz-linear-gradient(top, #4388c4 0%, #3260b5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4388c4), color-stop(100%, #3260b5));
        background: -webkit-linear-gradient(top, #4388c4 0%, #3260b5 100%);
        background: -o-linear-gradient(top, #4388c4 0%, #3260b5 100%);
        background: -ms-linear-gradient(top, #4388c4 0%, #3260b5 100%);
        background: linear-gradient(to bottom, #4388c4 0%, #3260b5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4388c4', endColorstr='#3260b5', GradientType=0);
    }

    .box-offices-opened .box-content {
        width: 100% !important;
        min-height: 0;
        border: none;
    }

    .box-offices-opened .close {
        top: 12px;
        right: 12px;
        background-position: -101px -71px;
    }

    .box-offices-opened .close img {
        display: none;
    }

    .box-offices-opened .table-office-col {
        display: block;
        margin-top: 29px;
    }

    .box-offices-opened .box-offices-control {
        width: 100%;
    }

    .double-office .office-col {
        width: auto;
        float: none;
        position: relative;
    }

    .double-office .office-col .box-office-main {
        position: absolute;
        top: -27px;
        width: 100%;
        margin: 0;
        left: -6px;
    }

    .double-office .box-offices-item {
        min-height: 0;
        padding: 0 0 10px 10px;
    }

    .double-office .box-offices-item .metro,
    .double-office .box-offices-item .phone,
    .double-office .box-offices-item .place,
    .double-office .box-offices-item .mail {
        display: block;
    }

    .box-offices-item img {
        border: 1px solid red;
    }

    .box-offices-item .box-office-phone:before {
        content: initial;
    }

    .box-offices-item .a-phone .box-office-phone:before {
        content: '';
    }

    .box-offices-item .a-phone .box-office-phone {
        margin: 15px 0;
    }

    .box-offices-scroll-root.box-offices {
        height: 180px;
    }

    .box-offices-scroll-root .box-content {
        position: absolute;
        min-height: 140px !important;
    }

    .box-offices-scroll .jspPane {
        width: 100% !important;
    }

    .box-offices-scroll + .box-offices-control {
        padding: 0
    }

    .box-offices-scroll .box-offices-item {
        line-height: 1.5em;
        height: auto;
    }

    .box-offices-scroll-root .box-offices-item
    .box-office-double .box-offices-item {
        padding: 10px 0 12px 20px;
        height: 45px;
    }

    .box-offices-scroll-root .box-offices-item,
    .box-office-double .box-offices-item .office-name {
        font-size: 16px;
    }

    .box-offices-scroll-root .box-offices-item .box-office-phone,
    .box-office-double .box-offices-item .box-office-phone {
        font-size: 22px;
    }

    .box-office-single .box-offices-item li {
        display: block;
    }

    .box-offices-item .a-phone {
        color: #414141;
        text-decoration: none;
    }

    .box-offices-item .a-name {
        color: #414141;
        text-decoration: none;
    }
}
