
.old-price{
	font-size: 35px;
	color: gray;
	text-decoration: line-through;
}
.price-block{
	display: flex;
	flex-direction: column;
}


@media(max-width: 420px){
	.price-block{
		padding-bottom: 40px;
	}
}

@media only screen and (max-width: 480px) {
	.portal-price .portal-box {
		position: absolute;
		bottom: 45px;
		right: 45px;
		height: 135px;
		width: auto;
		display: block;
	}
}
@media (max-width: 420px) {
	.price-block {
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.card-portal-price {
		display: block;
        margin: 0!important;
	}
}