.testimonials__list {
    padding-top: 50px;
    font-family: Roboto-Regular;
}

.testimonials__items {
    padding-bottom: 65px;
}

.testimonials__item {
    -webkit-box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:  -4px 8px 46px 0px rgba(0, 0, 0, 0.12);
    box-shadow:  -4px 8px 46px 0px rgba(0, 0, 0, 0.12);
}

.testimonials__item:nth-child(n+2) {
    margin-top: 40px;
}

.testimonials__item::after {
    content: '';
    display: block;
    clear: both;
}

.testimonials__item-info {
    float: left;
    width: 300px;
}

.testimonials__item-content {
    float: left;
    width: 840px;
}

.testimonials__item-info {
    position: relative;
    padding: 190px 50px 45px 50px;
}

.testimonials__item-logo {
    position: absolute;
    top: 95px;
    left: 50px;
    max-width: 200px;
    max-height: 75px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testimonials__item-company-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.testimonials__item-author-name {
    font-size: 16px;
    line-height: 25px;
}

.testimonials__item-author-position {
    color: #656565;
    font-size: 14px;
    line-height: 25px;
}

.testimonials__item-content {
    padding: 50px 45px 45px;
    border-left: 1px solid #eeedf2;
}

.testimonials__item-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
}

.testimonials__item-date {
    position: relative;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
    padding-left: 26px;
    color: #656565;
    font-size: 12px;
    line-height: 26px;
}

.testimonials__item-file {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    color: #324abd;
    font-size: 12px;
    line-height: 26px;
}

.testimonials__item-date::before,
.testimonials__item-file::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    background: transparent url(images/testimonials_icons.png) no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testimonials__item-date::before {
    width: 14px;
    height: 14px;
    background-position: 0 0;
}


.testimonials__item-file::before {
    width: 12px;
    height: 16px;
    background-position: -14px 0;
}

.testimonials__item_video .testimonials__item-content::after {
    content: '';
    display: block;
    clear: both;
}

.testimonials__item_video .testimonials__item-video {
    float: left;
    margin-right: 35px;
    width: 325px;
}

.testimonials__item_video .testimonials__item-video iframe {
    width: 325px;
    height: 184px;
    border: none;
}

.testimonials__item_video .testimonials__item-text-wrapper {
    float: left;
    width: 389px;
}

.testimonial__pagination {
    position: relative;
    border-top: 1px solid #eaeaea;
}

.testimonial__pagination .pagination {
    width: 100%;
    text-align: center;
}

.testimonial__pagination .pagination > li > a,
.testimonial__pagination .pagination > li > span {
    float: none;
}

.testimonial__pagination .pagination > li.page-next > a,
.testimonial__pagination .pagination > li.page-next > span {
    position: absolute;
    right: 0;
    left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.testimonial__pagination .pagination > li.page-previous > a,
.testimonial__pagination .pagination > li.page-previous > span {
    position: absolute;
    left: 0;
    right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width: 1199px) {
    .testimonials__item-content {
        width: 640px;
    }
    .testimonials__item_video .testimonials__item-video,
    .testimonials__item_video .testimonials__item-text-wrapper {
        width: 100%;
    }

    .testimonials__item_video .testimonials__item-video {
        margin-right: 0;
    }

    .testimonials__item_video .testimonials__item-video iframe {
        width: 549px;
        height: 315px;
        max-width: 100%;
    }

    .testimonials__item_video .testimonials__item-text-wrapper {
        margin-top: 30px;
    }

    .testimonial__pagination .pagination > li.page-next > a,
    .testimonial__pagination .pagination > li.page-next > span,
    .testimonial__pagination .pagination > li.page-previous > a,
    .testimonial__pagination .pagination > li.page-previous > span {
        position: static;
    }
}

@media (max-width: 991px) {
    .testimonials__item-info {
        width: 100%;
        padding: 30px 260px 30px 30px;
        min-height: 140px;
    }

    .testimonials__item-logo {
        top: 50%;
        left: auto;
        right: 30px;
    }

    .testimonials__item-content {
        width: 100%;
        padding: 0 30px 30px 30px;
    }

    .testimonials__item_video .testimonials__item-video,
    .testimonials__item_video .testimonials__item-text-wrapper {
        width: 100%;
    }

    .testimonials__item_video .testimonials__item-video iframe {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .testimonials__item-info {
        padding: 135px 30px 30px 30px;
    }

    .testimonials__item-logo {
        top: 67px;
        left: 30px;
    }

    .testimonials__item_video .testimonials__item-video iframe {
        height: 200px;
    }
}