/*Main slider*/

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
    outline: 0px !important;
    outline-offset: 0px !important;
}
.num{
font-family: PFD-Thin;
font-size: 74px;
color: #fff;
padding-top: 10px;
width: 100%;
text-align: center;
position: relative;
top: 30%;

}

.slide-info table {width:90%;margin-bottom:10%;}

.slide-info tbody tr td {text-align:left;border:0px;
	font-family:PFD-Light;
	font-size:26px;
	color:#fff;
	font-weight:normal;
	}
	
.slide-info tbody tr td:before {
	content: "\f05d"; display: inline-block;
		font: normal normal normal 20px FontAwesome;
		color: #99abff;
		padding-right:10px;
	line-height:28px;
}

.fill {
	width: 100%;
	height: 500px;
	background-position: center;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
-o-background-size: cover; }

.carousel.vertical .carousel-inner > .item {
	width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
	
}

/*full width container*/




.banner1 h2 {
	font-size: 58px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	
	padding-bottom: 15%;
	color:#fff;
	text-align:left;
	
}

.slide-info {position:absolute;top: 20%;}


.carousel-caption.main {

left: 0%;

height: 550px;
width: 100%;

	
	
}

.banner1 .productimg {
	position: absolute;
	left: 55%;
	top: 25%;
	
}

.banner2 .productimg{position: absolute;
	left: 35%;top: 25%;
}
.banner3 .productimg{position: absolute;
	left: 45%;
	top:25%;
}



.banner1 .btn-more,
.banner2 .btn-more,
.banner3 .btn-more {float: left;
padding: 14px 10px 14px 50px;
position: relative;
border: 1px solid #fff;
background: none;

}

.banner1 .btn-more a,
.banner2 .btn-more a,
.banner3 .btn-more a {	font-family:Roboto-Regular;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;}
	
.banner1 .btn-more:hover,
.banner2 .btn-more:hover,
.banner3 .btn-more:hover {
	background:#fff;
	border:1px solid #fff;
	
}

.banner1 .btn-more:hover a,
.banner2 .btn-more:hover a,
.banner3 .btn-more:hover a {color:#324abd;text-decoration:none;} 

.btn-more span {
	position:relative;
	left:30%;
	
}


.banner2 h2 {
	font-size: 58px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	
	padding-bottom: 5%;
	color:#fff;
	text-align:left;
	
}



.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline: 0px;
    outline-offset: 0px;
}


.banner3 h2 {
	font-size: 48px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	
	padding-bottom:5%;
	color:#fff;
	text-align:left;
	
}






.carousel.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .carousel-inner > .item {
	-webkit-transition: .6s ease-in-out top;
	-o-transition: .6s ease-in-out top;
	transition: .6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel.vertical .carousel-inner > .item {
		-webkit-transition: -webkit-transform .6s ease-in-out;
		-ms-transition: -ms-transform .6s ease-in-out;
		-o-transition: -o-transform .6s ease-in-out;
		transition: transform .6s ease-in-out;
		-ms-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-ms-perspective: 1000;
		-webkit-perspective: 1000;
		perspective: 1000;
	}
	.carousel.vertical .carousel-inner > .item.next,
	.carousel.vertical .carousel-inner > .item.active.right {
		top: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	.carousel.vertical .carousel-inner > .item.prev,
	.carousel.vertical .carousel-inner > .item.active.left {
		top: 0;
		-ms-transform: translate3d(0, -100%, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	.carousel.vertical .carousel-inner > .item.next.left,
	.carousel.vertical .carousel-inner > .item.prev.right,
	.carousel.vertical .carousel-inner > .item.active {
		top: 0;
		-ms-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.carousel.vertical .carousel-inner > .active {
	top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
	top: 0;
	height: 100%;
	width: 100%;
}
.carousel.vertical .carousel-inner > .next {
	left: 0;
	top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
	left: 0;
	top: -100%
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
	top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
	left: 0;
	top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
	left: 0;
	top: 100%;
}
.carousel-caption.main .btn-more::after {
	/*
    content: "";
    
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    z-index: 1;
	*/
}

#carousel-vertical .left.carousel-control { right: 10%;
	top: 0%;
	transform: translate(-50%);
	bottom: auto;
	left: auto;
	width: auto;
	margin: 0;
	padding: 0;
	background-image:none;
}
#carousel-vertical .right.carousel-control { right: 10%;
	top: 60%;
	transform: translate(-50%);
	bottom: auto;
	left: auto;
	width: auto;
	margin: 0;
	padding: 0;
	background-image:none;
}


#carousel-vertical .clcontrols{width: 70px;
height: 400px;
display: inline-block;
position: absolute;
top: -450px;
left: 100px;
}

#carousel-vertical .carousel-indicators li {background-color:#fff;}

#carousel-vertical .carousel-indicators li.active {background-color:transparent;width:10px;height:10px;margin:1px;}

/*Fields*/

.fields {
	
	margin-bottom:70px;
}
.fields-heading{
	font-size: 42px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	padding: 35px;
	color:#25262a;
}

.icons-block1,
.icons-block2,
.icons-block3,
.icons-block4,
.icons-block5,
.icons-block6,
.icons-block7,
.icons-block8,
.icons-block9,
.icons-block10,
.icons-block11,
.icons-block12
{
	
	width: auto;
	height: 220px;
	margin-right: 14px;
	margin-bottom: 14px;
	background-color:#fff;
	-webkit-box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	border-radius: 3px;
	text-align:center;
}
.icons-block1{
	background-image:url('../img/icons/cons.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}

.icons-block2{
	background-image:url('../img/icons/med.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block3{
	background-image:url('../img/icons/insur.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block4{
	background-image:url('../img/icons/beauty.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block5{
	background-image:url('../img/icons/tour.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block6{
	background-image:url('../img/icons/edu.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block7{
	background-image:url('../img/icons/fit.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block8{
	background-image:url('../img/icons/estate.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}
.icons-block9{
	background-image:url('../img/icons/it.png');
	background-repeat:no-repeat;
	background-position:center 40px;
	
}

.icons-block10{
	background-image:url('../img/icons/auto.png');
	background-repeat:no-repeat;
	background-position:center 40px;

}

.icons-block11{
	background-image:url('../img/icons/apteka.png');
	background-repeat:no-repeat;
	background-position:center 40px;

}

.icons-block12{
	background-image:url('../img/icons/restoran.png');
	background-repeat:no-repeat;
	background-position:center 40px;

}





.icons-block1 a,
.icons-block2 a,
.icons-block3 a,
.icons-block4 a,
.icons-block5 a,
.icons-block6 a,
.icons-block7 a,
.icons-block8 a,
.icons-block9 a,
.icons-block10 a,
.icons-block11 a,
.icons-block12 a{
	font-family:Roboto-Regular;
	font-size:16px;
	color:#000;
	line-height:18px;
	text-align: center;
	padding-top:70%;
	display: block;
	
}

.icons-block-all{
	background:#fff;
	width: auto;
	height: 220px;
	margin-right: 14px;
	margin-bottom: 14px;
	-webkit-box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	border-radius: 3px;
	text-align:center;
	padding-top:40%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .icons-block-all {
        background:#fff;
		width: auto;
		height:70px !important;
		margin-right: 14px;
		margin-bottom: 14px;
		-webkit-box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
		box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
		border-radius: 3px;
		text-align:center;
		padding-top:3%;
	}
    .slide-info {
       top: 25% !important;
    }
}


.icons-block-all a{
	font-family:Roboto-Regular;
	font-size:16px;
	color:#324abd;
	line-height:18px;
	text-align: center;
	padding: 5% 0% 5% 0%;
	
}




.icons-block-all:hover a {	
	text-decoration:none;
	color:#fff;
}
.icons-block1:hover {
	
	background-image:url('../img/icons/cons1.png');
	background-repeat:no-repeat;
	background-color:#F18F1B;
	background-position:center 40px;
	transition: background 0.4s linear;
	
}
.icons-block2:hover {
	
	background-image:url('../img/icons/med1.png');
	background-repeat:no-repeat;
	background-color:#52D4BD;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block3:hover {
	
	background-image:url('../img/icons/insur1.png');
	background-repeat:no-repeat;
	background-color:#EE2A10;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block4:hover {
	
	background-image:url('../img/icons/beauty1.png');
	background-repeat:no-repeat;
	background-color:#B486AD;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block5:hover {
	
	background-image:url('../img/icons/tour1.png');
	background-repeat:no-repeat;
	background-color:#76D248;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block6:hover {
	
	background-image:url('../img/icons/edu1.png');
	background-repeat:no-repeat;
	background-color:#5F717A;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block7:hover {
	
	background-image:url('../img/icons/fit1.png');
	background-repeat:no-repeat;
	background-color:#A14EC4;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block8:hover {
	
	background-image:url('../img/icons/estate1.png');
	background-repeat:no-repeat;
	background-color:#10BCEE;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block9:hover {
	
	background-image:url('../img/icons/it1.png');
	background-repeat:no-repeat;
	background-color:#000000;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block10:hover {

	background-image:url('../img/icons/auto1.png');
	background-repeat:no-repeat;
	background-color:#DE5247;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block11:hover {

	background-image:url('../img/icons/apteka1.png');
	background-repeat:no-repeat;
	background-color:#8E39AC;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block12:hover {

	background-image:url('../img/icons/restoran1.png');
	background-repeat:no-repeat;
	background-color:#41BD99;
	background-position:center 40px;
	transition: background 0.4s linear;
}

.icons-block-all:hover {
	
	background:#324abd;
	transition: background 0.4s linear;
	
}


.icons-block1:hover a,
.icons-block2:hover a,
.icons-block3:hover a,
.icons-block4:hover a,
.icons-block5:hover a,
.icons-block6:hover a,
.icons-block7:hover a,
.icons-block8:hover a,
.icons-block9:hover a{
	color:#fff;
	text-decoration:none;
	
}



/*Benefits*/



/* Common style */
.benefits figure {
	position: relative;
	float: left;
	overflow: hidden;
	height:550px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.benefits figure img {
	position: relative;
	display: block;
	height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.benefits figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.benefits figure figcaption::before,
.benefits figure figcaption::after {
	pointer-events: none;
}

.benefits figure figcaption{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */




.benefits figure h3,
.benefits figure p,
.benefits .btn-more{
	margin: 0;
}

.fig_icon{height: auto !important;
width: auto !important;
transition: none !important;
opacity: 1 !important;
padding: 2em !important;
}
.fig_icon:hover {opacity:1 !important;transform:none !important;}

figure.effect-julia:hover .fig_icon {transform:none !important;opacity:1;}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: #324abd;
}

figure.effect-julia.gray {background:#242d3c;}

figure.effect-julia img {
	max-width: none;
	height: 550px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: center;
}

figure.effect-julia h3 {
	position: relative;
	font-family:PFD;
	font-size:30px;
	color:#fff;
	
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 3em 0em;
	font-family: Roboto-Regular;
font-size: 18px;
line-height: 28px;
color: #ffffff;
	text-transform: none;
	width:100%;
	height: 40%;
}



figure.effect-julia:hover img {
	opacity: 1;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}


figure.effect-julia .btn-more  {
	position:relative;
	border:1px solid #fff;
	background:none;
	padding:14px 60px 14px 60px;
	z-index:10;
	margin: 1.8em !important;

}

figure.effect-julia .btn-more.fourth {margin: 1em !important;}
figure.effect-julia .btn-more:hover {
	
	border:1px solid #fff;
	background:#fff;
	
}

figure.effect-julia .btn-more a {
	font-family:Roboto-Regular;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	
	
}
figure.effect-julia .btn-more:hover a {
	font-family:Roboto-Regular;
	font-size:13px;
	color:#475CC3;
	text-transform:uppercase;
	
}
figure.effect-julia .btn-more a:hover {text-decoration:none;}



.benefits {
	margin-bottom:20px;
	position:relative;
	
}

.divider {border-bottom:1px solid ##efefef;}
/*why*/

.why-heading {
	font-size: 50px;
	font-family: PFD;
	text-transform: uppercase;
	
	color:#25262a;
	
}


.btn-why  {
	
	border:1px solid #324abd;
	background: none;
	padding:10px 60px 10px 60px;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

.btn-why a {
	font-family:Roboto-Regular;
	font-size:13px;
	color: #324abd;
	text-transform:uppercase;
	
}

.btn-why:hover {
	
	border:1px solid #fff;
	background:#324abd;
	text-decoration:none;
}


.btn-why:hover a {
	font-family:Roboto-Regular;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}

.btn-why a:hover {text-decoration:none;}

.why-row {
	border-bottom:1px solid #efefef;
	margin-bottom:40px;
height: 120px;}

.why-block p {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 26px;
	color: #000; 
	
	
}
.why-block{
	
	height:250px;
}

.why-block img {
	padding:40px 0px 40px 0px;
	
}

.why {margin-bottom:120px;}


/*Bottom-slider*/

.Bottom-Slider {
	background-image: url('../img/sliderbg.png');
	background-repeat: no-repeat; 
	background-position: center;
	display:block;
	
	height:800px;
	background-size:cover;
	z-index:1;
}

.slider .carousel-inner {
	z-index:1000;
}

#text-carousel {
	width:100%;
	height:800px;
	
}

.slide1 h2 {
	font-size: 50px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10%;
	padding-bottom: 2%;
	color: #fff;
	text-align: left;
	
	
}
.slide1 h4 {
	font-size: 30px;
	font-family: PFD;
	text-align: center;
	text-transform: uppercase;
	padding-top: 4%;
	color: #fff;
	text-align: left;
	border-top: 2px solid #71ceed;
	width: auto;
	display: inline-block;
	
	
	
}
.slide1 p {
	font-size: 18px;
	font-family: Roboto-Regular;
	text-align: left;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #fff;
	text-align: left;
	display: block;
	
	
}

.slide1 .btn-more {float:left;
	padding: 14px 50px 14px 50px;
	position:relative;
	border:1px solid #fff;
	background:none;
}

.slide1 .btn-more a {	font-family:Roboto-Regular;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;}
	
.slide1 .btn-more:hover {
	background:#fff;
	border:1px solid #fff;
	
}

.slide1 .btn-more:hover a {color:#324abd;text-decoration:none;} 

/*
inspired from https://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0.5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left:0;
        opacity:0;
        -webkit-transition: opacity 1s; /*time < to $.carousel.interval setup */
        -moz-transition: opacity 1s; 
        -ms-transition: opacity 1s; 
        -o-transition: opacity 1s; 
        transition: opacity  1s;
        z-index:2;
  
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/*blog*/

.blog-heading {
	font-size: 50px;
	font-family: PFD;
	text-transform: uppercase;
	margin-top: 35px;
	color:#25262a;
	
}

.btn-blog  {
	
	border:1px solid #324abd;
	background:none;
	padding:10px 40px 10px 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	
	
}

.btn-blog a {
	font-family:Roboto-Regular;
	font-size:13px;
	color: #324abd;
	text-transform:uppercase;
	
}

.btn-blog:hover  {
	
	border:1px solid #fff;
	background:#324abd;
}

.btn-blog:hover a {
	color: #fff;
	text-decoration:none;
}


.blog1 {
display:block;


	
}

.blog1.pull-left {margin-right:20px;}

.blog1.pull-right {margin-left:20px;}

.blog1.middle {margin-left: 10px;
margin-right: 10px;
}

.b-img {position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
	text-align: center;
cursor: default;}

.b-img .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.b-img img {
	display: block;
	position: relative;
}

.b-img a.info {
	background:url(../img/link.png) center no-repeat;
	display: inline-block;
	text-decoration: none;
	padding:0;
	text-indent:-9999px;
	width:20px;
	height:20px;
}

.effect.mask {
	opacity: 0;
	overflow:visible;
	background: rgba(0,0,0,0.6);
	box-sizing:border-box;
	transition: all 0.5s ease-in-out;
}

.effect a.info {
	position: relative;
	top: 40%;
	
	opacity: 0;
	transition: opacity 0.3s 0s ease-in-out;
}

.effect:hover .mask {
	opacity: 1;
	background: rgba(0,0,0,0.6);
	transition: all 0.5s ease-in-out;
}

.effect:hover a.info {
	opacity:1;
	transition-delay: 0.3s;
}

.blog1 h4 {
font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding-top: 15px;
    height: 100px;
    display: block;
}

.text h5 a {
	font-family: Roboto-Bold;
	font-size: 10px;
	line-height: 12px;
	color: #fff; 
	padding:5px 7px 5px 7px;
	background:#324abd;
	display:block;
	border-radius:3px;
	float: left;
	letter-spacing: 2px;
	
}
.text h5 {margin-top: 0px;}
.text {padding-left: 0px;}

.date {
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 14px;
	color: #656565; 
	padding:5px 0px 5px 7px;
	
	margin-bottom:10px;
	
}
.date .fa-clock-o {padding-right: 5px;
	
}

.blog1 p{
	font-family: Roboto-Regular;
	font-size: 14px;
	line-height: 22px;
	color: #000; 
	padding-bottom:25px;
	padding-top:15px;
	
}
.blog1 a {
	font-family: Roboto-Bold;
	font-size: 14px;
	line-height: 16px;
	color: #324abd; 
	text-transform:uppercase;
	
}

.row-text {
	padding-bottom:10px;
	border-bottom:1px solid #e5e5e5;
	margin-top:20px;
}

.our-blog {margin-bottom:80px;}

/*Slider*/

.Bottom-Slider {
	background-image: url('../img/sliderbg.png');
	background-repeat: no-repeat; 
	background-position: center;
	display:block;
	
	height:800px;
	background-size:cover;
	
}


.ind-line {
	background-image: url('../img/line1.png');
	background-repeat: no-repeat;
	background-position: -780px 621px;
	position: absolute;
	top: 0px;
	display: block;
	width: 100%;
	height: 800px;
	z-index:4;
}



#text-carousel .carousel-indicators {
	background-image: url('../img/line.png');
	background-repeat: no-repeat;
	left: auto;
	top: auto;
	margin-left: auto;
	background-position: right -146px;
	height: 800px;
	display: block;
	position: absolute;
	left: 420px;
	top: 1px;
	text-indent:0px;
	
}

#text-carousel .carousel-indicators li {
	background-color: #2D43AA;
	-webkit-border-radius: 0;
	border-radius: 60px;
	display: inline-block;
	height: 50px;
	margin: 0 !important;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #71ceed;
	-webkit-transition: all 0.8s ease-in;
-moz-transition: all 0.8s ease-in;
-ms-transition: all 0.8s ease-in;
-o-transition: all 0.8s ease-in;
transition: all 0.8s ease-in;
	text-indent:0px;
}

#text-carousel .carousel-indicators li.active {
	background-color:#71ceed;
	border-radius: 60px;
}
#text-carousel .carousel-indicators li.active i {
	color:#fff;
	border-radius: 60px;
}

#text-carousel .carousel-indicators li i {
	display: block;
	font-size: 30px;	
	text-indent: initial;
	color: #71ceed;
	line-height: 50px;
		
}
#text-carousel .carousel-outer {
	position: relative;
}

#text-carousel .clcontrols {position: absolute;
	left: 200px;
	bottom: 48px;
	width:90px;
}

#text-carousel .clcontrols a:hover i {color:#71ceed;}

#text-carousel .left.carousel-control {
	top: 0;
	opacity: 1;
	bottom: auto;
	left: 0;
	width: 45px;
	margin: 0;
	padding: 0;
	background-image: none;
	z-index: 100;
	height:48px;
	border:1px solid #fff;
	border-radius:5px 0px 0px 5px;
	
}
#text-carousel .right.carousel-control { 
	top: 0;
	opacity: 1;
	bottom: auto;
	right: 0;
	width: 45px;
	margin: 0;
	padding: 0;
	background-image: none;
	z-index: 100;
	height:48px;
	border:1px solid #fff;
	
	border-radius:0px 5px 5px 0px;
}

#text-carousel .left.carousel-control i {
	
	font-size:25px;
	color:#fff;
	line-height:40px;
	display: block;
	padding: 3px 14px 3px 14px;
	
}
#text-carousel .right.carousel-control i {
	
	font-size:25px;
	color:#fff;
	line-height:40px;
	display: block;
	padding: 3px 14px 3px 14px;
	
}

#first{
	position: absolute;
	top: 635px;
	right: 1050px;
	
	
}

#second {
	position: absolute;
	top: 635px;
	right: 950px;
	
	
}

#third{
	position: absolute;
	top: 635px;
right: 870px;	
}

#fourth {
	position: absolute;
	top: 635px;
right: 780px;
	
}

#fifth {
	position: absolute;
	top: 629px;
right: 690px;
	
}

#sixth {
	position: absolute;
	top: 610px;
right: 590px;
	
}


#seventh {
	position: absolute;
top: 580px;
right: 490px;
	
}

#eight {
	position: absolute;
top: 540px;
right: 400px;	
	
}
#nine {
	position: absolute;
	right:310px;
	top:490px;
	
}

#ten {
	position: absolute;
top: 420px;
right: 230px;
	
}

#eleven {
	position: absolute;
	top: 320px;
	right: 140px;
	
}

#twelve{
	position: absolute;
	top: 143px;
	right: 40px;	
}


/*Blog Page */


/*search-block*/

.search-block {background:#324abd;}

.search-block h1 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	line-height:50px;
	margin-bottom:20px;
	
}

.heading-block {background:#324abd;}

.heading-block h1 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	line-height:50px;
	margin-bottom:20px;
	text-transform:uppercase;
	
}

.input-group.search {
	margin-top: 28px;
}

.input-group-addon {background-color:#fff;
	border:none;
border-radius:0px;}

.input-group-addon i {font-size: 20px;
    color: #000;
}


.search .form-control {
	border:1px solid #fff;
	box-shadow: none;
	font-family:Roboto-Regular;
	font-size:16px;
	color:#949494;
	border-radius:0px;
}

/*breadcrumb-block*/

.breadcrumb-block{background: #fff;
	border-bottom: 1px solid #efefef;
}


.breadcrumb {
	margin-bottom: 0px;
	background-color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:0px;
	
}

.breadcrumb  li a {
	font-family:Roboto-Regular;
	font-size:12px;
	color:#656565;
	
	
}

/*Sidebar*/


/*
	* Off Canvas
	* --------------------------------------------------
*/
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	
	.sidebar-offcanvas {
		position: absolute;
		width: 100%; /* 6 columns */
		display: none;
		background:#fff;
		
	}
	
	.row-offcanvas-left {
		left: 0;
	}
	
	.row-offcanvas-left.active
	.sidebar-offcanvas {
		display: block;  
		left: 0;
		top: 0;
		z-index: 1;
	}
	
	.row-offcanvas-left.active
	.main-blog{display:none;
		
	}
	
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	
	.sidebar-offcanvas {
		position: absolute;
		width: 44%; /* 6 columns */
		display: none;
		background:#fff;
		
	}
	
	.row-offcanvas-left {
		left: 0;
	}
	
	.row-offcanvas-left.active
	.sidebar-offcanvas {
		display: block;
		left: 22px;
		top: 90px;
		z-index: 2;
		box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.26);
		padding-left: 15px;
		
	}

}





.widget h2, .subsnews h2 {font-family:PFD;
	font-size:30px;
	color:#010101;
	text-transform:uppercase;
}

.widget ul {
	list-style:none;
	padding-left:0px;
	padding-bottom:20px;
	border-bottom:1px solid #efefef;
}

.widget li  a{
	font-family:Roboto-Regular;
	font-size:18px;
	color:#000;
	text-align:left;
	line-height:36px;
	text-decoration:none;
	
}

.widget li:hover a {
	text-decoration:none;
	color:#324abd;
	
}

.tagspopular .btn-sm {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#a0a0a0;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 4px 17px;
	margin-right: 5px;
	margin-bottom: 10px;
	
	
}

.tagspopular .btn-sm:hover {
	
	color:#324abd;
	background-color: #fff;
	border: 1px solid #324abd;
	
	
	
}

.tagspopular {margin-top: 30px;
	padding-bottom: 20px;
	border-bottom:1px solid #efefef;
}


#email.form-control {
	height: 45px;
	border: 1px solid #eaeaea;
	border-radius: 0px;
	box-shadow: none;
	
	
}

.subnews {
	margin-top: 20px;
	margin-bottom: 20px;
	
	
}

.subsnews .btn-default {
	background-color: #324abd;
	color: #fff;
	padding: 15px 55px 15px 55px;
	
	
}

.subsnews .btn-default:hover{
	background-color: #fff;
	color: #324abd;
	padding: 15px 55px 15px 55px;
	border:1px solid #324abd;
	
	
}

.sidebar {
	margin-top: 19px;
}

/*blog*/

.main-blog {margin-bottom:40px;
margin-top:45px;}

.blog-heading {
	font-size: 50px;
	font-family: PFD;
	text-transform: uppercase;
	margin-top: 35px;
	color:#25262a;
	
}



.btn-blog  {
	
	border:1px solid #324abd;
	background:none;
	padding:10px 40px 10px 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	
	
}

.btn-blog a {
	font-family:Roboto-Regular;
	font-size:13px;
	color: #324abd;
	text-transform:uppercase;
	
}

.btn-blog:hover  {
	
	border:1px solid #fff;
	background:#324abd;
}

.btn-blog:hover a {
	color: #fff;
}




.b-img {position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
	text-align: center;
cursor: default;}






.b-img .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.b-img img {
	display: block;
	position: relative;
}

.b-img a.info {
	background:url(../img/link.png) center no-repeat;
	display: inline-block;
	text-decoration: none;
	padding:0;
	text-indent:-9999px;
	width:20px;
	height:20px;
}



.effect.mask {
	opacity: 0;
	overflow:visible;
	background: rgba(0,0,0,0.6);
	box-sizing:border-box;
	transition: all 0.5s ease-in-out;
}

.effect a.info {
width: 100%;
height: 100%;
	position: relative;
	top: 0 !important;
margin-top: 0 !important;
	
	opacity: 0;
	transition: opacity 0.3s 0s ease-in-out;
}

.effect:hover .mask {
	opacity: 1;
	background: rgba(0,0,0,0.6);
	transition: all 0.5s ease-in-out;
}

.effect:hover a.info {
	opacity:1;
	transition-delay: 0.3s;
}

.blog1 h4 {
font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding-top: 15px;
    height: 100px;
    display: block;
}

.text h5 a {
	font-family: Roboto-Bold;
	font-size: 10px;
	line-height: 12px;
	color: #fff; 
	padding:5px 7px 5px 7px;
	background:#324abd;
	display:block;
	border-radius:3px;
	float: left;
	letter-spacing: 2px;
	
}

.text {padding-left: 0px;}

.text h5 {margin-top:0px;}

.date {
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 14px;
	color: #656565; 
	padding:5px 0px 5px 7px;
	
	margin-bottom:10px;
	
}
.date .fa-clock-o {padding-right: 5px;
	
}

.blog1 p{
	font-family: Roboto-Regular;
	font-size: 13px;
	line-height: 22px;
	color: #000; 
	padding-bottom:25px;
	padding-top:15px;
	
}
.blog1 a {
	font-family: Roboto-Bold;
	font-size: 14px;
	line-height: 16px;
	color: #324abd; 
	text-transform:uppercase;
	
}

.blog1 {
	margin-bottom:50px;
}

.row-text {
	padding-bottom:10px;
	border-bottom:1px solid #e5e5e5;
	margin-top: 10px;
}

.our-blog {margin-bottom:80px;}


.pagination-row {text-align: center;}

.pagination li a {
	font-family:Roboto-Regular;
	font-size:18px;
	color:#000;
	border:none;
	
}
.pagination li a:hover {background-color:#fff;}
.pagination li:hover a,.pagination li:hover span {color:#324abd; text-decoration:none;background-color:#fff;}
.pagination li a:active,.pagination > li > a:focus {color:#324abd; text-decoration:none;background-color:#fff;}

.pagination > li.page-previous > a, .pagination > li.page-previous > span {position: relative;
left: -38%;
font-size:14px;
color:#949494;
}

.pagination > li.page-previous > a:hover, .pagination > li.page-previous > span:hover {color:#324abd; text-decoration:none;background-color:#fff;}

.pagination > li.page-next > a:hover, .pagination > li.page-next > span:hover {color:#324abd; text-decoration:none;background-color:#fff;}

.pagination > li.page-next > a, .pagination > li.page-next > span {position: relative;
left: 48%;

font-size:14px;
color:#949494;}
.pagination li a.active {color:#324abd;font-weight: bold;}


/*Blog-item*/
	

.blog-item .btn-sm {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#a0a0a0;
	background-color: #fff;
border: 1px solid #e5e5e5;
padding: 4px 17px;
margin-right: 5px;
margin-bottom: 10px;

	
}

.blog-item .btn-sm:hover {
	
	color:#324abd;
	background-color: #fff;
border: 1px solid #324abd;
	
}


.date .date{
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 20px;
	color: #656565; 
	padding:5px 7px 5px 7px;
	margin-right:20px;
	margin-bottom:10px;
	
}

.date .views {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 20px;
	color: #656565; 
	padding:5px 7px 5px 7px;
	
	margin-bottom:10px;
}


.blog-item .date i {padding-right: 5px;
	font-size: 18px;
	color: #656565;
	line-height: 20px;
}

.blog-item img{padding-bottom: 25px;}

.main-blog {margin-bottom:40px;
	margin-top:45px;}

.blog-heading {
	font-size: 50px;
	font-family: PFD;
	text-transform: uppercase;
	margin-top: 35px;
	color:#25262a;
	
}

.btn-blog  {
	
	border:1px solid #324abd;
	background:none;
	padding:10px 40px 10px 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	
	
}

.btn-blog a {
	font-family:Roboto-Regular;
	font-size:13px;
	color: #324abd;
	text-transform:uppercase;
	
}

.btn-blog:hover  {
	
	border:1px solid #fff;
	background:#324abd;
}

.btn-blog:hover a {
	color: #fff;
}


.blog-item p{
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 24px;
	color: #000; 
	padding-bottom:20px;
	
}
.blog-item a {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 24px;
	color: #324abd; 
	
	
}

.main-blog .material{
	margin-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #eaeaea;
}

.content-bottom .btn-sm {
	margin-left: 50px;
	background:none;
	padding:0px;
}
.content-bottom .btn-sm a {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 35px;
	color: #324abd; 
	
}

.row-text {
	padding-bottom:10px;
	border-bottom:1px solid #e5e5e5;
}


/*buy license - box */

.buy-license .btn-buy {
	
	background:#324abd;
	padding:10px 30px 10px 30px;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-transform:uppercase;
	width: auto;
	float: right;
}

.buy-license .btn-buy:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	color: #324abd;
	
}

.buy-license .nav-tabs {
    border-bottom: 2px solid #fff;
	background:#f9f8fe;
	margin-bottom:70px;
}



.buy-license .nav-tabs > li.active > a,.buy-license .nav-tabs > li.active > a:focus,.buy-license .nav-tabs > li.active > a:hover {
    color: #324abd;
    cursor: default;
		border:0px;
    border-bottom: 2px solid #324abd;
	outline:none;
	background-color:#f9f8fe;

   
}

.buy-license .nav-tabs > li > a:focus,.buy-license .nav-tabs > li > a:hover {
    text-decoration: none;
    background-color:#f9f8fe !important;
	outline:none;
			border:0px;
    border-bottom: 2px solid #324abd;
}


.buy-license .nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
	font-family:PFD;
	font-size:30px;
	color:#afafaf;
	
}

.buy-license {z-index:1;position:relative;}

.buy-license:before {
	    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:28%;
    content:"";
    background-color:#f9f8fe;
	
}

#box {background:#fff;
padding:30px;
padding-top:50px;
height:670px;
		box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 
		margin-bottom:70px;
		width: 100%;
	}
	

#box .table thead tr th {padding:15px; text-align: center;
	font-family:PFD;
	font-size:26px;
	color:#25262a;
	text-transform:uppercase;
	font-weight:normal;
	line-height:32px;
	border:1px solid #eeedf2;
	vertical-align: middle;
	
	}
	
	#box .table thead tr {border:1px solid #eeedf2;}
	
#box .table tbody tr th{padding:15px 15px;
	font-family:Roboto-Medium;
	font-size:16px;
	color:#25262a;
	font-weight:normal;
        max-width: 135px;
	}

#box .table tbody tr .section-header {
        border-top: 1px solid #eeedf2;
        text-align: center;
        background: #F3F6F8;
        font-size: 20px;
        color: #7A8890;
        letter-spacing: 0.1em;
        text-transform: none;
}

#box .table tbody tr td {padding: 20px 15px;
text-align: center;
border:1px solid #eeedf2;
font-family:Roboto-Regular;
	font-size:16px;
	color:#25262a;
	font-weight:normal;
	vertical-align: middle;
}

#box .btn-buy {float:none;}

#box  .table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {text-align:left;border:0px;}

.fa-minus-circle {color:#d3d3d3;font-size:20px;}

.fa-plus-circle {color:#71bb49;font-size:20px;}

.fa-plus-circle + .fa-plus-circle {
   margin-left: 5px;
}

.leavecomment {
		background-image:url('../img/buy/leavebg.png');
	background-position:center center;
	background-repeat:no-repeat !important;
background-size:cover;
	
}

.leavecomment h2 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	text-transform:uppercase;
	line-height:50px;
	width:70%;
	padding-bottom:30px;
	margin-bottom:30px;
	background-image:url('../img/buy/border.png') !important;
	background-position:bottom left !important;
	background-repeat:no-repeat !important;
	margin-top:0px;
	border-bottom:0px !important;
	
}

.dontknow {padding-bottom:100px;padding-top:100px;}

.leavecomment p{font-family:Roboto-Regular;
	font-size:16px;
	color:#fff;
	padding-right:40px;}
	
.dontknow .form-group {width:60%;}

.dontknow .row.submit {border:0px;width:60%;padding:0px;padding-top:20px;}

.dontknow .row.submit .btn-default {float:left;border:1px solid #324abd;}

.dontknow form {padding-left:20%;}

/*buy license - cloud */

.cloud1 {height:400px;background:#fff;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12);margin-right:25px;border-radius:5px;
	
	margin-top:20px;
	}
	
.cloud1 h2 {font-family:PFD;
	font-size:26px;
	line-height:32px;
	color:#25262a;
	text-transform:uppercase;
	border-bottom:1px solid #eeedf2;
	padding:20px 0px 20px 30px;
	}	
	
	
.cloud1 p{
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding:10px 10px 10px 30px;
	height:70px;
}


.cloud1 h3 {font-family:PFD;
	font-size:26px;
	line-height:32px;
	color:#324abd;
	text-transform:uppercase;
	background:#eeedf2;
	padding:20px 0px 20px 30px;
	}	
	
	.cloud1 img {padding-left:5px;}

.cloud1 span {
font-family:PFD-Regular;
	font-size:26px;
	line-height:32px;
	color:#25262a;
	padding:10px 0px 10px 30px;	
	width:100%;
	display:block;
}	

.cloud1 .btn-buy {float:none;text-align:center;padding:10px 60px 10px 60px;width:77%}

.cloud1 a {font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#324abd;
	padding:10px 10px 10px 30px;
	text-align:left;
	display:block;
	}
	
.note {	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding:10px 10px 20px 10px;}	

.big-cloud{
	position: relative;
	padding: 75px 30px;
    box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12);
    margin-right: 25px;
}

.big-cloud:before{
	position: absolute;
	content: 'Новый тариф';
	color: white;
	background-color: #d20f8c;
	padding: 8px 30px;
	top: 25px;
	left: 0;
}

.big-cloud h2{
	text-transform: uppercase;
	font-family: PFD;
	font-size: 30px;

	padding-bottom: 30px;
	border-bottom: 2px solid #71ceed;
	display: inline-block;
        margin-bottom: 30px;
}

.big-cloud p{

}

.big-cloud ul{
	list-style-type: none;
}

.big-cloud li{
	padding-left: 30px;
	position: relative;
	margin-bottom: 35px; 
}

.big-cloud li:before{
	position: absolute;
	content: url(../img/check.png);
	left: 0;
	font-family: Roboto;
	font-size: 16px;
}

.big-cloud span{
	font-family: PFD-Regular;
    font-size: 26px;
    line-height: 32px;
    color: #25262a;
    padding: 10px 0px 10px 30px;
    width: 100%;
    display: block;
}

.big-cloud button{
    float: none;
    text-align: center;
    padding: 10px 60px 10px 60px;
    width: 77%;

    background: #324abd;
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.big-cloud a{
	font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 24px;
    color: #324abd;
    padding: 10px 10px 10px 30px;
    text-align: left;
    display: block;
}

.big-cloud a:hover{

}
	
	
.cloud2 {height:655px;background:#fff;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12);margin-right:25px;border-radius:7px;
	
	margin-top:50px;
	margin-bottom:70px;}

	.cloud2 h2  {font-family:PFD;
	font-size:26px;
	line-height:32px;
	color:#fff;
	background:#242d3c;
	text-transform:uppercase;
	border-radius:7px 7px 0px 0px;
	padding:20px 0px 20px 30px;
	margin-bottom:0px;}
	
.cloud2 p {font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding:20px 30px 20px 50px;
	
	border-top:1px solid #eeedf2;
	}
	
.cloud-text{
	height:480px;
	border-bottom:1px solid #eeedf2;
	margin-bottom:20px;
}
	
.cloud2 p:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
	}

.cloud2 .btn-buy {float:none;text-align:center;padding:10px 60px 10px 60px;width:80%;}


/*Clients*/

/*client*/

.cblock h4 {padding: 20px 0px 0px 40px;font-family:Roboto-Bold;
	font-size:17px;}

.cblock p {padding: 20px 20px 0px 40px;font-family:Roboto-Regular;
	font-size:16px;}
.client {margin-bottom:50px;margin-top:50px;}

.btn-client {padding:10px 60px 10px 60px;
	background:none;
	border:1px solid #fff;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-align:center;
	text-transform:uppercase;
	}
	
	.btn-client:hover {
		background:#fff;
		border:1px solid #324abd;
		color:#324abd !important;
	}

.imghvr-slide-down {
    position: relative;
    display: inline-block;
   
    
	background-color:#fff;
    color: #000;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
	height:345px;box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12);
	margin-right:15px;
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;
}

.imghvr-slide-down > img {
    vertical-align: top;
   
}

.imghvr-slide-down figcaption {
    background-color: #324abd;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

.imghvr-slide-down figcaption h4 {
    color: #ffffff;
	position:relative;
	top:15%;
	padding: 0px;
}

.imghvr-slide-down figcaption p {
    color: #ffffff;
	position:relative;
	top:18%;
	padding-bottom: 30px !important;
	padding:0px
}

.imghvr-slide-down figcaption .btn-client {   color: #ffffff;
	position:absolute;
	top:65%;
	}


[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}


/* imghvr-fade-*
   ----------------------------- */
.imghvr-slide-down figcaption {
    opacity: 0;
}

.imghvr-slide-down:hover > img {
    opacity: 0;
}

.imghvr-slide-down:hover figcaption {
    opacity: 1;
}

.imghvr-slide-down:hover > img, .imghvr-slide-down:hover figcaption {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.imghvr-slide-down:hover figcaption {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.imghvr-slide-down figcaption {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*Contacts*/

/*contacts-block*/

.navbar{min-height: 0px;
margin: 0px;}


.contacts-block .tabs-left {margin-top: 3rem;
background: #fff;
border: 1px solid #ccc;
display:block;
height: 570px;
margin-top:-600px;
}

.contacts-block .nav-tabs {
	float: left;
	border-bottom: 0;
	width: 240px;
	margin-top: 20px;
}

.contacts-block .nav-tabs li {
    float: none;
    margin: 0;
border:0px;
width: 85%;
}


.contacts-block .nav-tabs  a {
	margin-right: 0;
	border: 0;
	background-color: #fff;:
	
}

.contacts-block .nav-tabs li a {
		font-family: roboto-regular;
color: #262626;
font-size: 18px;
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
border:0px;
margin-right:0px;
	
}
.contacts-block .nav-tabs  a:hover {
	
	border-radius:0px;
background-color: #324abd;
color:#fff;
}

.contacts-block .nav-tabs li:hover{	
background-color: #324abd;
color:#fff;

		

}

.contacts-block .nav-tabs li:hover:after{
	content: "";
	width: 0;
height: 0;
border-style: solid;
border-width: 23px 3px 23px 15px;
border-color: transparent transparent transparent #3249bd;
float: right;
position: absolute;
top: 0px;
left: 204px;}

.contacts-block .nav > li > a:focus,.contacts-block .nav > li > a:hover {
    text-decoration: none;
border: none;
border-radius:0px;
background-color: #324abd;
color:#fff;
outline:none;
	
}
.contacts-block .nav > li.active a {background-color: #324abd;
	color:#fff;
	border:0px;
	border-radius:0px;}
	
	.contacts-block .nav > li.active {border:0px;}
	
	.contacts-block .nav > li.active:after {content: "";
		width: 0;
height: 0;
border-style: solid;
border-width: 23px 3px 23px 15px;
border-color: transparent transparent transparent #3249bd;
float: right;
position: absolute;
top: 0px;
left: 204px;
}
	
	
.contacts-block .nav-tabs > li.active > a,.contacts-block .nav-tabs > li.active > a:focus,.contacts-block .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #324abd;
    border: 0px;
 
}



.contacts-block .tab-content {
	margin-left: 45px;
}
.contacts-block .tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
	height: 570px;
	border-left:1px solid #efefef;

}

.contacts-block .tab-content .address {padding: 20px 10px 20px 20px;border-bottom:1px solid #efefef;}

.contacts-block .tab-content .active { display: block; }

.contacts-block .tab-content p {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#262626;
	line-height:22px;
padding-bottom: 10px;
	
}

.address img {padding-right:10px;}

.mailaddress{color: #324abd !important;}

.contacts-block .tab-content .tab-pane::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.contacts-block .tab-content .tab-pane::-webkit-scrollbar-track {
   background:#fff;
   border-left:1px solid #ebebeb;

}
 
/* Handle */
.contacts-block .tab-content .tab-pane::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(235,235,235,0.8);
	margin:5px;

}

.contacts-block .tab-content .tab-pane::-webkit-scrollbar-button {
    color:#000;
	
}


.contacts-block .tab-content .tab-pane::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(235,235,235,0.4); 
}


/*Services*/
/*side-menu*/


/*
	* Off Canvas
	* --------------------------------------------------
*/
@media screen and (max-width: 767px) {
	.side-menu .row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	
	.side-menu .sidebar-offcanvas {
		position: absolute;
		width: 100%; /* 6 columns */
		display: none;
		background:#fff;
		
	}
	
	.side-menu .row-offcanvas-left {
		left: 0;
	}
	
	.side-menu .row-offcanvas-left.active
	.side-menu .sidebar-offcanvas {
		display: block;  
		left: 0;
		top: 0;
		z-index: 1;
	}
	
	.side-menu .row-offcanvas-left.active
	.main-service{display:none;
		
	}
	
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.side-menu .row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	
	.side-menu .sidebar-offcanvas {
		position: absolute;
		width: 50%; /* 6 columns */
		display: none;
		background:#fff;
		
	}
	
	.side-menu .row-offcanvas-left {
		left: 0;
	}
	
	.side-menu .row-offcanvas-left.active
	 .sidebar-offcanvas {
		display: block;
		left: 22px;
		top: 90px;
		z-index: 2;
		box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.26);
		padding-left: 15px;
		
	}
	
	.side-menu .row-offcanvas-left.active {
		
	}

	.contacts-wrap {
		display: flex;
		flex-flow: column wrap
	}

	.tabs-left {
		margin-top: 3rem !important;
		order: 1;
		margin-bottom: 20px;
	}

	.contacts-wrap .maps {
		order: 2;
	}

	.mega-dropdown-menu > li ul > li > a {
		font-size: 14px;
	}

	.dropdown-header {
		white-space: pre-wrap
	}

	.mdm-third {
		padding-left: 20px !important;
	}

        .carousel-caption.main {
                height: 650px !important;
        }


}

.side-menu .navbar-default {
    background-color: #fff;
    border:none;
	margin-top: 30px;
}


.side-menu .navbar-nav li{
	background: none;
border-bottom:1px solid #efefef;
box-shadow: none;
width:90%;
}

.side-menu  .nav.navbar-nav li a:after {
	content: "\f105"; display: inline-block;
		font: normal normal normal 15px/1 FontAwesome;
		font-size: 15px;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		right:0%;
}



.side-menu .navbar-default .navbar-nav li a{font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#25262a;}

.side-menu .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	color:#324abd;outline:none;
}

.side-menu .navbar-nav li.panel {
	border:none;
	border-bottom:1px solid #efefef;
	margin-bottom:0px;}

.side-menu .panel-body .navbar-nav li a{
		font-family:Roboto-Regular;
	font-size:14px;
	line-height:22px;
	color:#25262a;
		}
		
.side-menu .panel-body {
		padding: 5px;}

.side-menu .panel-body .navbar-nav li {
	border:none;
	
}

.side-menu .panel-body .navbar-nav li a:before {
	content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 10px;
   
    position: absolute;
    top: 30%;
    left: 0;
	
}

.side-menu .panel-body .navbar-nav li a:after {
	content:none;
}

/*Service1*/

.service1 h2 {
font-family:PFD;
font-size:30px;
color:#25262a;
text-transform:uppercase;
	
}

.service1 h3 {
font-family:PFD;
font-size:30px;
color:#324abd;	
text-transform:uppercase;
margin-top:0px;
}

.service1 p {
		font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 24px;
	color: #000; 
	padding-bottom:20px;
}

.questions{
	padding:40px 0px 10px 40px;
	border-bottom:1px solid #eeedf2;
}

.results {
	background:#fafafb;
	padding:40px 0px 10px 40px;
}

.service-bottom .buy {text-align:center;
	padding:25px;}

.service-bottom .block {border:1px solid #eeedf2;padding:40px 0px 20px 40px; }

.block img {
	float:right;
	padding-right:30px;
}

.block h4 {
	font-family:PFD;
	font-size:28px;
	color:#25262a;
	text-transform:uppercase;
}

.block p {padding-bottom: 12px;
padding-top: 5px;
}

.service-bottom .btn-buy{
	text-decoration: none;
	background-color: #324abd;
	border: 1px solid #324abd;
	padding: 15px 110px;	
	text-align:center;
}

.service-bottom .btn-buy a{
	font-family:Roboto-Medium;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;	
} 

.service-bottom .btn-buy:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	text-decoration:none;
}

.service-bottom .btn-buy:hover a{
	
	color: #324abd;	
}
.service-bottom .btn-buy a:hover
{text-decoration:none;}

.results li {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height:30px;
	color: #000; 
}

.results li:before {
 
	 content: '\2014';
  position: absolute;
  margin-left: -20px;

}
.results ul {
	list-style:none;
}

.service1 .material-img .big {z-index:1;}
.service1 .material-img .small {
z-index: 2;
-webkit-box-shadow: 0 5px 40px 20px #eee;
box-shadow: 0 5px 40px 20px #eeeeee;
margin-top: -50px;
margin-left: 50%;
margin-bottom: 40px;


}

.service1 .material{
	margin-top: -80px;
	margin-bottom:90px;
	padding-bottom:20px;
-webkit-box-shadow: 0 5px 40px 20px #eee;
box-shadow: 0 5px 40px 20px #eeeeee;

}

/*Project Implement*/

/*first-block*/


.first-bt-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	margin-top:30px;
	padding-right:40px;
	padding-bottom:40px;

}



.first-bt-block  h1 {
	font-family: PFD;
	font-size: 42px;
	color: #000;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	
		background-image:url('../img/branches/border.png') !important;
	background-position:bottom left !important;
	background-repeat:no-repeat !important;
	border-bottom:0px !important;
	
}
.first-bt-block span {color:#324abd;}

.first-bt-block {padding-top:30px;
	background:#fff;
padding-bottom: 30px;
}


/*Impelement*/

.if-block {position:relative;
	z-index:20;}

.if-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
	
}




.if-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	margin-top: 20px;
	text-align:left;
	
}

.if-block .block1 {
	padding:30px;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 
	text-shadow: -4px 8px 46px rgba(0, 0, 0, 0.12); 
	background:#fff;
	margin-right:20px;
	display:inline-block;
	height:320px;
	margin-top:30px;
}


.phase-block  {
	background-image:url('../img/pr/linebg.png');
	background-position:center center;
	background-repeat:no-repeat !important;
	height:1100px;
	position:relative;
	background-size:cover;
	margin-top: -170px;
	z-index:1;
	
}

.line {background-image:url('../img/pr/line.png');
	background-position:center center;
	background-repeat:no-repeat !important;
	height:445px;
	position: absolute;
top: 50%;

width: 100%;

	
	}
	
	.phase-block h4 {
		font-family: PFD;
font-size: 32px;
color: #fff;
padding-top: 11px;
display: inline-block;
border: 1px solid #71ceed;
background-color: #324abd;
border-radius: 55px;
width: 55px;
text-align: center;
margin-top: 30px;
height: 55px;

		}
		
.phase-block h4:hover {background: #fff;
color: #324abd;
-moz-transform: scale(1.2) rotate(360deg);
-webkit-transform: scale(1.2) rotate(360deg);
-o-transform: scale(1.2) rotate(360deg);
-ms-transform: scale(1.2) rotate(360deg);
transform: scale(1.2) rotate(360deg);
transition: background 0.8s, color 0.8s;	
}

	
.phase-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:22px;
	color:#fff;
	margin-top: 10px;
	text-align:left;
	height: 50px;
}
	
.phase-block h2 {
	font-family: PFD;
	font-size: 42px;
	color: #fff;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 0px;
	margin-top: -250px;
	text-align:center;
	
}

.one {margin-top: 35px;height:180px;padding-right: 35px;}

.two{margin-top: 40px; height:180px;padding-right: 35px;}

.three{margin-top: 40px; height:180px;padding-right: 35px;}





.step1 .material{
	margin-top: 70px;
	margin-bottom:40px;
	
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 	
}

.material2 {box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); margin-bottom:40px;}

.mattop h2 {
	font-family: PFD;
	font-size: 42px;
	color: #25262a;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left:40px;
	padding-top:40px;	
}

.mattop h3{
	font-family: PFD-regular;
	font-size: 26px;
	color: #25262a;
	line-height: 34px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-left:40px;
	
	
}

.mattop {
	background:#fff;
	border-radius: 5px 5px 0px 0px;
}

.include {
	background:#f9f8fe;
	padding:40px;
	border-top:1px solid #eeedf2;
	border-bottom: 1px solid #eeedf2;
}

.waranty {background:#fff;
	padding:40px;
border-top:1px solid #eeedf2;}

.include h3, .waranty h3{
	font-family: PFD;
	font-size: 30px;
	color: #324abd;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.include li, .waranty li {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height:30px;
	color: #000; 
}

.include li:before, .waranty li:before {
	
	content: '\2014';
	position: absolute;
	margin-left: -20px;
	
}
.include ul, .waranty ul {
	list-style:none;
	padding-left: 20px;
	padding-right: 20px;
}

.include p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:22px;
	color:#000;
	
}

.bticon {padding: 40px;}

.bticon p {font-family:Roboto-Regular;
	font-size:16px;
	line-height:22px;
	color:#000;
	padding-top:10px;
	
	margin-left: 50px;
	
}

.bticon img {float:left;
	padding-right:10px;
	padding-top: 10px;}

.bt,.bt2, .bt3, .bt4 {
	padding:20px;
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.07); 
	margin:15px;
	text-align:left;
	height:100px;}
	

	
.bt4 a {text-align: center;
display:block;
padding-top: 20px;
font-family:Roboto-Regular;
font-size:16px;
color:#324abd;
}
	
.bt2 p {padding-top: 20px;}
.bt3 {padding-top: 10px;}

.step-bottom .block{
	border:1px solid #eeedf2;
	padding: 40px 20px 40px 40px;
	height:360px;
}

.step3 .project1 {
border:1px solid #eeedf2;
	padding: 40px 20px 40px 40px;
	height:360px;
}

.step3 .project1 p{height:120px;}
.step3 .project1 h4 {padding:0px;}

.step3 .project1 a {margin-bottom:20px;display:block;}

.step4 .block {height:150px;}

.step4 .block h3 {padding-bottom:0px;}

.step-bottom .block h4 p {
	font-family:PFD;
	font-size:28px;
	color:#c2c2c2;
	margin-top: 0px; padding-right:20px;}
	

.step-bottom .block h4, .step3 .project1 h4  {
	font-family:PFD;
	font-size:28px;
	color:#25262a;
	text-transform:uppercase;
}

.step-bottom .block span {
	font-family:Roboto-Regular;
	font-size:12px;
	color:#606060;
	text-align:left;
	float:left;
	
}



.step-bottom h3, .project1 h3 {
	font-family: PFD;
	font-size: 30px;
	color: #324abd;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
	padding-bottom: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

.step-bottom img {float:right;}

.step-bottom p {	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding-top:10px;
	padding-bottom:20px;
height: 160px;}


.step-bottom .btn-default.submit, .step3 .project1 .btn-default.submit {
    background: #324abd;
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-family: Roboto-Medium;
    font-size: 13px;
    text-transform: uppercase;
    width: auto;
    float: right;
}

.why_we h2 {
	font-family: PFD;
	font-size: 50px;
	color: #fff;
	text-align:center;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top:110px;	
	
} 

.why_we p {font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-align:center;
padding-bottom:20px;}

.why_we {
	height:600px;
	background-image:url('../img/impl/whywebg.png');
	background-position:center center;
	background-repeat:no-repeat ;
	background-size:cover;
}

.wblock img, .wblock3 img, .wblock2 img {text-align:center;display: block;margin: auto;padding-bottom:40px;}

.wblock{padding:30px;background:#324abd;
box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.3); height:265px;margin-right:15px;}

.wblock3 {margin-left:15px;
	
	padding:30px;background:#324abd;
box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.3); height:265px;}

.wblock2 {margin-left:15px;
	margin-right:15px;
	padding:30px;background:#324abd;
box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.3); height:265px;}

.wblock span, .wblock2 span {color:#71ceed}

.step4 {margin-bottom:50px;}


#bCarousel .carousel-control.right {
	right: -30px;
background: #fff;
	
}

#bCarousel .carousel-control.left {
	left: -30px;
	background: #fff;
}
/*pcarousel*/

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
	display: none;
}
@media all and (min-width: 768px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: 100%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 100%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-1,
	.carousel-showmanymoveone .carousel-inner .cloneditem-2{
		display: block;
	}
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width: 992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -33.33333333%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 33.33333333%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3,
	.carousel-showmanymoveone .carousel-inner .cloneditem-4,
	.carousel-showmanymoveone .carousel-inner .cloneditem-5,
	.carousel-showmanymoveone .carousel-inner .cloneditem-6  {
		display: block;
	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.33333333%, 0, 0);
		transform: translate3d(33.33333333%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.33333333%, 0, 0);
		transform: translate3d(-33.33333333%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

@media all (min-width: 768px) and (max-width:992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 50%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3,
	.carousel-showmanymoveone .carousel-inner .cloneditem-4,
	.carousel-showmanymoveone .carousel-inner .cloneditem-5,
	.carousel-showmanymoveone .carousel-inner .cloneditem-6  {
		display: block;
	}
}
@media all(min-width: 768px) and (max-width:992px) and (transform-3d), all (min-width: 768px) and (max-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

.project1 {padding-right: 15px;
	padding-left: 15px;
	
}

.projects {margin-bottom:70px;
margin-top:50px;}

.carousel-control.left, .carousel-control.right {
	background-image:none;
}
.carousel-showmanymoveone .carousel-control {
	
    height: 45px;
	width: 45px;
    background: none repeat scroll transparent;
    border: 1px solid #dedede;
    border-radius:3px;
    margin-top: 130px;
}
.carousel-showmanymoveone .carousel-control.right {
	right: -50px;
}

.carousel-showmanymoveone .carousel-control.left {
	left: -50px;
}

.carousel-showmanymoveone .carousel-control i {
	font-size: 40px;
	
	color: #a8a8a8;
	text-shadow: none;	
	text-align:center;
	vertical-align:middle;
}

.carousel-showmanymoveone .carousel-control:hover i {
	
	color: #324abd;
	text-shadow: none;	
}

.projects h1 {
	font-family:PFD;
	font-size:50px;
	color:#25262a;
	text-align:center;
	text-transform:uppercase;
	padding-bottom:40px;
	padding-top:10px;
}

.project1 h4 {
	font-family:Roboto-Bold;
	font-size:18px;
	color:#000;
	padding-bottom:10px;
	padding-top:10px;
}

.project1 p {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#000;
	padding-bottom:20px;
	height:80px;
	
}

.project1 a {
	font-family:Roboto-Bold;
	font-size:14px;
	color:#324abd;
	text-transform:uppercase;
	padding-bottom:20px;
	
}

/*BT Implement*/

.three-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
	
}

.three-block h3 {
	font-family: PFD;
	font-size: 30px;
	color: #324abd;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 70%;
}


.three-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	
	text-align:left;
	
}

.three-block .block1 {
	padding:25px;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 
	text-shadow: -4px 8px 46px rgba(0, 0, 0, 0.12); 
	background:#fff;
	margin-right:20px;
	display:inline-block;
	height:320px;
	margin-top:30px;
}

.three-block .block1 img {float:right;margin-top: -90px;}

.four-blue-block  {
	background-image:url('../img/impl/fourblockbg.png');
	background-position:center center;
	background-repeat:no-repeat !important;
	height:900px;
	margin-top:-150px;
	background-size:cover;
	
}

.four-blue-block  h2 {
	font-family: PFD;
	font-size: 42px;
	color: #fff;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 250px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align:center;
	
}

.four-blue-block  .block2 h3, .four-blue-block  .block4 h3 {
	font-family: PFD;
	font-size: 30px;
	color: #fff;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
	float:left;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
	margin-top: 0px;
	width:100%;
	
}



.four-blue-block  h4 {
	font-family: PFD-Light;
	font-size: 52px;
	color: #71ceed;
	float:left;
	padding-bottom: 20px;
	text-align:left;
	
	
}

.four-blue-block  span {color:#71ceed;}

.four-blue-block .block2 img,.four-blue-block .block4 img {float:right;}

.four-blue-block .block2 ,.four-blue-block .block4{
	padding:30px;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.3); 
	
	background:#324abd;
	width:90%;
	display:inline-block;
	height:270px;
	margin-top:30px;
	
}


.four-blue-block  .block2::after{
	content: "";
	display: block;
	background-image: url(../img/impl/arrowR.png);
	background-repeat: no-repeat;
	z-index:12;
	height: 50px;
	width: 70px;
	position: absolute;
	top: 28%;
	right:0%;
}


.step-bt .material,.step-crm .material{
	margin-top: -170px;
	margin-bottom:40px;
	
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 	
}

.material2 {box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); margin-bottom:40px;}

.mattop h2 {
	font-family: PFD;
	font-size: 42px;
	color: #25262a;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left:40px;
	padding-top:40px;	
}

.mattop h3{
	font-family: PFD-regular;
	font-size: 26px;
	color: #25262a;
	line-height: 34px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-left:40px;
	
	
}

.mattop {
	background:#fff;
	border-radius: 5px 5px 0px 0px;
}

/*Crm Implement*/

.three-crm-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
	
}

.three-crm-block h3 {
	font-family: PFD;
	font-size: 30px;
	color: #324abd;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
	float:left;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}


.three-crm-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	margin-top:20px;
	padding-bottom:20px;
	float:left;
	
}

.three-crm-block .block1 {
	padding:30px;
	box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.12); 
text-shadow: -4px 8px 46px rgba(0, 0, 0, 0.12); 
	background:#fff;
	margin-right:20px;
	display:inline-block;
	height:270px;
	margin-top:30px;
}

.three-crm-block .block1 img {float:right;margin-top: -15px;}

.four-crm-block  {
	background-image:url('../img/impl/fourblockbg.png');
	background-position:center center;
	background-repeat:no-repeat !important;
	height:900px;
	margin-top:-150px;
	background-size: cover;
}

.four-crm-block h2 {
	font-family: PFD;
	font-size: 42px;
	color: #fff;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 250px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align:center;
	
}

.four-crm-block .block2 h3,.four-crm-block .block4 h3 {
	font-family: PFD;
	font-size: 30px;
	color: #fff;
	line-height: 36px;
	text-transform: uppercase;
	text-align:left;
padding-right: 80px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	
	
}
.four-crm-block .block2 h3 {margin-bottom:30px;}


.four-crm-block h4 {
	font-family: PFD-Light;
	font-size: 52px;
	color: #71ceed;
	margin: 0;
	text-align:left;
        position: absolute;
        bottom: 36px;
}

.four-crm-block span {color:#71ceed;}

.four-crm-block .block2 img, .four-crm-block .block4 img {position: absolute; right: 58px; bottom: 30px}

.four-crm-block .block2 ,.four-crm-block .block4{
	padding:30px;
box-shadow: -4px 8px 46px 0px rgba(0, 0, 0, 0.3); 

	background:#324abd;
	width:90%;
	display:inline-block;
	height:270px;
	margin-top:30px;
	
}


.four-crm-block .block2::after{
content: "";
display: block;
background-image: url(../img/impl/arrowR.png);
background-repeat: no-repeat;
z-index:12;
height: 50px;
width: 70px;
position: absolute;
top: 28%;
right:0%;
}

.step-bottom .block-f, .step-bottom .block-c, .step-bottom .block-s {
	border:1px solid #eeedf2;
	padding:40px; 
	height:220px;}
	
		.step-bottom .block-f h4 del, .step-bottom .block-c h4 del, .step-bottom .block-s h4 del {
		font-family:PFD;
		font-size:28px;
		color:#c2c2c2;
		margin-top: 0px; padding-right:20px;}
		
		
	.step-bottom .block-f h4, .step-bottom .block-c h4, .step-bottom .block-s h4  {
		font-family:PFD;
		font-size:28px;
		color:#25262a;
		text-transform:uppercase;
		}
		
.step-bottom .block-f span, .step-bottom .block-c span, .step-bottom .block-s span {
	font-family:Roboto-Regular;
	font-size:12px;
	color:#606060;
	text-align:left;
	float:left;
	
}



.step-bt .block-f img,.step-crm .block-f img {float:right;
	margin-top: -210px;
}

.step-bt .block-s img,.step-crm .block-s img {
	float:right;
	margin-top: -110px;
}

.step-crm .block-c img {float:right;
	margin-top: -140px;}
	
.step2 .block-f img {
    float: right;
    margin-top: -220px;
}
.step2 .block-c img {
    float: right;
    margin-top: -110px;
}


.step2 .block-s img {
	float:right;
	margin-top: -110px;
}

.step3 .block-f img {
    float: right;
    margin-top: -215px;
}

.step3 .block-c img,.step-bt .block-c img  {
    float: right;
    margin-top: -140px;
}

.step3 .block-s img {
    float: right;
    margin-top: -110px;
}


.step4 .block-f img   {float:right;
	margin-top: -220px;
}
.step4 .block-c img {float:right;
	margin-top: -140px;}

.step4 .block-s img {
	float:right;
	margin-top: -110px;
}

.step4 {margin-bottom:50px;}

/*  */

.heading {
	margin-top: 45px;
}

.heading h2 {
	color: #25262a;
	font: 36px/1.1 PFD;
	text-transform: uppercase;
	margin: 0;
}

.heading p {
	color: #25262a;
	font: 17px/1.5 Roboto-Regular;
	margin-top: 25px;
}

.bl_title {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	-moz-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	padding: 65px 70px 70px 45px;
	margin-top: 50px;
}

.title h2 {
	color: #25262a;
	font: 28px/1.1 PFD;
	text-transform: uppercase;
	margin: 0;
}

.div_line {
	background: #71ceed;
	width: 120px;
	height: 2px;
	margin-top: 20px;
}

.title, .wr_title_img {
	padding: 0 15px;
}

.title p {
	color: #000;
	font: 16px/1.5 Roboto-Regular;
	margin: 20px 0 0 0;
}

.title a {
	display: block;
	width: 200px;
	height: 45px;
	color: #fff;
	font: 13px/45px Roboto-Medium;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #324abd;
	text-decoration: none;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #324abd;
}

.title a:hover {
	background-color: #fff;
	border: 1px solid #324abd;
	color: #324abd;
}

.wr_title_img {
	text-align: right;
}

.wr_title_img2 {
	text-align: left;
}

.wr_img {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.img_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 102px;
	height: 103px;
	-webkit-border-radius: 51px/51px 51px 52px 52px;
	-moz-border-radius: 51px/51px 51px 52px 52px;
	border-radius: 51px/51px 51px 52px 52px;
	-webkit-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	-moz-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	position: absolute;
	top: 50%;
	right: -25px;
	margin-top: -51px;
}

.title_img {
	width: 100%;
	max-width: 305px;
}

.projectts {
	margin-top: 100px;
	margin-bottom: 30px;
}

.projectts h2 {
	color: #25262a;
	font: 42px/1.1 PFD;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 50px 0;
}

.bl_slider h3 {
	color: #000;
	font: bold 19px/1.1 Roboto-Regular;
	margin: 25px 0 0 0;
}

.bl_slider p {
	color: #000;
	font: 16px/1.5 Roboto-Regular;
	margin: 15px 0 0 0;
}

.bl_slider a {
	display: block;
	color: #324abd;
	font: bold 14px/1.1 Roboto-Regular;
	margin: 20px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;
}

.info {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	-moz-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	margin-top: 55px;
}

.info_img, .info_title {
	padding: 60px 15px;
}

.info_left {
	border-left: 1px solid #eeedf2;
}

.info_img img {
	width: 100%;
	max-width: 210px;
}

.info_title h2 {
	color: #25262a;
	font: 28px/1.1 PFD;
	text-transform: uppercase;
	margin: 0;
}

.info_title p {
	color: #000;
	font: 16px/1.5 Roboto-Regular;
	margin: 20px 0 0 0;
}

.info_title a {
	display: block;
	width: 200px;
	height: 45px;
	color: #fff;
	font: 13px/45px Roboto-Medium;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #324abd;
	text-decoration: none;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #324abd;
}

.info_title a:hover {
	background-color: #fff;
	border: 1px solid #324abd;
	color: #324abd;
}

.information {
	font-size: 0;
	margin-top: 25px;
}

.wr_information {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-top: 45px;
	padding: 0 25px;
}

.infor_left {
	padding-left: 0;
}

.infor_right {
	padding-right: 0;
}

.wr_information .info_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: 380px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	-moz-box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	box-shadow: -4px 8px 46px rgba(0,0,0,.12);
	padding: 0 55px 0 55px;
	box-sizing: border-box;
}

.div_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

.div_flex a {
	margin: 0;
}




@media (max-width: 992px) {

	.info_title a {
		width: 170px;
	}

	.wr_information .info_title {
		padding: 0 15px 0 15px;
	}

}

@media (max-width: 767px) {

	.bl_title {
		padding: 40px 20px 40px 20px;
		text-align: center;
	}

	.div_line {
		margin: 0 auto;
		margin-top: 20px;
	}

	.title a {
		margin: 0 auto;
		margin-top: 30px;
	}

	.img_icons {
		left: 50%;
		margin-left: -51px;
	}

	.wr_title_img {
		text-align: center;
		margin-top: 25px;
	}

	.info {
		text-align: center;
		padding: 25px 0;
	}

	.info_img, .info_title {
		padding: 0;
	}

	.info_title a {
		margin: 0 auto;
		margin-top: 30px;
	}

	.info_left {
		margin-top: 60px;
	}

	.info_title h2 {
		margin-top: 10px;
	}

	.wr_information  {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.wr_information .info_title {
		height: auto;
		padding: 35px 15px 35px 15px;
	}

	.div_flex img {
		display: none;
	}

}