#geo-confirm-wrapp {
	position: relative;
    z-index: 1001;
    width: 100%;
}

#geo_confirm p {
    line-height: 18px;
    margin: 0px 0 15px 0;
    font-size: 13px;
}

#geo_confirm .header-city, #geo_confirm span {
    font-size: 13px;
}

#geo_confirm .header-city {
    position: relative;
    font-family: Roboto-Bold;
    color: #324abd;
}

#geo_confirm .header-city:after {
    top: 6px;
    right: 2px;
}

#geo_confirm span {
    margin: 0px 10px 0 10px;
}

#geo_confirm {
    display: none;
    background: #3C71BB;
    padding: 15px;
    width: 300px;
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    text-align: center;
}

#geo_confirm b.name {
    font-size: 14px;
    font-family: Roboto-Bold;
}

#geo_confirm b.sel_region {
    border-bottom: 1px dotted #FFF;
}

#geo_confirm button.confirm-btn {
    text-decoration: none;
    background-color: #ae127b;
    border: none;
    padding: 5px 20px;
    border: 1px solid #ae127b;
    font-family: Roboto-Medium;
    color: #ffffff !important;
    font-size: 12px;
    text-transform: uppercase;
}

#geo_confirm .close {
    top: 6px;
    right: 6px;
    width: 14px;
    height: 14px;
    background: url(/local/templates/main/components/vitams/city.dropdown/city_popup/images/close_icon.jpg) no-repeat;
    cursor: pointer;
    position: absolute;
    background-size: contain;
}

#header-city-list-confirm .fancybox-close-small {
    display:none;
}
/* fancybox left bug */
#header-city-list-confirm {
    left: 0 !important;
    top: 0 !important;
}

@media (max-width: 767.97px) {
    #geo_confirm {
        top: 50px;
        left: 12px;
        margin: 0;
	}
	#header-city-list-confirm .fancybox-close-small {
		display:block;
	}
	#header-city-list-confirm .city-list-close {
		display: none;
	}

}