.portal-banner {
	background-image: url(../img/banner-portal-bg.jpg);
	height: 524px;
	overflow: hidden;
	margin-top: -51px;
	width: 100%;
}
.intro_descr .intro_title {
	font-size: 54px;
	text-transform: none;
	margin-top: 76px;
}
.intro_descr .intro_title .medium_font {
	font-family: PFD;
	color: #71ceed;
}
.portal-banner .container {
	position: relative;
}
.intro_descr p {
	font-size: 14px !important;
	color: #fff !important;
}
.banner-right-img {
	position: absolute;
	right: 0;
	width: 580px;
	top: 30px;
}
.banner-right-img img {
	max-width: 580px;
	width: 100%;
}
.breadcrumb li .link-style,
.breadcrumb li a {
	color: #fff !important;
}
.opportunities {
	background-color: #f9f8fe;
	padding-bottom: 100px;
}
.opportunities h2 {
	margin-top: 80px;
	margin-bottom: 40px;
}
.opportunities .tabs {
	padding: 0;
	list-style: none;
}
.opportunities .tabs li {
	font-weight: 500;
	color: #747474;
	font-size: 16px;
	padding: 5px 0;
	cursor: pointer;
}
.opportunities .tabs li.active,
.opportunities .tabs li:hover {
	color: #4059d3;
	position: relative;
}
.opportunities .tabs li.active:before {
	content: "";
	display: block;
	width: 500px;
	height: 2px;
	background-color: #4059d3;
	position: absolute;
	top: 50%;
	left: -524px;
}
.opportunities .tabs li span {
	font-weight: 400;
	font-size: 16px;
	margin-right: 30px;
	font-family: PFD-Regular;
}
.opportunities .tab-content {
	margin-top: 120px;
	max-width: 580px;
	width: 100%;
	height: 410px;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,.11);
	position: relative;
	z-index: 1;
}
.opportunities .tab-item {
	height: 100%;
}
.opportunities .tab-item .card-heading {
	font-family: PFD;
	font-size: 28px;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 24px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 50px;
}
.opportunities .card {
	position: relative;
	padding: 70px 50px;
	height: 100%;
	/*
	background: url(/test/css/../img/icon-desc-card.png);
	background-repeat: no-repeat;
	background-position: right 45px bottom 52px;
	 */
}
.opportunities .card-num {
	font-size: 30px;
	color: #4059d3;
	font-family: PFD-Light;
	position: absolute;
	top: 40px;
	right: 50px;
}
.opportunities .desc ul {
	padding: 0;
	list-style: none;
}
.opportunities .desc ul {
	font-family: Roboto;
	font-size: 16px;
	/*column-count: 2;*/
}
.opportunities .desc ul li {
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	line-height: 20px;
	position: relative;
	min-height: 50px;
	float:left;
	width:48%;
	margin-right:2%;
}

.opportunities .desc ul li:nth-child(2n+2) {
	margin-right:0;
	margin-right:0;
}
@media only screen and (max-width:650px) {
	.opportunities .desc ul li {float:none;width:100%;margin-right:0;}
}

.desc li:before {
	content: "—";
	display: block;
	position: absolute;
	left: 0;
}
.opportunities .tab-outer {
	position: relative;
}
.opportunities .tab-outer:before {
	content: "";
	display: block;
	width: 725px;
	height: 741px;
	background-image: url(../img/cards-bg.png);
	background-size: 100%;
	z-index: 0;
	top: -30px;
	left: -43px;
	position: absolute;
	background-repeat: no-repeat;
}
.opportunities .tab-outer:after {
	content: "";
	display: block;
	width: 147px;
	height: 147px;
	background-image: url(../img/list-label.png);
	background-size: 100%;
	z-index: 0;
	top: -60px;
	left: -60px;
	position: absolute;
	background-repeat: no-repeat;
}
.d-flex {
	display: flex;
	display: -ms-flexbox!important;
}
.align-items-stretch {
	-ms-flex-align: stretch!important;
	align-items: stretch!important;
}
.usefulness {
	background-image: url(../img/banner-bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 110px;
	height: 526px;
}
.usefulness h4 {
	font-size: 20px;
	font-family: "Roboto-Bold";
}
.blue-heading {
	color: #71ceed !important;
}
.white-heading {
	color: #fff !important;
}
.red-buttn {
	text-transform: uppercase;
	font-size: 13px !important;
	background-color: #ae127b;
	color: white !important;
	padding: 17px 45px !important;
	font-family: Roboto;
	font-weight: 400 !important;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	height: 50px;
}
.red-buttn:hover {
	color: #fff !important;
}
.useful-cards {
	background-color: #f9f8fe;
}
.useful-cards .card {
	background-color: #fff;
	box-shadow: 3px 3px 40px 5px rgba(0,0,0,0.12);
	height: 100%;
}
.useful-cards .top-card {
	margin-top: -230px;
	margin-bottom: 30px;
}
.useful-cards .card-heading {
	padding-bottom: 24px;
	font-size: 20px;
	font-family: PFD;
}
.useful-cards .wide-card .card-heading {
	padding-bottom: 15px;
	border-bottom: 2px solid #324abd;
	display: inline-block;
	margin-bottom: 50px;
	font-family: PFD;
	font-size: 28px;
	line-height: 36px;
	text-transform: uppercase;
}
.useful-cards .card-content {
	padding: 140px 40px 45px;
	position: relative;
}
.useful-cards .wide-card .card-content {
	padding: 80px 40px;
	position: relative;
}
.useful-cards p {
	font-family: Roboto;
	color: #000;
	font-size: 14px;
}
.useful-cards .wide-card p {
	font-size: 16px;
}
.useful-cards .perso-img {
	background-image: url(../img/person.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 335px;
}
.useful-cards .top-card .card-icon {
	position: absolute;
	top: 70px;
	right: 70px;
}
.useful-cards .card-icon {
	position: absolute;
	top: 36px;
	right: 56px;
}
.small-cards {
	margin-right: -15px;
	margin-left: -15px;
}
.small-cards .col-md-4 {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 30px;
}

.portal-results {
	background-image: url(../img/portal-results.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	min-height: 650px;
	padding: 90px 0 120px;
}
.portal-results:after {
	content: "";
	display: block;
	background-image: url(../img/portal-results-txt.png);
	position: absolute;
	width: 100%;
	height: 232px;
	background-size: contain;
	background-repeat: no-repeat;
	top: 33%;
	z-index: 0;
}
.portal-results h2 {
	margin-bottom: 75px;
}
.portal-results .results-list {
	list-style: none;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.portal-results .results-list p {
	margin: 0;
	padding-left: 36px;
	margin-bottom: 45px;
	position: relative;
}
.portal-results .results-list p:before {
	content: "";
	background-image: url(../img/check-icon.png);
	width: 17px;
	height: 17px;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
}
.portal-results .container {
	position: relative;
	z-index: 1;
}




.portal-help {
	background-color: #f9f8fe;
	padding: 80px 0;
}
.portal-help .card {
	display: flex;
	margin-top: 80px;
}
.portal-help .card-num {
	font-size: 104px;
	font-weight: 700;
	font-family: PFD;
	line-height: 100%;
	background: -webkit-linear-gradient(#93d8f1, #324abd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-right: 35px;
	height: 85px;
}
.portal-help .card-heading {
	padding-bottom: 10px;
	font-size: 20px;
	font-family: PFD;
	position: relative;
}
.portal-help .card-icon {
	position: absolute;
	z-index: 0;
	top: 40px;
	left: 330px;
}
.portal-help .card-text {
	position: relative;
}
.portal-help .card-arrow {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 38%;
}


.useful-cards .icon-img {
	background-image: url(../img/ic5.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center left;
	width: 100%;
	height: 335px;
}
.useful-cards .red-buttn {
	margin-top: 190px;
	margin-left: 40%;
}
.useful-cards .bottom-card {

}
.portal-price {
	background-image: url(../img/price-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -120px;
	padding-bottom: 120px;
}
.portal-price h2 {
	padding-top: 50px;
	margin-bottom: 35px;
}
.portal-price .card {
	background-color: #fff;
	margin-bottom: 100px;
}
.portal-price .card .card-content {
	padding: 80px 40px;
}
.portal-price .card .card-heading {
	font-size: 26px;
	font-family: PFD;
	padding-bottom: 30px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 25px;
}
.portal-price .price-tabs {
	padding: 20px 0 30px;
}
.portal-price .tab {
	display: inline-block;
	width: 95px;
	text-align: center;
	height: 40px;
	border: 2px solid #324fc5;
	margin-right: 17px;
	line-height: 38px;
	border-radius: 20px;
	cursor: pointer;
}
.portal-price .tab.active {
	background-color: #324fc5;
	color: #fff;
}
.portal-price .tab span:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/tab-user-icon-g.png);
	margin-left: 7px;
}
.portal-price .tab.active span:after {
	background-image: url(../img/tab-user-icon-w.png);
}
.card-portal-price {
	display: inline-block;
	font-family: Roboto-Bold, sans-serif;
	font-size: 44px;
	margin-right: 45px;
}
.portal-price .tab-item {
	display: flex;
	-ms-flex-align: center!important;
	align-items: center!important;
}
.align-items-center {
	-ms-flex-align: center!important;
	align-items: center!important;
}
.portal-price .portal-box {
	margin-top: -70px;
	margin-left: -95px;
}
.portal-price .heading-wrapper {
	padding-left: 40px;
}
.portal-price .heading-wrapper p {
	padding-left: 30px;
	border-left: 2px solid #71ceed;
}
.portal-price .portal-price-form-note {
	color: #71ceed;
	padding: 0 60px;
}
.portal-price form {
	padding: 40px 60px;
}
.portal-price input[type=text] {
	overflow: visible;
	display: block;
	width: 100%;
	height: 45px;
	margin-bottom: 20px;
	border: none;
	padding: 20px;
}
.portal-price form p {
	display: inline-block;
	max-width: 231px;
	color: #fff;
	opacity: .33;
	font-size: 12px;
	margin-left: 50px;
}
.portal-price form p a {
	color: #fff;
	text-decoration: underline;
}
.portal-price form .sbmt-wrapper {
	display: flex;
}
.portal-clients {
	padding: 80px 0;
}


.portal-partner {
	background-image: url(../img/team.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 70px 0 80px;
}
.portal-partner h2 {
	margin-bottom: 40px;
}
.portal-partner .team-card {
	color: #fff;
	border-right: 1px solid rgba(113,206,237,.5);
	margin-right: 64px;
}
.portal-partner .col-md-8 .team-card {
	border-right: none;
	margin-right: 0;
}
.portal-partner .team-num {
	font-size: 100px;
	line-height: 100%;
	font-family: PFD, sans-serif;
}
.portal-partner .team-title {
	display: inline-block;
	color: #000;
	background-color: #fff;
	line-height: 40px;
	padding: 0 24px;
	margin-bottom: 15px;
}
.row.d-flex.small-cards.align-items-stretch {
	margin-right: -15px;
	margin-left: -15px;
}
@media only screen and (max-width:1200px) {
	.portal-price .portal-box {
		width: 365px;
	}
	.portal-price .tab {
		width: 90px;
		margin-right: 15px;
	}
	.portal-partner .team-card {
		border-right: none;
	}
	.portal-partner-numbers {
		flex-wrap: wrap;
	}
	.portal-partner .portal-partner-num1 {
		min-width: 49%;
	}
	.portal-partner .portal-partner-num1:first-child .team-card {
		border-right: 1px solid rgba(113,206,237,.5);
	}
	.portal-partner .portal-partner-num2 {
		min-width: 100%;
		border-right: none;
		border-top: 1px solid rgba(113,206,237,.5);
		margin-top: 25px;
		padding-top: 25px;
	}
}
@media only screen and (max-width:992px) {
	.portal-banner .banner-right-img {
		width: 45%;
		min-width: 260px;
		bottom: 0;
		top: auto;
	}
	.intro_descr {
		float: none;
		position: relative;
		z-index: 2;
	}
	.intro_descr p {
		width: 67%;
	}
	.useful-cards {
		padding-bottom: 60px;
	}
	.useful-cards .top-card {
		margin-top: -100px;
	}
	.usefulness h4 {
		margin-bottom: 30px;
	}
	.useful-cards .small-cards {
		display: block;
	}
	.useful-cards .card-content {
		padding: 90px 40px 45px;
	}
	.useful-cards .wide-card .card-content {
		padding: 50px 40px 50px;
	}
	.useful-cards .bottom-card .card-content {
		padding: 50px 40px 0;
	}
	.useful-cards .card-icon {
		top: 30px;
		right: 30px;
		width: 50px;
	}
	.useful-cards .icon-img {
		height: auto;
		padding: 50px 40px 0;
		background-size: 101px;
		background-position: 212px 17px;
	}
	.useful-cards .red-buttn {
		margin-bottom: 40px;
		margin-top: 0;
		margin-left: 0;
	}
	.portal-price {
		margin-top: 0;
	}
	.portal-price .card .card-content {
		padding: 50px 40px;
	}
	.portal-price .card .card-heading {
		text-align: center;
	}
	.portal-price .portal-box {
		display: none;
	}
	img.portal-box-top {
		display: block !important;
		max-width: 50%;
		margin: 0 auto 30px;
	}
	.portal-price .price-tabs {
		display: flex;
		-ms-flex-pack: justify!important;
		justify-content: space-between!important;
	}
	.portal-price .tab {
		min-width: 80px;
		margin-right: 0;
	}
	.portal-price p {
		text-align: center;
	}
	.portal-price p.white-heading {
		text-align: left;
	}
	.portal-help .card-arrow {
		display: none;
	}
	.portal-help .card-icon {
		top: -50px;
		left: 330px;
	}
	/*.portal-partner-numbers {
		display: block;
	}*/
	/*.portal-partner .team-card {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
	}*/
}
@media only screen and (max-width:860px) {
	.opportunities .tab-outer:after {
		display: none;
	}
	.opportunities .tab-content {
		margin-top: 60px;
	}
}
@media only screen and (max-width:768px) {
	.portal-banner {
		height: auto;
		overflow: hidden;
		/*margin-top: -51px;*/
		margin-top: 0;
		padding-bottom: 90px;
	}
	.opportunities .tabs {
		width: 80%;
		margin: 0 auto;
	}
	.portal-results h2, .portal-clients h2 {
		text-align: center;
	}
	.opportunities h2 br {
		display: none;
	}
	.usefulness {
		padding-top: 40px;
	}
	.usefulness h4 {
		line-height: 24px;
		font-size: 14px;
		font-family: "Roboto-Regular";
	}
	.usefulness h4 br {
		display: none;
	}
	.usefulness .btn-sect {
		text-align: center;
	}
	.useful-cards .top-card {
		margin-top: -230px;
	}
}
@media only screen and (max-width:650px) {
	.opportunities .tab-outer {
		display: none;
	}
	.opportunities .tabs li.active:before {
		display: none;
	}
	.opportunities .card-num {
		display: none;
	}
	.opportunities .tab-item .card-heading {
		display: none;
	}
	.opportunities .card {
		background: none;
		padding: 15px 32px;
	}
	.opportunities .tabs {
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 2px 51px rgba(13,15,19,.11);
		border: 1px solid #e1e1e1;
		margin: 0 auto;
		width: 100%;
	}
	.opportunities .drop-tab {
		padding: 15px 20px;
		border-bottom: 1px solid #e1e1e1;
	}
	.opportunities .drop-tab:last-child {
		border-bottom: none;
	}
	.opportunities .tabs li {
		display: flex;
	}
	.opportunities .tabs li span {
		margin-right: 15px;
	}
	.opportunities .desc ul li {
		color: #000 !important;
		font-size: 14px !important;
	}
	.opportunities .tabs .tab {
		padding-right: 20px;
		background-image: url(/images/down-arrow-bold.svg);
		background-repeat: no-repeat;
		background-size: 13px;
		background-position: right 0 top 50%;
		font-size: 14px;
	}
	.opportunities .tabs .tab.active {
		background-image: url(/images/up-arrow-bold.svg);
	}
}
@media only screen and (max-width:630px) {
	.portal-partner .team-card {
		margin-right: 0;
		padding: 0 15px;
		text-align: center;
	}
}
@media only screen and (max-width:576px) {
	.intro_descr .intro_title {
		font-size: 42px;
	}
	.portal-banner .banner-right-img {
		bottom: -50px;
	}
	.opportunities h2, .usefulness h2, .portal-price h2, .portal-help h2, .portal-results h2, .portal-clients h2, .portal-partner h2 {
		font-size: 40px;
	}
	.opportunities .tabs {
		width: 100%;
		margin: 0 auto;
	}
	.opportunities .tab-content {
		height: auto;
	}
	.opportunities .desc ul {
		column-count: 1;
	}
	.portal-price .tab span:after {
		display: none;
	}
	.portal-price .tab {
		width: 70px;
		min-width: 70px;
	}
	.card-portal-price {
		font-size: 30px;
		margin-right: 40px;
	}
	.portal-price form .sbmt-wrapper {
		display: block;
	}
	.portal-price form p {
		display: block;
		margin-left: 0;
		margin-top: 20px;
		text-align: left;
	}
	.portal-price .card {
		margin-bottom: 30px;
	}
	.portal-price form {
		padding: 40px 30px;
	}
	.portal-price .heading-wrapper {
		padding: 0 30px;
	}
}
@media only screen and (max-width:480px) {
	.portal-price .card .card-content {
		padding: 50px 15px;
	}
	img.portal-box-top {
		display: none !important;
	}
	.portal-price {
		padding-bottom: 0;
	}
	.portal-price h2 {
		padding-top: 0px;
	}
	.portal-price p {
		text-align: left;
	}
	.portal-price .price-tabs {
		display: block;
		border-bottom: 1px solid #e7e7e7;
		padding: 20px 0 15px;
		margin-bottom: 30px;
	}
	.portal-price .tab {
		display: block;
		float: left;
		margin: 0 5px 10px;
		width: 96px;
	}
	.portal-price .tab span:after {
		display: inline-block;
	}
	.card-portal-price {
		display: block;
		margin: 0 auto 20px;
	}
	.portal-price .tab-item {
		display: block;
	}
	.portal-price .card .card-heading {
		text-align: left;
	}
	.portal-price .portal-box {
		position: absolute;
		bottom: 25px;
		right: 25px;
		height: 135px;
		width: auto;
		display: block;
	}
	.portal-price .heading-wrapper {
		padding: 0;
	}
	.portal-price form {
		padding: 40px 0;
	}
	.portal-price form p {
		max-width: none;
	}
	.portal-results {
		padding: 40px 0;
	}
	.portal-results .results-list p {
		margin-bottom: 24px;
	}
	.portal-results h2 {
		margin-bottom: 35px;
	}
	.portal-help {
		padding: 35px 0 50px;
	}
	.portal-help h2 {
		font-size: 22px;
	}
	.portal-help .card-num {
		font-size: 26px;
		height: 26px;
		margin-right: 25px;
	}
	.portal-help .card {
		margin-top: 40px;
	}


}
@media only screen and (max-width:450px) {
	.useful-cards .top-card .card-icon {
		bottom: 26px;
		right: 25px;
		top: auto;
	}
	.useful-cards .wide-card p {
		margin-bottom: 40px;
	}
	/*.portal-help .card-icon {
		display: none;
	}*/
	/*.portal-help .card {
		display: block;
		margin-top: 60px;
		text-align: center;
	}*/
	/*.portal-help .card-num {
		margin: 0 auto 20px;
	}*/
	.portal-help .card-icon {
		right: 0;
		left: auto;
	}
	.useful-cards .top-card {
		margin-top: -200px;
	}
	.useful-cards .wide-card .card-heading {
		margin-bottom: 25px;
	}
	.useful-cards .bottom-card p {
		margin-bottom: 0;
	}
	.opportunities h2, .usefulness h2, .portal-price h2, .portal-results h2, .portal-clients h2, .portal-partner h2 {
		font-size: 35px;
	}
	.portal-partner .team-card {
		text-align: left;
	}
	.portal-partner .team-title {
		padding: 0 10px;
	}
	.portal-partner .team-num {
		font-size: 62px;
	}
	.portal-partner .team-desc {
		font-size: 12px;
	}
}
@media only screen and (max-width:400px) {
	.portal-partner {
		padding: 35px 0 60px;
	}
	/*.opportunities .tabs li span {
		display: none;
	}*/
	/*.portal-partner-numbers {
		display: block;
	}*/
	/*.portal-partner .portal-partner-num1:first-child .team-card {
		border-right: none;
		border-bottom: 1px solid rgba(113,206,237,.5);
		padding-bottom: 25px;
		margin-bottom: 25px;
	}*/
	.tabs-wrapper {
		margin: 0 -5px;
	}
	.portal-partner h2 {
		margin-bottom: 30px;
	}
	.portal-partner .portal-partner-num1 {
		min-width: 49% !important;
		width: 49%;
	}
	.portal-partner .team-title {
		padding: 0 9px;
		font-size: 14px;
		line-height: 29px;
	}
	.portal-partner .team-desc br {
		display: none;
	}
	.portal-partner .portal-partner-num1:first-child .team-card {
		padding-left: 0;
	}
	.portal-partner .portal-partner-num1:last-child .team-card {
		padding-right: 0;
	}
}
@media only screen and (max-width:355px) {
	.portal-partner .team-title {
		font-size: 13px;
	}
	.portal-partner .team-card {
		padding: 0 8px;
	}
	.portal-partner .team-title {
		padding: 0 8px;
	}
}

