.why .why__wrapper .why-block {
    height: 380px;
}
@media (max-width: 1200px) and (min-width: 992px) {
    .why .why__wrapper .why-block {
        height: 450px;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .why .why__wrapper .why-block {
        height: auto;
    }
}