@font-face {
    font-family: PDFinDisplayPro;
    src: url(/nashi-klienty/russiadiscovery/fonts/pfdintextcondpro-medium.ttf);
    src: url(/nashi-klienty/russiadiscovery/fonts/PFDinDisplayPro-Med.ttf);
}
.heading-block {
	display: none;
}

.page-russia-discovery {
    font-family: Roboto;
}

.page-russia-discovery section {
	background-position: top center;
	background-repeat: no-repeat; }

.page-russia-discovery section:first-child {
	height: 615px;
	background-image: url(/nashi-klienty/russiadiscovery/images/section_bg_1.png);
	position: relative; }

.page-russia-discovery h1,
.page-russia-discovery .banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    font-size: 48px;
    font-family: 'PDFinDisplayPro';
    text-align: center;
    margin: 0;
}

.page-russia-discovery .single-func{
	padding-top: 90px;
	padding-bottom: 70px;
}

.page-russia-discovery .grey-bg{
	background-color: #f8f8f8;
}

.page-russia-discovery .green-bg{
	background-color: #14a560;
	color: white;
}

.page-russia-discovery .project-tasks{
	height: 725px;
	background-image: url(/nashi-klienty/russiadiscovery/images/section_bg_2.png);
	padding-top: 77px;
	color: white;
}

.page-russia-discovery .project-tasks h2{
	margin-bottom: 57px;
	font-size: 28px;
	text-transform: upperrussiadiscovery;
	font-weight: bold;
}

.page-russia-discovery .single-task{
	background-color: rgba(0, 0, 0, .6);
	height: 450px;
	padding: 37px 40px 37px 50px;
}

.page-russia-discovery .single-task span{
	display: block;
}

.page-russia-discovery .single-task p{
	font-size: 16px;
	line-height: 1.7;
}

.page-russia-discovery .single-task span.num{
	color: #b1bbc0;
    font-size: 48px;
    text-align: left;
    padding: 0;
    font-family: Roboto;
    position: static;
}

.page-russia-discovery .single-task span.title{
	font-size: 20px;
	padding: 0;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 30px;
}

.page-russia-discovery .ico_scroll {
	position: absolute;
	background-image: url(/nashi-klienty/russiadiscovery/images/ico_scroll.png);
	height: 50px;
	width: 50px;
	left: 50%;
	bottom: 45px;
	transform: translateX(-50%);

	animation-name: mouseBounce;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;

}

@keyframes mouseBounce {
	0% {
		transform: translate3d(0, 0, 0);
	}
	30% {
		transform: translate3d(0, 5px, 0);
	}
	50% {
		transform: translate3d(0, 3px, 0);
	}
	70% {
		transform: translate3d(0, 5px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.page-russia-discovery .ico_logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-position: center;
	background-color: white;
	background-image: url(/nashi-klienty/russiadiscovery/images/rd_logo.png);
	background-repeat: no-repeat;
	height: 115px;
	width: 195px;
}

.page-russia-discovery img{
	max-width: 100%;
}

.page-russia-discovery .main-func .main-title{
	font-size: 34px;
    margin-bottom: 90px;
    display: block;
}

.page-russia-discovery .main-func .title{
	padding: 0;
	display: block;
	font-weight: bold;
	font-size: 22px;
    margin-bottom: 25px;
}

.page-russia-discovery .main-func .green-bg .title{
    margin-top: 70px;
}

.page-russia-discovery .section-client{
	margin-top: 67px;
	background-image: url(/nashi-klienty/russiadiscovery/images/clients2.png);
	background-repeat: no-repeat;
	background-position: 80% bottom;
	padding-top: 36px;
}

.page-russia-discovery .section-client a{
	color: #11a863;
	margin-top: 84px;
	display: block;
	margin-bottom: 135px;
	font-size: 16px;
}

.page-russia-discovery .section-client p{
	font-size: 20px;
}

.page-russia-discovery .clients-title{
	border-top: 2px solid #0464b5;
	margin-top: 20px;
	font-size: 28px;
	padding-top: 20px;
	display: inline-block;
	text-transform: upperrussiadiscovery;
	margin-bottom: 41px;
	font-weight: bold;
}

.page-russia-discovery .main-func p{
	font-size: 16px;
    line-height: 1.7;
}

.page-russia-discovery .main-func p.full-width{
	width: 100%;
	font-size: 20px;
	margin-bottom: 65px;
}

.page-russia-discovery ul{
	padding-left: 0;
	list-style-type: none;
	font-size: 16px;
	line-height: 1.7;
}

.page-russia-discovery li{
	position: relative;
    padding-left: 45px;
    margin-bottom: 25px;
}

.page-russia-discovery li:before{
	position: absolute;
	left: 0;
	content: url(/nashi-klienty/russiadiscovery/images/green_checkmark.png);
}

.page-russia-discovery .results-section{
	padding-top: 80px;
	background-image: url(/nashi-klienty/russiadiscovery/images/section_bg_3.png);
	height: 660px;
	color: white;
}

.page-russia-discovery .results-section h2{
	margin-bottom: 57px;
	font-size: 28px;
	text-transform: upperrussiadiscovery;
	font-weight: bold;
}

.page-russia-discovery .results-section a,
.page-russia-discovery .results-section a:hover{
	font-size: 18px;
    text-transform: upperrussiadiscovery;
    font-weight: bold;
    border: 1px solid white;
    padding: 23px 0;
    display: block;
    text-align: center;
    width: 370px;
    color: white;
    margin-top: 70px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 35px 35px;
}

.page-russia-discovery .single-result{
	background-color: rgba(0, 0, 0, .3);
	position: relative;
    padding: 55px 50px 30px 30px;
    height: 260px;
    font-size: 18px;
}

.page-russia-discovery .single-result:after{
	position: absolute;
	bottom: 25px;
	right: 25px;
	content: url(/nashi-klienty/russiadiscovery/images/white_checkmark.png);
}

.page-russia-discovery .func-move-data{
	padding-top: 125px;
	padding-bottom: 145px;
}

.page-russia-discovery .func-move-data .func-desc{
	padding-left: 50px;
    padding-top: 25px;
}

.page-russia-discovery .templates_doc_wrap{
    font-size: 16px;
    margin-left: 40px;
    margin-top: 45px;
    line-height: 1.7;
}

.page-russia-discovery .templates_doc_wrap .subtitle{
	font-weight: bold;
}

.page-russia-discovery .templates_doc_wrap span{
	display: block;
}

@media (max-width: 767px) {
	.page-russia-discovery h1,
	.page-russia-discovery .banner-title {
		font-size: 32px;
	}

	.page-russia-discovery img{
		float: none;
		margin: 0 auto;
		display: block;
	}

	.page-russia-discovery .section-client{
		background-image: none;
		margin-top: 0px;
	}

	.page-russia-discovery .project-tasks,
	.page-russia-discovery .results-section,
	.page-russia-discovery .single-task,
	.page-russia-discovery .single-result{
		height: auto;
	}

	.page-russia-discovery .single-task,
	.page-russia-discovery .single-result{
		margin-bottom: 20px;
		padding: 25px;
	}

	.page-russia-discovery .single-result{
		padding: 25px 45px 25px 25px;
	}

	.page-russia-discovery .project-tasks{
		background-color: #00a65b;
		padding-top: 20px;
        padding-bottom: 25px;
	}

	.page-russia-discovery .results-section{
		background-color: #0069bb;
		padding: 30px 0;
	}

	.page-russia-discovery .main-func .title{
		font-size: 18px;
	}

	.page-russia-discovery .clients-title{
		margin-top: 10px;
		font-size: 20px;
		padding-top: 10px;
		margin-bottom: 20px;
	}

	.page-russia-discovery .project-tasks h2{
		font-size: 20px;
		margin-bottom: 30px;
	}

	.page-russia-discovery .single-task span.title{}

	.page-russia-discovery .section-client a{
		margin: 24px 0;
	}

	.page-russia-discovery .main-func .main-title{
		font-size: 27px;
		margin-bottom: 30px;
	}

	.page-russia-discovery .func-move-data .func-desc{
		padding-left: 0;
	}

	.page-russia-discovery .single-func{
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.page-russia-discovery .main-func .green-bg .title{
		margin-top: 30px;
	}

	.page-russia-discovery .results-section h2{
		font-size: 20px;
		margin-bottom: 30px;
	}

	.page-russia-discovery .results-section a,
	.page-russia-discovery .results-section a:hover{
		width: 250px;
		font-size: 16px;
		padding: 15px 0;
		margin-top: 20px;
	}

	.page-russia-discovery .visible-img-xs{
		display: block;
	}

	.page-russia-discovery .main-func p.full-width{
		font-size: 16px;
	}

	.page-russia-discovery ul{
		margin-top: 25px;
	}

	.page-russia-discovery .single-result:after{
		right: 10px;
		bottom: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.page-russia-discovery h1,
	.page-russia-discovery .banner-title {
		font-size: 36px;
	}

	.page-russia-discovery .section-client{
		background-image: none;
		margin-top: 0px;
	}

	.page-russia-discovery .visible-img-xs{
		display: block;
	}

	.page-russia-discovery .section-client p{
		font-size: 18px;
	}

	.page-russia-discovery .project-tasks h2{}

	.page-russia-discovery .single-task{
		padding: 25px;
	}

	.page-russia-discovery .single-task span.title{
		font-size: 18px;
	}

	.page-russia-discovery .main-func .main-title{
		font-size: 30px;
		margin-bottom: 60px;
	}

	.page-russia-discovery .section-client a{
		margin-top: 25px;
		margin-bottom: 35px;
	}

	.page-russia-discovery .visible-img-xs img{
		margin-top: 130px;
	}


	.page-russia-discovery .single-task p{
		font-size: 14px;
	}

	.page-russia-discovery .func-move-data{
		padding-top: 90px;
		padding-bottom: 70px;
	}

	.page-russia-discovery .main-func .green-bg .title{
		margin-top: 0;
	}

	.page-russia-discovery .results-section a,
	.page-russia-discovery .results-section a:hover{}

	.page-russia-discovery .single-result{
		padding: 25px;
	}

	.page-russia-discovery .single-result:after{}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.page-russia-discovery .section-client{
		background-image: none;
		margin-top: 0px;
	}

	.page-russia-discovery .section-client a{
		margin-top: 25px;
		margin-bottom: 35px;
	}

	.page-russia-discovery .visible-img-xs img{
		margin-top: 70px;
	}
}


@media (min-width: 768px) {

	.left-pull-sm{
		float: left !important;
	}

	.right-pull-sm{
		float: right !important;
	}

	.page-russia-discovery .task-wrap:first-child{
		padding-right: 10px;
	}

	.page-russia-discovery .last-wrap:last-child{
		padding-left: 10px;
	}

	.page-russia-discovery .single-result-wrap{
		width: calc(33.33333333%);
	}

	.page-russia-discovery .single-result-wrap:first-child,
	.page-russia-discovery .single-result-wrap:nth-child(2){
		padding-right: 30px;
	}

	.page-russia-discovery .text-right-sm{
		text-align: right;
	}

}


@media (min-width: 1200px) {
	.page-russia-discovery section:first-child h1,
	.page-russia-discovery section:first-child .banner-title {
		width: 1150px;
	}

	.page-russia-discovery .visible-img-xs{
		display: none;
	}
}

@media (min-width: 1200px) and (max-width: 1449px) {
	.page-russia-discovery .clients-desc{
		width: 34%
	}
}

@media (min-width: 1450px) and (max-width: 1799px) {
	.page-russia-discovery .clients-desc{
		width: 45%
	}
}

@media (min-width: 1921px) {
	.page-russia-discovery section:first-child,
	.page-russia-discovery .project-tasks,
	.page-russia-discovery .results-section{
		background-size: cover;
	}
}