/*Branches*/

.heading-block .col-md-8 {padding:0px;}

.middle-block {background:#f9f8fe;}

.branches-white p,.branches-gray p, .middle-block p{
	font-family:Roboto-Regular;
	font-size:18px;
	line-height:26px;
	color:#000;
	margin-top:30px;
}

.branches-white ul,.branches-gray ul, .branches-white-2 ul {padding-left:0px;}

.branches-white li:before,.branches-gray li:before, .first-block li:before, .branches-white-2 li:before{
	content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; 
	
}

.it {

background-image:url('../img/branches/border.png') !important;
background-position:bottom left !important;
background-repeat:no-repeat !important;
width:100% !important;
border-bottom:0px !important;
	
}

.branches-white h2, .branches-gray h2 {
font-family: PFD;
font-size: 38px;
color: #25262a;
line-height: 46px;
text-transform: uppercase;
padding-bottom: 30px;
border-bottom: 2px solid #71ceed;
width: 20%;
margin-bottom: 40px;
margin-top: 0px;
	
}

.branches-white {padding-bottom:80px;
	padding-top:80px;
	background:#fff;}
	

.branches-gray {padding-bottom:80px;
	padding-top:80px;
	background:#F9F8FE;}
	
.branches-white img{float:right;
padding-left:50px;
}

.branches-gray img{float:left;
padding-right: 50px;
}



.branches-white .btn-more, .branches-gray .btn-more {
	text-decoration: none;
	background-color: #324abd;
	border: none;
	padding: 12px 61px;
	margin-top:30px;
	border: 1px solid #324abd;
}

.branches-white .btn-more a, .branches-gray .btn-more a{
	font-family:Roboto-Medium;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;	
} 

.branches-white .btn-more:hover, .branches-gray .btn-more:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	
}

.branches-white .btn-more:hover a, .branches-gray .btn-more:hover a{
	text-decoration:none;
	color: #324abd;
	
}


.first-block {background:#f9f8fe;}

.branches-white p,.branches-gray p, .first-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	margin-top:30px;
	padding-right:40px;
}

.branches-white li,.branches-gray li,.branches-white td,.branches-gray td {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding-bottom:15px;
	list-style:none;
}



.first-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

.branches-white h2, .branches-gray h2{
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-bottom: 30px;
	
	background-image:url('../img/branches/border.png') !important;
	background-position:bottom left !important;
	background-repeat:no-repeat !important;
	width:100% !important;
	border-bottom:0px !important;
	
}

#home a{
	font-family: PFD;
	font-size: 20px;
	color: #afafaf;
	line-height: 36px;
	text-transform: uppercase;
	
	
}
#home {text-align:center;}
#home a:hover {border-bottom:2px solid #324abd;color:#324abd;text-decoration:none;}
.branches-white ul, .branches-gray ul {padding-left: 15px;margin-top: 15px;}

.cabinet td {border: 0px;
padding-top: 15px;
padding-bottom: 0px;
}
.cabinet {
	border:none;
}

.personal {padding-bottom:20px;
	border-bottom:1px solid #e6e6e6;
}

.ptext {margin-top: 30px;
	display: inline-block;
	border-bottom:1px solid #e6e6e6;
	padding-bottom:40px;
}

.ptext .for {padding-left: 25px;margin-top:35px;}

.ptext .for:before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
	
}

.ptext span {color:#324abd;}

.first-block {padding-top:30px;
background:#F9F8FE;
padding-bottom: 30px;}

.blue-block {background:#324abd;}

.bottom-block {background-image:url('../img/cons/bottomb.png');
	
	background-position:center;
}

.bottom-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #71ceed;
	line-height: 46px;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-top: 100px;
	
}

.bottom-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	padding-bottom:100px;
}

.blue-block img {float:left;padding:50px 35px 50px 0px;}

.blue-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	margin-top:50px;
	margin-bottom:50px;
}

.branches-white {padding-bottom:80px;
	padding-top:80px;
background:#fff;}


.branches-gray {padding-bottom:80px;
	padding-top:80px;
background:#F9F8FE;}

.branches-white img{float:right;
	cursor:pointer;
}

.branches-gray img{float:left;
	cursor:pointer;
}

.branches-white .btn-more, .branches-gray .btn-more {
	text-decoration: none;
	background-color: #324abd;
	border: none;
	padding: 12px 61px;
	margin-top:30px;
}

.branches-white .btn-more a, .branches-gray .btn-more a{
	font-family:Roboto-Medium;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;	
} 

.branches-white .btn-more:hover, .branches-gray .btn-more:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	
}

.branches-white .btn-more:hover a, .branches-gray .btn-more:hover a{
	text-decoration:none;
	color: #324abd;
	
}

/*pcarousel*/

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
	display: none;
}
@media all and (min-width: 768px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: 100%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 100%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-1,
	.carousel-showmanymoveone .carousel-inner .cloneditem-2{
		display: block;
	}
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width: 992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -33.33333333%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 33.33333333%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3,
	.carousel-showmanymoveone .carousel-inner .cloneditem-4,
	.carousel-showmanymoveone .carousel-inner .cloneditem-5,
	.carousel-showmanymoveone .carousel-inner .cloneditem-6  {
		display: block;
	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.33333333%, 0, 0);
		transform: translate3d(33.33333333%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.33333333%, 0, 0);
		transform: translate3d(-33.33333333%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

@media all (min-width: 768px) and (max-width:992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 50%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3,
	.carousel-showmanymoveone .carousel-inner .cloneditem-4,
	.carousel-showmanymoveone .carousel-inner .cloneditem-5,
	.carousel-showmanymoveone .carousel-inner .cloneditem-6  {
		display: block;
	}
}
@media all(min-width: 768px) and (max-width:992px) and (transform-3d), all (min-width: 768px) and (max-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

.project1 {padding-right: 15px;
	padding-left: 15px;

}

.projects {margin-bottom:70px;
margin-top:50px;}

.carousel-control.left, .carousel-control.right {
	background-image:none;
}
.carousel-showmanymoveone .carousel-control {
	
    height: 45px;
	width: 45px;
    background: none repeat scroll transparent;
    border: 1px solid #dedede;
    border-radius:3px;
    margin-top: 130px;
}
.carousel-showmanymoveone .carousel-control.right {
	right: -50px;
}

.carousel-showmanymoveone .carousel-control.left {
	left: -50px;
}

.carousel-showmanymoveone .carousel-control i {
	font-size: 40px;
	
	color: #a8a8a8;
	text-shadow: none;	
	text-align:center;
	vertical-align:middle;
}

.carousel-showmanymoveone .carousel-control:hover i {
	
	color: #324abd;
	text-shadow: none;	
}

.projects h1 {
	font-family:PFD;
	font-size:50px;
	color:#25262a;
	text-align:center;
	text-transform:uppercase;
	padding-bottom:40px;
	padding-top:10px;
}

.project1 h4 {
	font-family:Roboto-Bold;
	font-size:18px;
	color:#000;
	padding-bottom:10px;
	padding-top:10px;
}

.project1 p {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#000;
	padding-bottom:20px;
	height:80px;
	
}

.project1 a {
	font-family:Roboto-Bold;
	font-size:14px;
	color:#324abd;
	text-transform:uppercase;
	padding-bottom:20px;
	
}