.heading-block .col-md-8 {padding:0px;}

.search-block {background:#324abd;}

.search-block h1 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	line-height:50px;
	margin-bottom:20px;
	
}

.heading-block {background:#324abd;}

.heading-block h1 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	line-height:50px;
	margin-bottom:20px;
	text-transform:uppercase;
	
}

.input-group.search {
	margin-top: 28px;
}

#basic-addon1 {background-color:#fff;
	border:none;
border-radius:0px;}

.input-group-addon i {font-size: 20px;
    color: #000;
}


.search .form-control {
	border:1px solid #fff;
	box-shadow: none;
	font-family:Roboto-Regular;
	font-size:16px;
	color:#949494;
	border-radius:0px;
}

/*breadcrumb-block*/

.breadcrumb-block{background: #fff;
	border-bottom: 1px solid #efefef;
}


.breadcrumb {
	margin-bottom: 0px;
	background-color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:0px;
	
}

.breadcrumb  li a {
	font-family:Roboto-Regular;
	font-size:12px;
	color:#656565;
	
	
}
/*search-block*/

.heading-block {background:#324abd;}

.heading-block h1 {
	font-family:PFD;
	font-size:42px;
	color:#fff;
	line-height:50px;
	margin-bottom:20px;
	
}

.input-group.search {
	margin-top: 23px;
}

#basic-addon1 {background-color:#fff;
	border:none;
border-radius:0px;}

.input-group-addon i {font-size: 20px;
    color: #000;
}


.search .form-control {
	border:1px solid #fff;
	box-shadow: none;
	font-family:Roboto-Regular;
	font-size:16px;
	color:#949494;
	border-radius:0px;
}
.heading-block .btn-more {
	background:none;
	border:1px solid #fff;
	padding: 12px 41px;	
	text-align:right;
	float:right;
	margin-top:20px;
}

.heading-block .btn-more a{color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
text-transform:uppercase;}



.heading-block .btn-more:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	
}

.heading-block .btn-more:hover a{
	text-decoration:none;
	color: #324abd;
	
}

/*breadcrumb-block*/

.breadcrumb-block{background: #fff;
	border-bottom: 1px solid #efefef;
}


.breadcrumb {
	margin-bottom: 0px;
	background-color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.breadcrumb  li a {
	font-family:Roboto-Regular;
	font-size:12px;
	color:#656565;
	
	
}

/*Crm Menu*/
.crm-menu {background:#f9f8fe;
	border-bottom:2px solid #fff;
	height: 50px;}

.crmmenu{
	margin:0px;
}

.crmmenu li a{
font-family: PFD;
font-size: 20px;
line-height: 50px;
color: #afafaf;
text-transform: uppercase;
text-decoration: none;
height:50px;
display:block;
padding:0px !important;
text-align:center;


}



.crm-menu .navbar-collapse.collapse {padding:0px;}

.crm-menu .navbar {margin:0px;}

.crmmenu li:last-child a{

padding-right: 0px !important;


}

.crmmenu li:hover a,.crmmenu li.active a{
border-bottom:2px solid #324abd;
	color: #324abd;
	text-decoration: none;
	background:transparent;
}


.crmmenu li {padding: 0px 18px 0px 0px !important;

}

/*branches*/



.first-block {background:#f9f8fe;}

.branches-white p,.branches-gray p, .first-block p, .branches-white-2 p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding-top:10px;
	padding-right:40px;
}

.branches-blue p {
		font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	padding-top:10px;
	padding-right:40px;
	
}

.branches-blue h2 {
	font-family: PFD;
font-size: 30px;
color: #fff;
line-height: 36px;
text-transform: uppercase;
padding-bottom: 30px;
padding-top: 30px;
margin-bottom: 30px;
margin-top: 0px;
background-image: url('../img/branches/border.png') !important;
background-position: bottom left !important;
background-repeat: no-repeat !important;
width: 100% !important;
border-bottom: 0px !important;

	
}

.branches-blue {background:#324abd;padding-bottom:70px;
	padding-top:70px;margin-bottom:70px;}

.branches-white a {font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#324abd;
}

.branches-white li,.branches-gray li,.branches-white td,.branches-gray td,.first-block li, .branches-white-2 li{
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding-bottom:15px;
	list-style:none;
}

.branches-white ul,.branches-gray ul, .branches-white-2 ul {padding-left:0px;}

.branches-white li:before,.branches-gray li:before, .first-block li:before, .branches-white-2 li:before{
	content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; 
	
}

.first-block {margin-bottom:50px;
	padding-bottom:50px;}
	
.first-block img {padding-top: 60px;}

.first-block span {
		font-family:Roboto-Regular;
	font-size:14px;
	line-height:20px;
	color:#727272;
	margin-top:10px;
	padding-right:40px;
	
}

.first-block h2 {
	font-family: PFD;
font-size: 30px;
color: #25262a;
line-height: 36px;
text-transform: uppercase;
padding-bottom: 30px;
padding-top: 30px;
margin-bottom: 30px;
margin-top: 0px;
background-image: url('../img/branches/border.png') !important;
background-position: bottom left !important;
background-repeat: no-repeat !important;
width: 100% !important;
border-bottom: 0px !important;

	
}

.videobg {
	position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

.videobg iframe {
box-sizing: border-box;
background: url('../img/crm/002.png') center center no-repeat;
    background-size: auto auto;
background-size: contain;
padding: 9% 14% 14%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0px;

	
}
.branches-white h2, .branches-gray h2, .branches-white-2 h2{
	font-family: PFD;
	font-size: 30px;
	color: #25262a;
	line-height: 36px;
	text-transform: uppercase;
padding-bottom: 30px;
margin-bottom: 30px;
	margin-top: 0px;
	background-image:url('../img/branches/border.png') !important;
	background-position:bottom left !important;
	background-repeat:no-repeat !important;
	width:100% !important;
	border-bottom:0px !important;
	
}

.branches-white-2 {padding-top:0px;padding-bottom:40px;background:#fff;}

#home a{
	font-family: PFD;
	font-size: 20px;
	color: #afafaf;
	line-height: 36px;
	text-transform: uppercase;
	
	
}
#home {text-align:center;}
#home a:hover {border-bottom:2px solid #324abd;color:#324abd;text-decoration:none;}
.branches-white ul, .branches-gray ul, .first-block ul{padding-left: 15px;margin-top: 15px;}

.cabinet td {border:0px;
padding-top:20px;}
.cabinet {
	border:none;
}

.personal {padding-bottom:20px;
	border-bottom:1px solid #e6e6e6;
}

.ptext {margin-top: 30px;
	display: inline-block;
	border-bottom:1px solid #e6e6e6;
	padding-bottom:40px;
}

.ptext .for {padding-left: 25px;margin-top:35px;}

.ptext .for:before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
	
}

.ptext span {color:#324abd;}

.first-block {padding-top:30px;
background:#F9F8FE;}

.blue-block {background:#324abd;}

.blue-block-0 {background-image:url('../img/crm/bb0.png');
	
	background-position:center;
}

.blue-block-0 h2 {
	font-family: PFD;
	font-size: 30px;
	color: #fff;
	line-height: 46px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align:center;
	
}

.bottom-block {background-image:url('../img/medicine/bottomb.png');
	
	background-position:center;
}

.bottom-block h2 {
	font-family: PFD;
	font-size: 30px;
	color: #71ceed;
	line-height: 46px;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-top: 100px;
	
}

.bottom-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	padding-bottom:100px;
}

.blue-block img {float:left;padding:50px 35px 50px 0px;}

.blue-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	margin-top:50px;
	margin-bottom:50px;
}

.branches-white {padding-bottom:80px;
	padding-top:80px;
background:#fff;}


.branches-gray {padding-bottom:80px;
	padding-top:80px;
background:#F9F8FE;}

.branches-white img, .branches-white-2 img{float:left;
	padding-right: 50px;
	cursor: pointer;
}



.first-block img {	cursor: pointer;}

.branches-gray img{float:right;
	cursor: pointer;
	padding-left:50px;
}


.first-block i {font-size:50px;color:#324abd;
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:40%;
	opacity:1;}


.branches-white .btn-more, .branches-gray .btn-more {
	text-decoration: none;
	background-color: #324abd;
	border: none;
	padding: 12px 61px;
	margin-top:30px;
}

.branches-white .btn-more a, .branches-gray .btn-more a{
	font-family:Roboto-Medium;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;	
} 

.branches-white .btn-more:hover, .branches-gray .btn-more:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	
}

.branches-white .btn-more:hover a, .branches-gray .btn-more:hover a{
	text-decoration:none;
	color: #324abd;
	
}






/*mobile version correction*/


@media all and (max-width: 767px){
	
	
	
	
	
	.infotext img {position:relative;left: 1%;}
	
	.infotext h3 {
		padding: 20px 0px;
		text-align: left;
		position: relative;
		left: 1%;
		text-transform:uppercase;
		font-size:26px;
	}
	
	.why-block {height:auto; margin-bottom:30px; width: 100%; float: left;}
	
	.why-block img {
		
		padding: 5px 10px 0px 15px;
		float: left;
		width: 25%;
		margin-right: 10px;
		
	}
	
	.why-block p {
		font-family: Roboto-Regular;
		font-size: 16px;
		line-height: 20px;
		color: #000;
		display: block;
		width: calc(75% - 10px);
		float: right;
		
		
	}
	
	.detline {text-align:center}
	
	.branches-gray {
		padding-bottom: 40px;
		padding-top: 20px;
		background: #F9F8FE;
	}
	.branches-white {
		padding-bottom: 40px;
		padding-top: 20px;
		background: #fff;
	}

	
	
	
	
	.branches-white img{float:none;text-align:center;padding-top:30px;
	
}

.branches-gray img, .branches-blue img{float:none;text-align:center;padding-top:30px;
	
}

.first-block h2 {
	
	font-size: 26px;
	
	line-height: 34px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

.branches-white h2, .branches-gray h2{
	font-family: PFD;
	font-size: 26px;
	
	line-height: 34px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-bottom: 30px;

	
}

.bottom-block h2 {
	font-family: PFD;
	font-size: 26px;
	color: #71ceed;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 50px;
	
}

.bottom-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	padding-bottom:50px;
}


.videobg iframe{padding: 11% 13% 16%;}

.blue-block-0 h2 {font-size:26px;line-height: 34px;}
.section-header{padding-left:15px;}


	
	
	
	/*end mobile correctins*/
	
}

/*tablet corrections*/

@media (min-width: 768px) and (max-width: 991px) {
	
	.branches-white img{float:none;text-align:center;padding-top: 40px;
	
}

	.branches-gray {
		padding-bottom: 60px;
		padding-top: 60px;
		background: #F9F8FE;
	}
	.branches-white {
		padding-bottom: 60px;
		padding-top: 60px;
		background: #fff;
	}

.branches-gray img, .branches-blue img{float:none;text-align:center;padding-top: 40px;
	
}
.bottom-block h2 {
	font-family: PFD;
	font-size: 26px;
	color: #71ceed;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 50px;
	
}

.bottom-block p {
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#fff;
	padding-bottom:50px;
}
	
	
	
	.crmmenu li a {
    font-family: PFD;
    font-size: 20px;
    line-height: 25px;
    color: #afafaf;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
}
.crmmenu li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.first-block {
    padding-top: 0px;
}




	
}/*end tablet corrections*/