@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome.eot');
	src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FontAwesome.woff2') format('woff2'),
		url('../fonts/FontAwesome.woff') format('woff'),
		url('../fonts/FontAwesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'PFD';
	src: url(../fonts/PFD.ttf) format('truetype');
	src: url(../fonts/PFD.eot);
	src: url('../fonts/PFD.eot');
	src: url('../fonts/PFD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD.woff2') format('woff2'),
		url('../fonts/PFD.woff') format('woff'),
		url('../fonts/PFD.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PFD-Light';
	src: url('../fonts/PFD-Light.eot');
	src: url('../fonts/PFD-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD-Light.woff2') format('woff2'),
		url('../fonts/PFD-Light.woff') format('woff'),
		url('../fonts/PFD-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PFD-Thin';
	src: url('../fonts/PFD-Thin.eot');
	src: url('../fonts/PFD-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD-Thin.woff2') format('woff2'),
		url('../fonts/PFD-Thin.woff') format('woff'),
		url('../fonts/PFD-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: PFD-Regular;
	src: url(../fonts/PFD-Regular.ttf);
}

body {
	background:#fff;
	overflow-x:hidden;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
padding-left: 0px;}


/**Top Block**/

.row {margin: 0;}

p {margin:0;}

@media all and (min-width: 992px){.col-md-25 {
	width:20%;
	margin:0;
	padding:0;
	
}}

.container-fluid {padding:0;
margin:0;}

.logo-block {
	background:#fff;
	border-bottom:1px solid #efefef;
	margin-top:15px;
}

.row{
	vertical-align: middle;
}

.logo-block i.fa.fa-map-marker{
	font-size: 15px;
	
}	

.addr{
	text-align:center;
	padding-bottom:10px;
}

.addr span{
	margin: 0;
	padding: 0;
}

.nbr{
	font-family: Roboto-Medium;
	font-size: 26px;
	color: #000;
	line-height: 1.5;
	
}

.city{
	font-family:Roboto-Regular;
	color: #324abd;
	font-size: 14px;
	
}

.city:hover {color:#324abd;text-decoration:underline}

.city img {padding-right:5px;}

.dropdown-menu.citymenu {
	width: 100%;
	box-shadow: none;
	border: 0px;
	background: #fbfbfb;
	border-radius: 0px;
	padding-top: 30px;	
	padding-bottom: 30px;
}


.dropdown-menu:before {
	content: "";
	margin-right: 50%;
	background: #fbfbfb;
	position: absolute;
	right: 50%;
	width: 100%;
	height: 100%;
	top: 0%;
}


.dropdown-menu:after {
	content: "";
	background: #fbfbfb;
	position: absolute;
	width: 100%;
	height: 100%;	
	top: 0%;
}

.citymenu li{
list-style:none;}

.citymenu li ul li a {
	font-family:Roboto-Regular; 
	font-size: 16px;
	color: #000000;
	line-height:28px;
	text-transform:none;
	text-decoration: none;
	height:auto !important;
}


.top-button{
	text-decoration: none;
	background-color: #324abd;
	border: none;
	padding: 12px 41px;
	border: 1px solid #324abd;
}

.top-button a{
	font-family:Roboto-Medium;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;	
} 

.top-button:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	
}

.top-button:hover a{
	text-decoration:none;
	color: #324abd;
	
}

.top-button a:hover {text-decoration:none;}



#advanced  .modal-body {
		position:relative;
	left:40%;
	width:30%;
	top:10%;
	background:#fff;
	padding:20px 50px 40px 50px;
}
#advanced  .modal-header {
		position:relative;
	left:40%;
	width:30%;
	border-bottom:0px;
	top:10%;
	background:#fff;
	padding:40px 50px 10px 50px;
}
#advanced h4 {
	font-family:PFD;
	font-size:42px;
	line-height:54px;
	color:#000;
}
#advanced  .modal-body option{
	font-family:Roboto-Regular;
	font-size:15px;
	line-height:22px;
	color:#000;
}

#advanced .form-control {
	height:45px;
	border:1px solid #eaeaea;
	box-shadow:none;
	border-radius:0px;
	
}

#advanced .fa-times {font-size:22px;}

#advanced .top-button {width:100%;}

/**Menu Block**/



.menu-block .navbar {margin-bottom:0px;}

.menu-block .navbar-collapse {padding-left:0px;padding-right:0px;}

.topmenu {
	width:100%;
}

.topmenu li a {
	font-family:Roboto-Medium;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	
}

.topmenu li {margin-right:32px;}

.item6 {margin-right:0px !important;
margin-left:25px;}


.topmenu li  a:focus, .topmenu li  a:hover {background-color:#324abd;
	outline:none;
color:#fff;}

.topmenu .open > a, .topmenu .open > a:focus, .topmenu .open > a:hover {
    background-color: #324abd;
    border-color: #324abd;
	color:#fff;
}

.topmenu .mega-dropdown-menu {
	box-shadow: none;
	border: 0px;
	border-radius: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
    width: 100%;
    -webkit-box-shadow: none;
	background: #fbfbfb;
	border-top: 1px solid #efefef;
}

.mega-dropdown-menu .dropdown-header {
	font-size: 30px;
	color: #000;
	padding: 5px 0px 25px 5px;
	line-height: 38px;
	font-family:PFD;
	text-transform:uppercase;
}

.mega-dropdown {	position: static !important;
}


.mega-dropdown li {margin-right:0px;
	list-style:none;
}




.mega-dropdown-menu > li ul > li > a {
	display: block;
	padding: 3px 5px;
	font-family:Roboto-Regular; 
	font-size: 16px;
	height:50px;
	color: #000000;
	text-transform:none;
	text-decoration: none;
	vertical-align:middle;
}

.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
	background-color: transparent;
	color: #324abd;
	outline: none;
	
	
}

.mega-dropdown-menu img {padding-right:15px;float: left;}

.mdm-second {margin-top:70px !important;}

.mdm-third {border-left:1px solid #efefef;padding-left:20px;}



.dropdown-toggle:after {
	content: "\f107";
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	padding-left:5px;
	color: #000;	
}

.dropdown-toggle:hover:after {
	content: "\f106";
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	padding-left:5px;
	color: #fff;	
}
