
.pager { padding-top: 23px;
    padding-bottom: 40px;
    margin-bottom: 0;}
.pager .width { text-align: left;}
.pager .pagination { margin: 0; display: inline-block;    margin-bottom: -15px;}
.pager .pagination ul {
    display: inline-block;
    margin-bottom: -15px;
}
.pager a.page-prev,
.pager a.page-next {
    font-size: 17px !important;
}
.pager .pagination li { display: table-cell;padding: 0;text-align: center;    vertical-align: middle;}
.pager .pagination ul span,
.pager .pagination ul a {
    display: table-cell;
    border-radius: 0;
    color: black;
    width: 38px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    padding: 5px 14px;
    background-color: #fff;
    margin: 0 -1px;
    float: left;
}
.pager .pagination ul li:last-child a{
    border-right:1px solid #ddd;
}
.pager .pagination ul a:hover {color:white;background-color: #1a1c73;}
.pager .pagination ul .active span {color:white;background-color: #1a1c73;}
.pager a#shmr-link {
    width: 205px;
    height: 38px;
    float: right;
    background-color: #323694;
    font-size: 14px;
    font-weight: 400;
    color:white;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 0;
}
.pager .show-more {
    text-align: center;
    height: 38px;
    padding: 0;
    margin: 0 0 0;
    width: 205px;
    float: right;
    background: none;
    border: 0;
    box-shadow: none;
    clear: inherit;
}
.pager .elem-loader {
    margin-top: 7px;
}
.pager .show_more .fa-angle-down { }
.pager .grey {width: 190px;
    float: right;
    height: 36px;display: inline-block;
    border: 1px solid #e9e9f4;
    background-color: #d6d6e0;
    color: #000000;
    font-family: "Roboto medium";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 10px; }
.pager .grey img { }
#meropriyatiya_3 .pager .grey{
    width: 205px;
    height: 38px;
    margin-left: 40px;
    float: left;
    border: 0;
}
#meropriyatiya_3 .pager .pagination{
    float: left;
    width: 50%;
}

#meropriyatiya_3 .pager .pagination,
#meropriyatiya_3 .pager .show-more{
    float: left;
}

@media screen and (max-width: 768px){
    #meropriyatiya_3 .pager .pagination,
    #meropriyatiya_3 .pager .show-more,
    #meropriyatiya_3 .archive-link{
        width: auto;
        display: table;
        clear: both;
        margin: 10px auto;
        height: auto;
        float: none;
    }

    #meropriyatiya_3 .pager .show-more,
    #meropriyatiya_3 .archive-link{
        float: none !important;
        margin: 0 auto;
        display: table;
    }
    #meropriyatiya_3 .pager .grey{
        margin: 25px auto 0 auto !important;
        display: block;
        float: none;
    }
}