.breadcrumb {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.breadcrumb .link-style,
.breadcrumb a {
  font-size: 14px;
  line-height: 16px;
  color: #ACB5BD;
}
.heading-block{
  display: none;
}
@media (min-width: 1140px) {
  .breadcrumb-block .container {
    width: 786px;
  }
}
.articles-slider__items .owl-item .articles-slider__item .articles-slider__image{
  width: 100%!important;
}
.blog-detail__notice{
  .blog-detail__notice-wrapper{
    a{
      color: #fff!important;

      &:hover{
        color: #000!important;

      }
    }
  }
}
.line-header{
  display:none;
}
div.h1{
  font-family: Roboto-Bold;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.Form-action{
  display: none;
}
