.tariffs-wrapper {
    background: #fff;
}
.tariffs-wrapper .additional {
    display:none;
}

.old_cena {
    color: #808080;
    text-decoration: line-through;
}

.real_price {
    color: #324abd;
    font-weight: bold;
}

.additional_price_control {
    margin-top: 20px;
}

/* udalenka */
.buy-license .table thead tr.custom_labels>th {
    border: none;
    font-size: 0.8em;
    font-weight: normal;

}

.buy-license .table thead tr.custom_labels {
     border: none;
}

.buy-license.udalenka .table.with-custom-labels thead tr>th:nth-child(3),
.buy-license.udalenka .table.with-custom-labels thead tr>th:nth-child(5),
.buy-license.udalenka .table.with-custom-labels tbody tr>td:nth-child(3),
.buy-license.udalenka .table.with-custom-labels tbody tr>td:nth-child(5){
    border-left: 2px solid #b0427c !important;
    border-right: 2px solid #b0427c !important;
}

.buy-license.udalenka .table.with-custom-labels thead tr.custom_labels>th:nth-child(3),
.buy-license.udalenka .table.with-custom-labels thead tr.custom_labels>th:nth-child(5){
    color:#fff;
    background:#b0427c;
}


.buy-license.udalenka .table.with-custom-labels tbody tr:last-child>td:nth-child(3),
.buy-license.udalenka .table.with-custom-labels tbody tr:last-child>td:nth-child(5){
    border-bottom: 2px solid #b0427c !important;
}


.buy-license.udalenka .tariffs-wrapper .table-responsive.with-custom-labels:nth-child(3),
.buy-license.udalenka .tariffs-wrapper .table-responsive.with-custom-labels:nth-child(5){
    border: 2px solid #b0427c !important;
}

.buy-license .tariffs-wrapper .table-responsive.with-custom-labels:not(.tariffs) tr.custom_labels+tr>th {
    text-align: left;
}
.buy-license .tariffs-wrapper .table-responsive.with-custom-labels:not(.tariffs) tr.custom_labels>th {
    color:#fff;
    background:#b0427c;
    font-size:1.4em;
}
.buy-license.udalenka .tariffs-wrapper .table-responsive.with-custom-labels:nth-child(3),
.buy-license.udalenka .tariffs-wrapper .table-responsive.with-custom-labels:nth-child(5){
    border: 2px solid #b0427c !important;
}
.table__hidengs {
    display: none;
}
.table__hidengs-toggle {
    display: block;
    width: 100%;
    text-align: center;
}