@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic);

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.p-page {
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 1200px) {
    .p-page .container {
        width: 970px;
    }
}
.client-list, .about-list, .work-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.p-header {
    position: relative;
    height: 620px;
    padding-top: 170px;
    text-align: center;
    color: #fff;
    background: url(images/h.jpg) no-repeat;
    background-position: top center;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.p-title {
    font-size: 48px;
    line-height: 50px;
    margin: 40px;
}
.goto-btn {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding: 11px 32px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    outline: none;
}
.goto-btn:hover, 
.goto-btn:focus  {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
            box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
}
.i-fly1 {
    position: absolute;
    top: -250px;
    left: -100px;
    display: block;
    width: 65px;
    height: 76px;
    background-image: url(images/i1.png);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
}
.i-fly2 {
    position: absolute;
    top: -300px;
    left: 180px;
    display: block;
    width: 43px;
    height: 50px;
    background-image: url(images/i2.png);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
}
.i-fly3 {
    position: absolute;
    top: -40px;
    left: 455px;
    display: block;
    width: 54px;
    height: 62px;
    background-image: url(images/i3.png);
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
}
.i-fly4 {
    position: absolute;
    top: -180px;
    left: 900px;
    display: block;
    width: 42px;
    height: 49px;
    background-image: url(images/i4.png);
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    opacity: 0;
}
.i-fly5 {
    position: absolute;
    top: -200px;
    right: -150px;
    display: block;
    width: 97px;
    height: 114px;
    background-image: url(images/i5.png);
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
    opacity: 0;
}
.i-fly6 {
    position: absolute;
    right: -300px;
    bottom: -250px;
    display: block;
    width: 68px;
    height: 83px;
    background-image: url(images/i6.png);
    -webkit-transition: all 2.5s;
    -moz-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
    opacity: 0;
}
.i-fly7 {
    position: absolute;
    right: 0px;
    bottom: -220px;
    display: block;
    width: 60px;
    height: 70px;
    background-image: url(images/i7.png);
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
}
.i-fly8 {
    position: absolute;
    bottom: -200px;
    left: 180px;
    display: block;
    width: 85px;
    height: 91px;
    background-image: url(images/i8.png);
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
    opacity: 0;
}
.i-fly9 {
    position: absolute;
    bottom: -200px;
    left: -50px;
    display: block;
    width: 77px;
    height: 88px;
    background-image: url(images/i9.png);
    -webkit-transition: all 2.5s;
    -moz-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
    opacity: 0;
}
.i-fly10 {
    position: absolute;
    top: 50px;
    left: -230px;
    display: block;
    width: 47px;
    height: 53px;
    background-image: url(images/i10.png);
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    opacity: 0;
}
.p-header.s .i-fly1 {
    opacity: 1;
    top: -120px;
    left: 110px;
}
.p-header.s .i-fly2 {
    opacity: 1;
    top: -35px;
    left: 280px;
}
.p-header.s .i-fly3 {
    opacity: 1;
}
.p-header.s .i-fly4 {
    opacity: 1;
    top: -65px;
    left: 700px;
}
.p-header.s .i-fly5 {
    opacity: 1;
    top: -45px;
    right: 0;
}
.p-header.s .i-fly6 {
    opacity: 1;
    right: 55px;
    bottom: -53px;
}
.p-header.s .i-fly7 {
    opacity: 1;
    right: 241px;
    bottom: -102px;
}
.p-header.s .i-fly8 {
    opacity: 1;
    bottom: -100px;
    left: 280px;
}
.p-header.s .i-fly9 {
    opacity: 1;
    bottom: -49px;
    left: 120px;
}
.p-header.s .i-fly10 {
    opacity: 1;
    top: 105px;
    left: -30px;
}
.i-mouse {
    position: absolute;
    bottom: -130px;
    left: 48%;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(images/imouse.png);
    -webkit-animation-name: mouseBounce;
    -moz-animation-name: mouseBounce;
      -o-animation-name: mouseBounce;
         animation-name: mouseBounce;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
         animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
         animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}
@-webkit-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
         transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
         transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
.client {
    padding: 80px 0 60px;
}
.subtitle {
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    display: inline-block;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.subtitle:before {
    display: block;
    padding-bottom: 24px;
    content: '';
    border-top: 3px solid #c6d130;
}
.client-item {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}
.about {
    padding: 80px 0 59px;
}
.about-item {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 55px;
}
.about-icon-line {
    display: table;
    width: 100%;
}
.about-icon {
    display: table-cell;
    text-align: center;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    position: relative;
    top: 70px;
    opacity: 0;
}
.about.s .about-icon {
    opacity: 1;
    top: 0;
}
.i-about {
    display: inline-block;
    width: 26px;
    height: 32px;
    background-image: url(images/imob.png);
}
.i-about-1 {
    background-position: 0 0;
}
.i-about-2 {
    background-position: 26px 0;
}
.i-about-3 {
    background-position: 0 32px;
}
.i-about-4 {
    background-position: 26px 32px;
}
.bg-color {
    background-color: #f8f8f8;
}
.work {
    padding: 135px 0 80px;
    background: url(images/w.jpg) no-repeat;
    background-position: top center;
    -o-background-size: cover;
       background-size: cover;
}
.work-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 45px;
    color: #fff;
}
.work-img {
    margin: 0 auto;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    position: relative;
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}
.work-img-wrapper.s .work-img {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.services-item {
    font-size: 20px;
    line-height: 26px;
    height: 360px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px 40px 0 50px;
}
.services-img {
    margin-bottom: 25px;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}
.services-item.s .services-img{
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.bg-image {
    position: relative;
    height: 655px;
    background-image: url(images/bgimg.jpg);
    background-position: center 35%;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
}
.bg-image.s {
    opacity: 1;
}
.p-footer {
    padding: 60px 0 55px;
    text-align: center;
    background-color: #919831;
}
.order-btn {
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
    padding: 13px 65px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    outline: none;
    background-color: transparent;
}
.order-btn:hover,
.order-btn:focus {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
            box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
}
@media (max-width: 992px) {
    .p-header {
        height: 550px;
        padding-top: 70px;
    }
    .i-fly1 {
        top: -52px;
    }
    .i-fly2 {
        top: -15px;
    }
    .i-fly4 {
        display: none;
    }
    .i-fly5 {
        top: -65px;
    }
    .i-fly6 {
        right: 20px;
        bottom: 25px;
    }
    .i-fly7 {
        right: 160px;
    }
    .i-fly8 {
        left: 230px;
    }
    .i-fly9 {
        left: 80px;
    }
    .i-fly10 {
        top: 175px;
        left: 15px;
    }
    .i-mouse {
        bottom: -105px;
    }
    .services-item {
        padding: 40px 30px;
    }
    .bg-image {
        height: 500px;
    }
}
@media (max-width: 767px) {
    .p-header {
        height: inherit;
        padding: 20px 0 55px;
    }
    .p-title {
        font-size: 20px;
        line-height: 26px;
        margin: 30px 0;
    }
    .goto-btn {
        display: block;
    }
    .i-mouse {
        display: none;
    }
    .about {
        padding: 40px 0 20px;
    }
    .client {
        padding: 50px 0 30px;
    }
    .subtitle {
        font-size: 20px;
    }
    .work {
        padding: 70px 0 35px;
    }
    .work-img-wrapper {
        margin-bottom: 30px;
    }
    .services-item {
        height: inherit;
    }
    .services-img {
        display: block;
        margin: 0 auto 25px;
    }
    .bg-image {
        height: 300px;
    }
    .order-btn {
        display: block;
        padding: 13px 0;
        width: 100%;
    }
}