.container-fluid.portfolio-detail-top {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}
.portfolio-detail-top .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.portfolio-detail-top .title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 56px;
/*    font-family: 'DINPro-Medium';*/
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.portfolio-detail-top .panel {
    text-align: center;
}
.portfolio-detail-top .panel a {
    display: inline-block;
    padding: 15px 40px;
    border: 1px #acacac solid;
    border-radius: 30px;
    color: #acacac;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.portfolio-detail-top .panel a:hover {
    color: #d20f8c;
    border-color: #d20f8c;
}
.portfolio-detail-top .panel a.pdf {
    background: url('images/ico-pdf.png') 30px center no-repeat;
    padding-left: 55px;
}

.portfolio-detail-top .icon--mouse {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background: #fff url('images/ico-mouse.png') center center no-repeat;
    border-radius: 50%;
    animation-name: mouseBounce;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

}
@keyframes mouseBounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.container-fluid.portfolio-detail-row {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #fff;
    color: #000;
}
.portfolio-detail-row img {
    max-width: 100%;
}
.container-fluid.portfolio-detail-row.tasks {
    padding-bottom: 0;
}
.container-fluid.portfolio-detail-row.dashboards {
    padding-top: 160px;
    padding-bottom: 120px;
}
.container-fluid.portfolio-detail-row.tasks {
    padding-bottom: 0;
}
.container-fluid.portfolio-detail-row--grey {
    background-color: #f8f8f8;
    color: #000;
}
.container-fluid.portfolio-detail-row--dark {
    background-color: #3c4c64;
    color: #fff;
}

.portfolio-detail-row .section-title {   
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #6285b9;
}
.portfolio-detail-row .section-title-bt {
    display: inline-block;
    margin-bottom: 45px;
    border-top: 2px #88caff solid;
    padding-top: 26px;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.portfolio-detail-row .section-title-bb {
    display: block;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px #d6dadf solid;
    font-size: 24px;
    color: #6285b9;
    font-weight: bold;
    line-height: 1;
} 
.portfolio-detail-row--dark .section-title-bb {
    border-bottom: 1px #788394 solid;
    color: #88caff;
}
.portfolio-detail-row.dashboards .section-title-bb {
    margin-top: 0;
}
.portfolio-detail-row.results .section-title-bt {
    color: #fff;
}

.portfolio-detail-row .text {
    font-size: 16px;
    line-height: 24px;
}
.portfolio-detail-row .text-large {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 35px;
}
.portfolio-detail-row .text p {    
    margin-top: 35px;
}
.portfolio-detail-row .text-large {

}
.portfolio-detail-row .list-dash {
    overflow: hidden;
}
.portfolio-detail-row .list-dash li {
    width: 50%;
    float: left;
    padding-right: 30px;
    font-size: 20px;
}

.portfolio-detail-row .two-col-wrap {
    display: table;
}
.portfolio-detail-row .two-col-wrap__item {
    display: table-cell;
    min-width: 50%;
    float: none!important;
    vertical-align: middle;
}
.portfolio-detail-row .two-col-wrap__item--top {
    vertical-align: top;
}
.results-tizers .item {
    position: relative;
    height: 260px;
    margin-top: 30px;
    padding: 35px 20px 70px 20px;
    background: #599dd3;
}
.results-tizers .item .text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.results-tizers .item img {
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.portfolio-detail-row.results button {
    display: block;
    width: 370px;
    max-width: 90%;
    margin: 70px auto 0 auto;
    padding: 22px 0;
    background: none;
    border: 1px #fff solid;
    border-radius: 40px;
    font-size: 18px;
    line-height: 1;
/*    font-family: 'DINPro-Regular';*/
    font-weight: bold;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
}
.portfolio-detail-row.results button:hover {
    color: #000;
    background: #fff;
}   

@media screen and (max-width:991px) {
    .container-fluid.portfolio-detail-top {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .container-fluid.portfolio-detail-row {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .container-fluid.portfolio-detail-row.dashboards {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .portfolio-detail-row .list-dash li {
        width: 100%;
    }
    .portfolio-detail-top .title {
        font-size: 32px;
        line-height: 40px;
    }
    .portfolio-detail-row .two-col-wrap {
        display: block;
    }
    .portfolio-detail-row .two-col-wrap__item {
        display: block;
        min-width: auto;
    }
    .portfolio-detail-row .two-col-wrap__item + .two-col-wrap__item {
        margin-top: 40px;
    }
    .results-tizers .item {
        height: auto;
    }
    .results-tizers .item img {
        bottom: 15px;
    }
}
@media screen and (max-width:768px) {
    .portfolio-detail-top .title {
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .container-fluid.portfolio-detail-top {
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .portfolio-detail-top .panel a {
        font-size: 14px;
    }
    .portfolio-detail-top .icon--mouse {
        display: none;
    }
    .portfolio-detail-top .logo img {
        width: 150px;
    }
    .portfolio-detail-row .section-title {   
        margin-bottom: 20px;
        font-size: 18px;
    }
    .portfolio-detail-row .section-title-bt {
        margin-bottom: 25px;
        padding-top: 15px;
        font-size: 20px;
        line-height: 1;
    }
    .portfolio-detail-row .section-title-bb {
        margin-bottom: 20px;
        padding-bottom: 15px;
        font-size: 18px;
    } 
    .portfolio-detail-row .text {
        font-size: 14px;
    }
    .portfolio-detail-row .text p {
        margin-top: 15px;
    }
    .portfolio-detail-row .text-large {
        font-size: 16px;
    }
    .portfolio-detail-row .list-dash li {
        font-size: 16px;
    }  
    .results-tizers .item .text {
        font-size: 14px;
        line-height: 20px;
    }  
}
@media screen and (max-width:480px) {   
    .portfolio-detail-top .title {
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 25px;
    }
    .results-tizers .item {
        height: auto;
        padding: 15px 15px 70px 15px;
    }
}