@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.p-page {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: normal;
}
@media (min-width: 1200px) {
    .p-page .container {
        width: 970px;
    }
}
.p-header {
    position: relative;
    height: 620px;
    padding-top: 165px;
    text-align: center;
    color: #fff;
    background: url(images/h.jpg) no-repeat;
    background-position: top center;
    -o-background-size: cover;
    background-size: cover;
}
.p-logo {
    position: absolute;
    top: 0;
    left: 44%;
    left: -webkit-calc(50% - 62px);
    left: -moz-calc(50% - 62px);
    left: calc(50% - 62px);
}
.p-title {
    font-size: 48px;
    line-height: 56px;
    margin: 40px 0;
}
.goto-btn {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding: 11px 45px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    outline: none;
}
.goto-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
}
.i-mouse {
    position: absolute;
    bottom: -121px;
    left: 48%;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(images/imouse.png);
    -webkit-animation-name: mouseBounce;
    -moz-animation-name: mouseBounce;
      -o-animation-name: mouseBounce;
         animation-name: mouseBounce;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
         animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
         animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}
@-webkit-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
         transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes mouseBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
         transform: translate3d(0, 3px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
.client {
    padding: 90px 0 70px;
}
.task-list, .client-list, .res-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.subtitle {
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    display: inline-block;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.subtitle:before {
    display: block;
    padding-bottom: 24px;
    content: '';
    border-top: 3px solid #e60000;
}
.subtitle2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    margin: 0 0 18px;
    color: #8d0a24;
}
.client-item {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 25px;
}
.bg-color {
    background-color: #40292e;
}
.bg-color1 {
    background-color: #efefef;
}
.bg-color2 {
    background-color: #7b0920!important;
}
.task {
    font-size: 20px;
    line-height: 26px;
    padding: 80px 0 230px;
    color: #fff;
}
.task-list {
    margin-top: 5px;
}
.task-item {
    margin-bottom: 27px;
}
.task-img-wrapper {
    position: relative;
    top: 300px;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.task-img-wrapper.s {
    top: 0;
    opacity: 1;
}
.task-img {
    margin: 0 auto;
}
.counters {
    position: relative;
    top: -170px;
    margin-bottom: -70px;
    padding: 0;
}
.counter {
    min-height: 305px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px 0 1px;
    text-align: center;
    background-color: #9a1630;
}
.counter-val {
    font-size: 140px;
    font-weight: 600;
    line-height: 137px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
}
.counter-descr {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
}
.counters-descr1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    padding: 55px 78px;
    text-align: center;
    color: #444b45;
}
.counter-descr-s {
    font-size: 20px;
    line-height: 28px;
    display: block;
    text-transform: lowercase;
}
.about-sect2 {
    position: relative;
    padding-bottom: 105px;
}
.about-sect3 {
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 126px;
    color: #555;
}
.about-descr {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 46px;
}
.about-img-wrapper1 {
    position: relative;
    height: 532px;
    border: 4px solid #fff;
    -webkit-transition: all 2.5s;
    -moz-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
}
.about-img {
    margin: 0 auto;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    opacity: 0;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.about-img1 {
    opacity: 0;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    margin: 0 auto;
}
.about-img2 {
    position: absolute;    
    max-width: inherit !important;
    left: 1000px;
    opacity: 0;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.about-img-wrapper.s .about-img,
.about-img-wrapper.s .about-img1 {
    opacity: 1;
}
.about-img3 {
    position: absolute;
    top: 25px;
    left: -500px;
    opacity: 0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.about-img-wrapper1.s {
    border-color: #b20000;
}
.about-img-wrapper1.s .about-img2 {
    left: -147px;
    opacity: 1;
} 
.about-img-wrapper1.s .about-img3 {
    left: -105px;
    opacity: 1;
}

.bg-image {
    height: 700px;
    opacity: 0;
    background: url(images/bgimg.jpg) no-repeat;
    background-position: center top;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}
.bg-image.s {
    opacity: 1;
}
.shadow {
    -webkit-box-shadow: 0 40px 75px -30px rgb(223, 223, 223);
    box-shadow: 0 25px 100px -30px rgb(208, 208, 208);
}
.sert {
    padding-top: 70px;
    padding-bottom: 54px;
}
.sert-descr {
    font-size: 20px;
    line-height: 26px;
    color: #555;
}
.sert-img-wrapper {
    position: relative;
}
.sert-img {
    margin: 40px auto;
    opacity: 0;
    top: 500px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
    position: relative;
}
.sert-img-wrapper.s .sert-img {
    opacity: 1;
    top: 0;
}
.terminal {
    padding-top: 76px;
    padding-bottom: 33px;
}
.terminal-descr {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}
.subtitle1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    margin: 0 0 17px;
    color: #f4dd90;
}
.terminal-img-wrapper {
    margin: 30px 0 20px;
    position: relative;    
}
.terminal-img1 {
    margin: 50px auto;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
    top: 500px;
}
.terminal-img {
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    margin: 0 auto;
    top: 500px;
}
.terminal-img-wrapper.s .terminal-img,
.terminal-img-wrapper1.s .terminal-img1  {
    opacity: 1;
    top: 0;
}
.result {
    font-size: 20px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    padding: 82px 0 45px;
    color: #313131;
}
.title-b {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 31px;
    text-transform: uppercase;
    color: #313131;
}
.res-list {
    position: relative;
}
.res-item {
    padding: 27px 0;
    border-top: 1px solid #e1e1e1;
    position: relative;
    opacity: 0;
    top: 100px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.res-list.s .res-item {
    top: 0;
    opacity: 1;
}
.res-item:after {
    display: table;
    clear: both;
    content: '';
}
.res-icon1 {
    display: block;
    float: left;
    width: 44px;
    height: 35px;
    margin-top: 5px;
    background: url(images/icon.png);
}
.res-icon2 {
    display: block;
    float: left;
    width: 43px;
    height: 36px;
    margin-top: 30px;
    background: url(images/icon.png);
    background-position: -50px 0;
}
.res-icon3 {
    display: block;
    float: left;
    width: 48px;
    height: 41px;
    margin-top: 30px;
    background: url(images/icon.png);
    background-position: -99px 0;
}
.res-icon4 {
    display: block;
    float: left;
    width: 45px;
    height: 39px;
    background: url(images/icon.png);
    background-position: -150px 0;
}
.res-icon5 {
    display: block;
    float: left;
    width: 45px;
    height: 39px;
    margin-top: 15px;
    background: url(images/icon.png);
    background-position: -201px 0;
}
.res-txt {
    margin-top: 10px;
    margin-left: 100px;
}
.p-footer {
    padding: 46px 0;
    text-align: center;
    background-color: #8d0a24;
}
.order-btn {
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
    padding: 13px 65px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: transparent;
    outline: none;
}
.order-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);
}
@media (max-width: 992px) {
    .p-header {
        height: 430px;
        padding-top: 125px;
    }
    .p-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 25px;
    }
    .i-mouse {
        bottom: -85px;
    }
    .client {
        padding: 40px 0 30px;
    }
    .title-b {
        margin-bottom: 30px;
    }
    .task {
        padding-top: 40px;
    }
    .about-sect2 {
        padding-bottom: 50px;
    }
    .about-sect3 {
        padding-top: 40px;
    }
    .about-img2 {
        margin-bottom: 54px;
    }
    .bg-image {
        height: 400px;
    }
    .sert {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .terminal {
        padding-top: 50px;
    }
    .terminal-img-wrapper {
        margin: 30px 0 0;
    }
    .terminal-img1 {
        margin: 30px auto;
    }
    .result {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .p-header {
        height: inherit;
        padding: 125px 0 10px;
    }
    .p-title {
        font-size: 20px;
        line-height: 28px;
        margin: 35px 0;
    }
    .goto-btn {
        display: block;
    }
    .i-mouse {
        display: none;
    }
    .client {
        padding: 50px 0 30px;
    }
    .subtitle {
        font-size: 20px;
    }
    .task {
        padding: 40px 0;
    }
    .task-img-wrapper {
        display: none;
    }
    .counters {
      top: inherit;
      margin-bottom: inherit;
    }
    .counters-descr1 {
        font-size: 20px;
        padding: 30px 0;
    }
    .sert-img {
        margin: 30px auto 0;
    }
    .subtitle1,
    .subtitle2 {
        line-height: 32px;
    }
    .terminal-img1 {
        margin: 30px auto 0;
    }
    .result {
        padding: 40px 0;
    }
    .title-b {
        font-size: 35px;
    }
    .order-btn {
        display: block;
        padding: 13px 0;
        width: 100%;
    }
    .about-img-wrapper1 {
        height: inherit;
        border: none;
    }
    .about-sect2 {
        padding-bottom: 20px;
    }
    .about-sect1 {
        padding-top: 50px;
    }
    .about-img-wrapper1.s .about-img2 {
        position: relative;
        left: 0;
        max-width: 100% !important;
        margin: 0 auto;
    }
    .about-img-wrapper1.s .about-img3 {
        top: -20px;
        left: 0;
        max-width: 66% !important;
    }
    .about-sect3 {
        padding-bottom: 30px;
    }
    .bg-image {
        height: 200px;
    }
    .res-icon1,
    .res-icon2,
    .res-icon3,
    .res-icon4,
    .res-icon5 {
        float: inherit;
        margin: 0 auto;
    }
    .res-txt {
        margin: 20px 0;
    }
}
