/*Form-action*/

.Form-action .col-md-4, .col-md-8 {padding-left:15px;padding-right:15px;}

.section-header{
	font-size: 38px;
	font-family: PFD;
	text-transform: uppercase;
	color:#25262a;
	padding-bottom:30px;
	padding-left: 15px;
}
.form-control{border:1px solid #eaeaea;
	border-radius:0px;
	font-family:Roboto-Regular;
	font-size:16px;
	height:45px;
	color:#949494;
	margin-bottom: 20px;

}
textarea.form-control {height:111px;
	border:1px solid #eaeaea;
	border-radius:0px;
	font-family:Roboto-Regular;
	font-size:16px;
	color:#949494;
	margin-bottom:0;
	}

.comment.form-group{margin-bottom: 0px;}
.Form-action{
	background:#f9f8fe;
	padding-top:100px;
	padding-bottom: 100px
}

.container.forma {
	padding: 60px 70px 60px 70px;
    background-color: #fff;
	-webkit-box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	
}

.mail img {
position: absolute;
top: -120px;
left: 110px;

	
}

.form-group {

	
}

.row.submit {
	border: 1px solid #eaeaea;
padding: 10px;

}

.attach {padding-top: 1%;
padding-left: 1%;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
	line-height:normal !important;
}
.row.submit a, .row.submit label {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #324abd;
}
.row.submit .fa-paperclip {padding-right:5px;}



.btn-default.submit {
	
	background:#324abd;
	padding:10px 60px 10px 60px;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-transform:uppercase;
	width: auto;
	float: right;
}

.btn-default.submit:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	color: #324abd;
	
}

/*footer*/

.footer {
	background:#242d3c;
}
.top-footer  {
	padding-top:30px;
	padding-bottom:50px;
}

.tfooter2 h4, .tfooter3 h4, .tfooter4 h4 {
	font-family:Roboto-Medium;
	font-size:16px;
	color:#fff;
	line-height:22px;
}
.tfooter2 li a, .tfooter3 li a, .tfooter4 li a {
	font-family:Roboto-Regular;
	font-size:14px;
	color:#919fb7;
	line-height:28px;
}
.tfooter1 span {
	font-family:Roboto-Regular;
	font-size:24px;
	color:#fff;
	line-height:28px;
}


.tfooter2 li a, .tfooter3 li a, .tfooter4 li a:hover {
	text-decoration:none;
	color:#919fb7;
	
}
.tfooter4 h4 a {
	font-family:Roboto-Medium;
	font-size:16px;
	color:#fff;
	line-height:22px;
	
}
.tfooter1 .btn-default {
	background:#324abd;
	padding:10px 25px 10px 25px;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-transform:uppercase;
	border:none;
	margin-bottom: 40px;
	border:1px solid #324abd;
}

.tfooter1 .btn-default:hover{
	
	background-color:#fff;
	border: 1px solid #324abd;
	color: #324abd;
	
}

.tfooter1 img {
	padding-bottom:40px;
}
.tfooter1 p {
	font-family:Roboto-regular;
	font-size:14px;
	color:#fff;
	line-height:22px;
}

.top-footer {
	border-bottom:1px solid #364051;
}

.bottom-footer {
	padding-top:20px;
	padding-bottom:20px;
}
.bottom-footer p {
	font-family:Roboto-regular;
	font-size:14px;
	color:#fff;
	line-height:22px;
}
.social_block .fa-stack {
	padding-left:10px;
	color:#fff;
}