/*portal-banner*/
.portal-banner {
	background-image: url(/upload/1c-bitrix24-store-crm/banner-portal-bg.jpg);
	height: 524px;
	margin-top: -51px;
	width: 100%;
    background-position: center center;
}
.portal-banner .intro_descr .intro_title {
	font-size: 54px;
	text-transform: none;
	margin-top: 76px;
}
.portal-banner .intro_descr .intro_title .medium_font {
	font-family: PFD;
	color: #71ceed;
	font-size: 54px;
}
.portal-banner .container {
	position: relative;
}
.portal-banner .intro_descr {
	margin-top: 70px;
}
.portal-banner .intro_descr p {
	font-size: 14px !important;
	color: #fff !important;
}
.portal-banner .btn {
	padding-top:10px !important;
	padding-bottom:10px !important;
}
.banner-right-img {
	position: absolute;
	right: 0;
	width: 406px;
	top: 60px;
}
.portal-banner .banner-right-img img {
	max-width: 406px;
	width: 100%;
}
.breadcrumb li {
	color: #fff !important;
}
.breadcrumb li .link-style,
.breadcrumb li a {
	color: #fff !important;
}

@media only screen and (max-width:1200px) {
    .portal-banner .intro_descr .intro_title {
        font-size: 50px;
    }
    .portal-banner .intro_descr .intro_title .medium_font {
        font-size:50px;
    }
}
@media only screen and (max-width:992px) {
	.portal-banner .banner-right-img {
		width: 45%;
		min-width: 260px;
		bottom: -100px;
		top: auto;
	}
	.portal-banner .intro_descr {
		float: none;
		position: relative;
		z-index: 2;
	}
	.portal-banner .intro_descr p {
		width: 67%;
	}
	.portal-banner .intro_descr {
		margin-top: 150px;
	}
}
@media only screen and (max-width:768px) {
	.portal-banner {
		height: auto;
		overflow: hidden;
		margin-top: 0;
		padding-bottom: 90px;
	}
	.portal-banner .intro_descr .intro_title {
		font-size: 34px;
	}
	.portal-banner .intro_descr .intro_title .medium_font {
		font-size: 34px;
	}
	.portal-banner .intro_descr {
		margin-top:0;
        width: 54%;
	}
    .portal-banner .banner-right-img {
        bottom: -75px;
    }
    .portal-banner .banner-right-img img {
        max-width:275px;
    }

}

@media only screen and (max-width:450px) {
    .portal-banner .banner-right-img {
        bottom: -70px;
        right: 10px;
        text-align:right;
        min-width: 130px;
    }
    .portal-banner .banner-right-img img {
        max-width: 130px;
    }
    .portal-banner .intro_descr {
        width: 100%;
    }
}
@media only screen and (max-width:630px) {
	.portal-partner .team-card {
		margin-right: 0;
		padding: 0 15px;
		text-align: center;
	}
}
/*portal-banner*/

/*portal-intro*/

.portal-intro {
	padding: 100px 0;
	background: #f9f8fe;
}

.portal-intro__caption {
	font-size: 38px;
	color: #000;
	margin-bottom: 35px;
}

.portal-intro__caption h1 {
	font-size: 38px;
	color: #000;
	line-height: 100%;
	margin: 0;
	padding: 0;
	font-family:'pfd';
}

.portal-intro__text {
	font-size: 18px;
	margin-bottom: 30px;
}

.portal-intro__text-border {
	border-bottom: 3px solid #4059d3;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.portal-intro__list {
	display: flex;
}

.portal-intro__list-block {

}

.portal-intro__list-block +.portal-intro__list-block {
	margin-left: 40px;
}

.portal-intro__list-item {
	font-size: 16px;
	color: #575757;
	margin:10px 0;
}

.portal-intro__block {
	width: calc(100% - 320px);
	float:left;
}

.portal-intro__circle {
	float:right;
	position:relative;
	margin-right: -250px;
}

.portal-intro__wrapper {
	width: 550px;
	min-height:550px;
	background: url(/upload/1c-bitrix24-store-crm/circle.png) no-repeat center center;
	position:relative;
}

.portal-intro__wrapper-body
{
	text-align: center;
	position: absolute;
	top: 125px;
	left: 125px;
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.portal-intro__wrapper-caption {
	color:#fff;
	line-height:100%;
	font-size:36px;
    font-family:'pfd';
}

.portal-intro__wrapper-caption.big {
	font-size:150px;
}

.portal-intro__wrapper-text {
	font-size:20px;
	color:#fff;
    font-family:'pfd';
    width: 100%;
}

.portal-intro__citem {
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 24px 13px rgba(222,221,226,1);
	-moz-box-shadow: 0px 0px 24px 13px rgba(222,221,226,1);
	box-shadow: 0px 0px 24px 13px rgba(222,221,226,1);
	border-radius: 100%;
	position:absolute;
	transition-duration: .2s;
	z-index:2;
}

.portal-intro__citem:hover {
	-webkit-box-shadow: 0px 0px 24px 13px rgba(27, 51, 166, 0.35);
	-moz-box-shadow: 0px 0px 24px 13px rgba(27, 51, 166, 0.35);
	box-shadow: 0px 0px 24px 13px rgba(27, 51, 166, 0.35);
}

.portal-intro__citem1 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle1.png);
	left: 250px;
	top:12px;
}

.portal-intro__citem2 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle2.png);
	left: 110px;
	top:55px;
}

.portal-intro__citem3 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle3.png);
	left: 20px;
	top:180px;
}

.portal-intro__citem4 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle4.png);
	left: 25px;
	top:330px;
}

.portal-intro__citem5 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle5.png);
	left: 110px;
	top:435px;
}

.portal-intro__citem6 {
	background-image: url(/upload/1c-bitrix24-store-crm/circle6.png);
	left: 240px;
	bottom:12px;
}

@media only screen and (max-width:1600px) {
	.portal-intro__block {
		width: calc(100% - 570px);
	}

	.portal-intro__circle {
		margin-right: 0px;
	}
}

@media only screen and (max-width:1200px) {
	.portal-intro__caption h1 {
		font-size: 28px;
	}
}

@media only screen and (max-width:992px) {
	.portal-intro__block {
		float: none;
		width: 100%;
	}
	.portal-intro__circle {
		float: none;
	}
	.portal-intro__wrapper {
		margin: 20px auto;
	}
}

@media only screen and (max-width:768px) {
	.portal-intro {
		padding: 50px 0;
	}
	.portal-intro__wrapper {
		width: 280px;
		min-height: 280px;
		background-size: 280px;
	}
	.portal-intro__circle {
		margin-top: 40px;
	}
	.portal-intro__citem {
		width: 40px;
		height: 40px;
		background-size: auto 20px;
	}
	.portal-intro__wrapper-body
	{
		top: 45px;
		left: 45px;
		width: 190px;
		height: 190px;
	}
	.portal-intro__wrapper-caption {
		font-size: 21px;
	}
	.portal-intro__wrapper-caption.big {
		font-size: 80px;
	}
	.portal-intro__wrapper-text {
		font-size: 14px;
	}
	.portal-intro__citem1 {
		left: 120px;
		top: -18px;
	}
	.portal-intro__citem2 {
		left: 37px;
		top:10px;
	}
	.portal-intro__citem3 {
		left: -10px;
		top:75px;
	}
	.portal-intro__citem4 {
		left: -15px;
		top:160px;
	}
	.portal-intro__citem5 {
		left: 35px;
		top:232px;
	}
	.portal-intro__citem6 {
		left: 120px;
		bottom:-14px;
	}
	.portal-intro__caption h1 {
		font-size: 27px;
		line-height: 32px;
	}
	.portal-intro__text {
		font-size: 16px;
	}
	.portal-intro__list-item {
		font-size: 14px;
	}
	.portal-intro__list-block +.portal-intro__list-block {
		margin-left: 10px;
	}
	.portal-intro__list-block {
		width: 180px;
	}
}

@media only screen and (max-width:370px) {
	.portal-intro__list-block {
		width: auto;
	}
}

/*portal-intro*/

/*portal-banner2*/
.portal-banner2 {
	background-image: url(/upload/1c-bitrix24-store-crm/banner-portal-bg2.jpg);
	min-height: 524px;
	width: 100%;
	position: relative;
	z-index: 1;
}
.portal-banner2 .intro_descr .intro_title {
	font-size: 26px;
	text-transform: none;
	margin-top: 76px;
	color:#fff;
}
.portal-banner2 .intro_descr .intro_title  span{
	display:block;
	color:#71ceed;
	font-family:'pfd';
}
.portal-banner2__price {
	display:flex;
	align-items:flex-start;
}
.portal-banner2__price-body {
	margin-right:50px;
}
.portal-banner2__price-value {
	font-size:44px;
	color:#fff;
    font-family:'pfd';
}
.portal-banner2__price-desc {
	font-size:14px;
	color:#fff;
}
.portal-banner2__price-butt .btn {
	margin-top:10px !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}
.portal-banner2__cost {
	padding: 30px 140px 30px 0;
	margin: 30px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: url(/upload/1c-bitrix24-store-crm/cost.png) no-repeat 98% center;
}
.portal-banner2__cost-caption {
	margin-bottom:17px;
	font-size: 20px;
}
.portal-banner2__cost-item {
	font-size: 16px;
}
.portal-banner2__subt .portal-banner2__price-desc {
	font-size: 16px;
}
.portal-banner2__up {
	text-transform: uppercase;
}
.portal-banner2 .container {
	position: relative;
}
.portal-banner2 .intro_descr p {
	font-size: 14px !important;
	color: #fff !important;
}
.banner2-right-img {
	position: absolute;
	right: 0;
	width: 386px;
	top: 15px;
}
.portal-banner2 .banner2-right-img img {
	max-width: 386px;
	width: 100%;
}
.breadcrumb li {
	color: #fff !important;
}
.breadcrumb li .link-style,
.breadcrumb li a {
	color: #fff !important;
}

@media only screen and (max-width:1200px) {

}
@media only screen and (max-width:992px) {
	.portal-banner2 .banner-right-img {
		width: 45%;
		min-width: 260px;
		bottom: -140px;
		top: auto;
	}
	.portal-banner2 .intro_descr {
		width: calc(100% - 200px);
	}
	.portal-banner2 .banner2-right-img {
		width: 216px;
		top: 130px;
	}
	.portal-banner2 .banner2-right-img img {
		max-width: 100%;
	}
}

.portal-banner2 .intro_descr .intro_title span br {
    display:none;
}
@media only screen and (max-width:768px) {
	.portal-banner2 {
		height: auto;
		overflow: hidden;
		margin-top: 0;
		padding-bottom: 90px;
		min-height: 1px;
	}
	.portal-banner2 .banner-right-img {
		bottom: -50px;
		right: 10px;
		text-align:right;
		min-width: 130px;
	}
	.portal-banner2 .banner-right-img img {
		max-width: 130px;
	}
	.portal-banner2 .intro_descr {
		width: 100%;
	}
	.portal-banner2__price {
		display:block;
	}
	.portal-banner2 {
		padding-bottom: 20px;
	}
	.portal-banner2 .intro_descr .intro_title {
		font-size: 26px;
		margin-top: 26px;
		padding-right: 0;
	}
    .portal-banner2 .intro_descr .intro_title span br {
        display:block;
    }
	.portal-banner2__price-body {
		margin-right: 0;
	}
	.portal-banner2__price-value {
		font-size: 28px;
	}
	.portal-banner2__price-desc {
		font-size: 12px;
	}
	.portal-banner2__cost-caption {
		font-size: 14px;
	}
	.portal-banner2__cost-item {
		font-size: 14px;
	}
	.portal-banner2__subt .portal-banner2__price-desc{
		font-size: 14px;
        padding-right:70px;
	}
	.portal-banner2__cost {
		padding: 20px 80px 20px 0;
		margin: 20px 0;
		background-size: 60px auto;
	}
	.portal-banner2 .banner2-right-img {
		width: 126px;
		top: 80px;
		right:  15px;
	}
}
@media only screen and (max-width:630px) {
	.portal-partner2 .team-card {
		margin-right: 0;
		padding: 0 15px;
		text-align: center;
	}
}

@media only screen and (max-width:374px) {
    .portal-banner2 .intro_descr .intro_title span{
        width: 60%;
    }
    .portal-banner2 .intro_descr .intro_title span br {
        display:none;
    }
    .portal-banner2 .banner2-right-img {
        top: 100px;
    }
}
/*portal-banner2*/


/*portal-results*/

.portal-results {
	background-image: url(/upload/1c-bitrix24-store-crm/portal-where.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	min-height: 480px;
	padding: 70px 0 90px;
	margin-bottom: 30px;
}
.portal-results:after {
	content: "";
	display: block;
	background-image: url(/upload/1c-bitrix24-store-crm/portal-results-txt.png);
	position: absolute;
	width: 100%;
	height: 232px;
	background-size: contain;
	background-repeat: no-repeat;
	top: 33%;
	z-index: 0;
}
.portal-results h2 {
	margin-bottom: 55px;
	font-size: 38px;
	font-weight: normal;
}
.portal-results h2 strong {

}
.portal-results .results-list {
	list-style: none;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	float: left;
	width: calc(50% - 10px);
}
.portal-results .results-list + .results-list {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #71ceed;
}
.portal-results .results-list p {
	margin: 0;
	padding-left: 36px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
}
.portal-results .results-list p:before {
	content: "";
	background-image: url(/upload/1c-bitrix24-store-crm/check-icon.png);
	width: 17px;
	height: 17px;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
}
.portal-results .container {
	position: relative;
	z-index: 1;
}

.portal-results .results-list__item {
    min-height: 84px;
}

@media only screen and (max-width:768px) {
	.portal-results {
		padding: 40px 0;
	}
	.portal-results h2, .portal-clients h2 {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 25px;
	}
    .portal-results h2 br {
        display:none;
    }
    .portal-results h2 strong {
        display:block;
    }
	.portal-results .results-list {
		float: none;
		width: 100%;
	}
	.portal-results .results-list + .results-list {
		margin-left: 0;
		padding-left: 0;
		border: 0;
	}
	.portal-results .results-list__item {
		font-size: 14px;
        min-height:1px;
	}
	.portal-results .results-list p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
/*portal-results*/

/*who*/

.portal-who {
	background: #f9f8fe;
	padding: 30px 0 30px;
}

.portal-who-heading {
	font-size: 38px;
	margin-bottom: 45px;
	font-family: 'PFD';
}

.portal-who-item {
	display: flex;
	align-items: center;
	padding:30px 125px 30px 0;
	background: url(/upload/1c-bitrix24-store-crm/plus.png) no-repeat right center;
	float: left;
	width: 48%;
	margin-right: 4%;
}

.portal-who-item:nth-child(2n+2) {
	margin-right: 0;
}

.portal-who-item__counter {
	font-size: 86px;
	font-weight: 700;
	font-family: PFD;
	line-height: 100%;
	background: -webkit-linear-gradient(#93d8f1, #324abd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-right: 25px;
}

.portal-who-item__text {
	font-size: 18px;
	font-weight: 700;
}

@media only screen and (max-width:962px) {
	.portal-who {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.portal-who-heading {
		margin-bottom: 10px;
	}
	.portal-who-item {
		float: none;
		margin-right: 0;
		width: 100%;
		padding: 15px 0;
		background: none;
	}
	.portal-who-item__counter {
		font-size: 30px;
	}
}

@media only screen and (max-width:768px) {
	.portal-who-heading {
		font-size: 32px;
	}
	.portal-who-item__counter {
		font-size: 26px;
	}
	.portal-who-item__text {
		font-size: 16px;
	}
}

/*who*/

/*portal-than*/

.portal-than {
	background-image: url(/upload/1c-bitrix24-store-crm/banner-portal-bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 90px 0 90px;
}

.portal-than__h1 {
	font-size: 38px;
	margin-bottom: 50px;
	color: #fff;
}

.portal-than .portal-than__h1 span {
    font-size: 48px;
    line-height:50px;
    font-family: 'pfd';
    text-transform: uppercase;
}

.portal-than span {
	display: inline-block;
	width: 70%;
    /*font-family:'pfd';*/
    font-size: 50px;
    line-height: 30px;
}

.portal-than .ordering {
	float: right;
}

.portal-than .btn{
	text-transform: uppercase;
	font-size: 13px;
	background-color: #ae127b;
	color: white;
	padding: 10px 45px;
	font-family: Roboto;
	font-weight: 400;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	float: right;
	border: 0 !important;
	margin-top: 30px;
}

.portal-than .btn:hover{
	background-color: rgba(190, 18, 128, 0.7);
}

.portal-than p.white-heading {
	padding-left: 35px;
	border-left: 3px solid #71ceed;
}

.portal-than .send-area {
	margin-top: 30px;
}

.portal-than .send-area .btn {
	margin-right: 50px;
	border:0 !important;
	padding-top: 15px;
	padding-bottom: 15px;
}

.portal-than .send-area p {
	color: rgb(255, 255, 255, 0.3);
}

.portal-than .send-area p a {
	color: rgb(255, 255, 255, 0.3);
	text-decoration: underline;
}

.portal-than .send-area p a:hover {
	text-decoration: none;
}

.portal-than__items {
	margin-bottom: 100px !important;
}

.portal-than__item {
	padding: 110px 30px 40px 30px;
	background: #fff;
	height: 340px;
	background-repeat: no-repeat;
	background-position: 90% 30px;
	margin:0 22.5px 30px 0;
}

.portal-than__item2,
.portal-than__item5 {
	margin:0 7.5px 30px 7.5px;
}

.portal-than__item3,
.portal-than__item6 {
	margin:0 0 30px 22.5px;
}

.portal-than__item1 {
	background-image: url(/upload/1c-bitrix24-store-crm/price1.png);
}

.portal-than__item2 {
	background-image: url(/upload/1c-bitrix24-store-crm/price2.png);
}

.portal-than__item3 {
	background-image: url(/upload/1c-bitrix24-store-crm/price3.png);
}

.portal-than__item4 {
	background-image: url(/upload/1c-bitrix24-store-crm/price4.png);
}

.portal-than__item5 {
	background-image: url(/upload/1c-bitrix24-store-crm/price5.png);
}

.portal-than__item6 {
	background-image: url(/upload/1c-bitrix24-store-crm/price6.png);
}

.portal-than__caption {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.portal-than__text {
	color: #000;
	font-size: 14px;
}

.portal-than .btn-default.submit {
	background: #ae127b;
	color: #fff;
	margin-top: 0;
}

.portal-than .btn-default.submit:hover {
	background: #e6e6e6;
	color: #333;
}

@media only screen and (max-width:1200px) {
	.portal-than__item {
		height: 340px;
	}
}

@media only screen and (max-width:991px) {
	.portal-than p.white-heading {
		margin-bottom: 25px;
	}
	.portal-than__item {
		margin-left: 0 !important;
		margin-right: 0 !important;
		height: initial;
	}
	.portal-than__items {
		margin-bottom: 50px !important;
	}
}

@media only screen and (max-width:768px) {
	.portal-than {
		padding: 50px 0;
	}
	.portal-than__h1 span {
		font-size: 22px;
	}
    .portal-than .portal-than__h1 span {
        font-size: 28px;
        line-height:32px;
    }
	.portal-than span {
		display: block;
		width: 100%;
        font-size: 28px;
	}
	.portal-than .btn {
		float:none;
		margin-top: 20px;
	}
	.portal-than .ordering {
		float: none;
	}
	.portal-than .btn-default.submit {
		margin-right: 0;
		float: none;
		width: auto;
		display: inline-block;
	}
	.portal-than .send-area {
		display: block;
	}
	.portal-than .send-area p {
		display: block;
		margin-top: 15px;
	}
	.portal-than .why-heading {
		font-size: 28px;
		margin-top: 30px;
	}
	.portal-than__items {
		margin-bottom: 0 !important;
	}
	.portal-than__item {
		padding:20px;
		margin: 0;
		background: #fff;
		border-top:1px solid #e1e1e1;
	}
	.portal-than__caption {
		padding-right: 40px;
		background-image: url(/images/down-arrow-bold.svg);
		background-repeat: no-repeat;
		background-size: 13px;
		background-position: right 7px;
		margin-bottom: 0;
		cursor: pointer;
		font-size: 16px;
	}
	.portal-than__caption.active {
		background-image: url(/images/up-arrow-bold.svg);
	}
	.portal-than__text {
		margin-top: 15px;
		display: none;
	}
	.portal-than p.white-heading {
		padding-left: 25px;
		margin-top: 20px;
	}
    .portal-than p.white-heading br {
        display: none;
    }
}
/*portal-than*/

/*any*/

.clear-fix:after {
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.blue-heading {
	color: #71ceed !important;
}
.white-heading {
	color: #fff !important;
}
.red-buttn {
	text-transform: uppercase;
	font-size: 13px !important;
	background-color: #ae127b;
	color: white !important;
	padding: 17px 45px !important;
	font-family: Roboto;
	font-weight: 400 !important;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	height: 50px;
}
.red-buttn:hover {
	color: #fff !important;
}
/*any*/
