/*
 * Datepicker
 */
.datepicker-inline {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: white;
    z-index: 1;
    display: none;
    font-weight: 700;
}

.datepicker {
    width: 390px;
    padding: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-box-shadow: 0 25px 23px 0 rgba(64, 107, 219, 0.2);
    box-shadow: 0 25px 23px 0 rgba(64, 107, 219, 0.2);
    border: solid 1px #e7e7e7;
}

.datepicker--cell {
    color: #203260;
    border-radius: 50%;
}

.datepicker--cell-day {
    width: 35px;
    margin-left: 6px;
    margin-bottom: 5px;
    margin-right: 6px;
}

.datepicker--days-names {
    margin: 8px 0 15px;
}

.datepicker--day-name {
    font-size: 12px;
    color: rgba(52, 72, 94, 0.54);
    opacity: 0.65;
    text-transform: lowercase;
}

.datepicker--cell-day.event-date {
    color: #be1280;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-:hover, .datepicker--cell.-selected-.-current-:hover,
.datepicker--cell.-selected-:focus, .datepicker--cell.-selected-.-current-:focus {
    background-color: #be1280;
    color: white;
}

.datepicker--nav {
    border: none;
}

.datepicker--nav-title {
    cursor: default;
    color: #203260;
    text-transform: capitalize;
}

.datepicker--nav-title i {
    color: #203260;
}

.datepicker--nav-action,
.datepicker--nav-action:hover {
    width: 24px;
    border-radius: 50%;
    background-color: #d8e6ff;
    font-weight: 400;
}

.datepicker--nav-action i {
    color: rgba(64, 107, 219, 0.54);
}

.datepicker--nav-title:hover {
    background: none;
}

@media (max-width: 991px) {
    .datepicker-inline {
        right: 0;
        left: 0;
    }
}

@media (max-width: 767px) {
    .datepicker--cell-day {
        width: 25px;
        margin-left: 6px;
        margin-bottom: 5px;
        margin-right: 3px;
        height: 25px;
    }

    .datepicker {
        width: 300px;
    }
}

/*
 * General css
 */
.select2-container {
    font-family: Roboto;
}

.events-list__wrapper *,
.events-list__wrapper *:before,
.events-list__wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.events-list__wrapper *:focus {
    outline: none;
}

.events-list__wrapper {
    padding-bottom: 60px;
    font-family: Roboto, sans-serif;
}

.events-list__btn {
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity .12s;
    transition: opacity .12s;
}

.events-list__btn:hover {
    opacity: .85;
    color: #ffffff;
    text-decoration: none;
}

.events-list__btn_pink {
    border-color: #d20f8c;
    background-color: #d20f8c;
    color: #ffffff;
}

/*
 * Featured
 */
.events-list__featured {
    padding-top: 90px;
    padding-bottom: 120px;
    background: url(../images/event_list_featured.jpg) center no-repeat;
    background-size: cover;
}

.events-list__featured .container {
    position: relative;
    padding-right: 220px;
}

.events-list__featured-type {
    display: inline-block;
    vertical-align: top;
    padding: 3px 20px;
    border-radius: 2px;
    border-top-left-radius: 1px;
    background-color: #324abd;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.events-list__featured-title {
    margin-top: 30px;
    color: #ffffff;
    font-family: PFD;
    font-weight: 500;
    font-size: 62px;
    line-height: 74px;
    text-transform: uppercase;
}

.events-list__featured-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 195px;
    height: 195px;
    padding-top: 15px;
    border: 4px solid #ffffff;
    color: #ffffff;
    font-family: PFD;
    font-weight: 500;
    text-align: center;
}

.events-list__featured-date-num {
    font-size: 160px;
    line-height: 115px;
}

.events-list__featured-date-month {
    margin-top: 10px;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}

.events-list__featured-city {
    position: absolute;
    top: 240px;
    right: 0;
    max-width: 195px;
    color: #ffffff;
    font-family: PFD;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
}

.events-list__featured-actions {
    margin-top: 50px;
}

.events-list__featured-action-btn {
    margin-right: 25px;
}

/*
 * Filter
 */
.events-list__filter-container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

.events-list__filter-container::after {
    content: '';
    display: block;
    clear: both;
}

.events-list__header {
    margin: 0;
    float: left;
    width: 330px;
    font-family: PFD;
    font-weight: 500;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
}

.events-list__filter {
    float: left;
    width: 810px;
    text-align: right;
}

.events-list__filter-type {
    display: inline-block;
    vertical-align: middle;
}

.events-list__filter-type-btn {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    color: #b7b7b7;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.events-list__filter-type-btn:nth-child(n+2) {
    margin-left: 15px;
}

.events-list__filter-type-btn_active {
    background-color: #b7b7b7;
    color: #ffffff;
}

.events-list__filter-city {
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.events-list__filter-city .select2 {
    width: 280px !important;
    height: 45px;
}

.events-list__filter-city .select2-container .select2-selection--single {
    width: 100%;
    height: 100%;
    border: 1px solid #eaeaea;
    border-radius: 0;
}

.events-list__filter-city .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 19px;
    padding-right: 50px;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
}

.events-list__filter-city .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 50px;
    height: calc(100% - 2px);
}

.events-list__filter-city .select2-container--default .select2-selection--single .select2-selection__arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 11px;
    height: 7px;
    background: url(../images/caret_icon.png) center no-repeat;
    background-size: contain;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.events-list__filter-city .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.events-list__filter-date {
    position: relative;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.events-list__filter-date-btn {
    display: block;
    width: 60px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #324abd url(../images/calendar_icon.png) center no-repeat;
}

.events-list__filter-date-input {
    display: none;
}

.events-list__filter-date .datepicker-inline {
    position: absolute;
    right: 0;
    margin-top: 20px;
}

/*
 * Responsive
 */
@media (max-width: 1199px) {
    .events-list__header {
        float: none;
        width: 100%;
    }

    .events-list__filter {
        float: none;
        margin-top: 20px;
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .events-list__filter-type {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    .events-list__filter-city {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .events-list__featured {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .events-list__featured .container {
        padding-right: 15px;
    }

    .events-list__featured-date {
        position: static;
        margin-top: 30px;
    }

    .events-list__featured-city {
        position: static;
        margin-top: 30px;
        max-width: none;
        text-align: left;
    }

    .events-list__filter-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .events-list__featured-title {
        font-size: 55px;
        line-height: 65px;
    }

    .events-list__featured-action-btn:nth-child(n+2) {
        margin-top: 15px;
    }

    .events-list__filter-type {
        margin-bottom: 0;
    }

    .events-list__filter-type-btn {
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .events-list__filter-date {
        margin-top: 20px;
        margin-left: 0;
        display: block;
    }

    .events-list__filter-type-btn:nth-child(n+2) {
        margin-left: 0;
    }
}
