/*Form-action*/

.Form-action .col-md-4,
.Form-action .col-md-8 {
	padding-left:15px;
	padding-right:15px;
}

.section-header{
	font-size: 38px;
	font-family: PFD;
	text-transform: uppercase;
	color:#25262a;
	padding-bottom:30px;
	padding-left: 15px;
	display: inline-block;
}
.form-control{border:1px solid #eaeaea;
	border-radius:0px;
	font-family:Roboto-Regular;
	font-size:16px;
	height:45px;
	color:#949494;
	margin-bottom: 20px;

}
textarea.form-control {height:111px;
	border:1px solid #eaeaea;
	border-radius:0px;
	font-family:Roboto-Regular;
	font-size:16px;
	color:#949494;
	margin-bottom:0;
	}

.comment.form-group{margin-bottom: 0px;}
.Form-action{
	background:#f9f8fe;
	padding-top:100px;
	padding-bottom: 100px
}

.container.forma {
	padding: 50px 120px 50px 120px;
    background-color: #fff;
	-webkit-box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	box-shadow: 3px 3px 18px 5px rgba(0,0,0,0.12);
	
}

.container.forma form {
	margin-top: 0;
}

@media (max-width: 991px) {
	.container.forma {
		padding: 40px;
	}
}

.mail img {
position: absolute;
top: -120px;
left: 110px;

	
}

.form-group {

	
}

.row.submit {
	border: 1px solid #eaeaea;
padding: 10px;

}

.attach {padding-top: 1%;
padding-left: 1%;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
	line-height:normal !important;
}
.row.submit a, .row.submit label {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #324abd;
}
.row.submit .fa-paperclip {padding-right:5px;}



.btn-default.submit {
	
	/*background:#ae127b;*/
	padding:10px 60px 10px 60px;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-transform:uppercase;
	width: auto;
	float: right;

background-color: #ae127b;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.btn-default.submit:hover{
	
	background-color:rgba(190, 18, 128, 0.7);
	border: 1px solid rgba(190, 18, 128, 0.7);
	/*color: #ae127b;*/
 
	
}

/*footer*/

.footer {
	background:#242d3c;
}
.top-footer  {
	padding-top:30px;
	padding-bottom:50px;
}

.tfooter2 h4, .tfooter3 h4, .tfooter4 h4,
.tfooter2 .h4, .tfooter3 .h4, .tfooter4 .h4 {
	font-family:Roboto-Medium;
	font-size:16px;
	color:#fff;
	line-height:22px;
}

.tfooter2 .h4, .tfooter3 .h4, .tfooter4 .h4  {

}

.tfooter2 li a, .tfooter3 li a, .tfooter4 li a {
	font-family:Roboto-Regular;
	font-size:14px;
	color:#919fb7;
	line-height:28px;
}
.tfooter1 span {
	font-family:Roboto-Regular;
	font-size:24px;
	color:#fff;
	line-height:28px;
}


.tfooter2 li a, .tfooter3 li a, .tfooter4 li a:hover {
	text-decoration:none;
	color:#919fb7;
	
}
.tfooter4 h4 a, .tfooter4 .h4 a {
	font-family:Roboto-Medium;
	font-size:16px;
	color:#fff;
	line-height:22px;
	
}
.tfooter1 .btn-default {
	/*background:#ae127b;*/
	padding:10px 25px 10px 25px;
	color:#fff;
	font-family:Roboto-Medium;
	font-size:13px;
	text-transform:uppercase;
	border:none;
	margin-bottom: 40px;
	/*border:1px solid #ae127b;*/

    background-color: #ae127b;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;


}

.tfooter1 .btn-default:hover{
	background-color:rgba(190, 18, 128, 0.7);;
	/*border: 1px solid #ae127b;*/
	/*color: #ae127b;*/
	
}

.tfooter1 img {
	padding-bottom:40px;
}
.tfooter1 p {
	font-family:Roboto-regular;
	font-size:14px;
	color:#fff;
	line-height:22px;
}

.top-footer {
	border-bottom:1px solid #364051;
}

.bottom-footer {
	padding-top:20px;
	padding-bottom:20px;
}
.bottom-footer p {
	font-family:Roboto-regular;
	font-size:14px;
	color:#fff;
	line-height:22px;
}
.social_block .fa-stack {
	padding-left:10px;
	color:#fff;
}

.contacts__social-links {
	margin-top: 20px;
}
.contacts__social-links i {
	font-size: 23px;
	margin: 0 10px;
}
.contacts__social-links a {
	color:white;
}
.contacts__social-links a:hover {
	color: #23527c;
}

.contacts__social-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ffffff;
}

.contacts__social-link:not(:first-child) {
	margin-left: 15px;
}

.contacts__social-link:hover {
	opacity: .85;
}

.contacts__social-link::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: transparent url(images/social_icons.png) no-repeat;
}

.contacts__social-link_vk::before {
	width: 15px;
	height: 9px;
	background-position: 0 0;
}

.contacts__social-link_fb::before {
	width: 7px;
	height: 14px;
	background-position: -15px 0;
}
