@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'PFD';
	src: url(../fonts/PFD.ttf) format('truetype');
	src: url(../fonts/PFD.eot);
	src: url('../fonts/PFD.eot');
	src: url('../fonts/PFD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD.woff2') format('woff2'),
		url('../fonts/PFD.woff') format('woff'),
		url('../fonts/PFD.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PFD-Light';
	src: url('../fonts/PFD-Light.eot');
	src: url('../fonts/PFD-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD-Light.woff2') format('woff2'),
		url('../fonts/PFD-Light.woff') format('woff'),
		url('../fonts/PFD-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PFD-Thin';
	src: url('../fonts/PFD-Thin.eot');
	src: url('../fonts/PFD-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFD-Thin.woff2') format('woff2'),
		url('../fonts/PFD-Thin.woff') format('woff'),
		url('../fonts/PFD-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: PFD-Regular;
	src: url(../fonts/PFD-Regular.ttf);
}

body {
	background:#fff;
	overflow-x:hidden;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
	padding-left: 0px;}


/**Top Block**/

.row {margin: 0;}

p {margin:0;}

@media all and (min-width: 992px){.col-md-25 {
									  width:20%;
									  margin:0;
									  padding:0;

								  }}

.container-fluid {padding:0;
				  margin:0;}

.logo-block {
	background:#fff;
	border-bottom:1px solid #efefef;
	margin-top:15px;
}
.logo-block .logo img {
    max-width: 145px;
    margin-top: 7px;
}

.row{
	vertical-align: middle;
}

.logo-block i.fa.fa-map-marker{
	font-size: 15px;

}

.addr{
	text-align:center;
	padding-bottom:10px;
}
.addr-mobile {
	padding-bottom: 0px;
}
.logo-block .addr {
    text-align: center;
    padding-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
}

.addr span{
	margin: 0;
	padding: 0;
}

.nbr{
	font-family: Roboto-Medium;
	font-size: 26px;
	color: #000;
	line-height: 1.5;

}

.city{
	font-family:Roboto-Regular;
	color: #324abd;
	font-size: 14px;
	margin-left: 20px;
}

.city:hover {color:#324abd;text-decoration:underline}

.city img {padding-right:5px;}

.dropdown-menu.citymenu {
	width: 100%;
	box-shadow: none;
	border: 0px;
	background: #fbfbfb;
	border-radius: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*
.dropdown-menu:before {
	content: "";
	margin-right: 50%;
	background: #fbfbfb;
	position: absolute;
	right: 50%;
	width: 100%;
	height: 100%;
	top: 0%;
}


.dropdown-menu:after {
	content: "";
	background: #fbfbfb;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
}
*/


.citymenu li{
	list-style:none;}

.citymenu li ul li a {
	font-family:Roboto-Regular;
	font-size: 16px;
	color: #000000;
	line-height:28px;
	text-transform:none;
	text-decoration: none;
	height:auto !important;
}


.top-button{
	text-decoration: none;
	background-color: #ae127b;
	border: none;
	padding: 12px 41px;
	border: 1px solid #ae127b;
	font-family:Roboto-Medium;
	color: #ffffff !important;
	font-size: 13px;
	text-transform: uppercase;
}

.top-button:hover{

	background-color:#fff;
	border: 1px solid #ae127b;
	color: #ae127b !important;

}


.advanced-popup  .modal-header {
	position:relative;
	border-bottom:0px;
	top:20%;
	background:#fff;
	padding:40px 50px 10px 50px;
}
.advanced-popup h4, .advanced-popup .h4 {
	font-family:PFD;
	font-size:42px;
	line-height:54px;
	color:#000;
}
.advanced-popup  .modal-body option{
	font-family:Roboto-Regular;
	font-size:15px;
	line-height:22px;
	color:#000;
}

.advanced-popup .form-control {
	height:45px;
	border:1px solid #eaeaea;
	box-shadow:none;
	border-radius:0px;

}

.advanced-popup .fa-times {font-size:22px;}

.advanced-popup.top-button {width:100%;}

/**Menu Block**/



.menu-block .navbar {margin-bottom:0px;}

.menu-block .navbar-collapse {padding-left:0px;padding-right:0px; overflow: hidden;}

.topmenu {
	width:100%;
}

.topmenu > li > a,
.topmenu-tablet__block > ul > li > a
{
	font-family:Roboto-Medium;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
	color: #000000;
}

.topmenu > li > span,
.topmenu-tablet__block > ul > li > span
{
	font-family:Roboto-Medium;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
}

.topmenu li {

}

/*.item6 {
margin-right:0px !important;
margin-left:25px;
}*/


.topmenu li  a:focus, .topmenu li  a:hover {
	background-color: initial;
	outline:none;
	color:#324abd;
}

.topmenu .open > a, .topmenu .open > a:focus, .topmenu .open > a:hover {
    background-color: #324abd;
    border-color: #324abd;
	color:#fff;
}

.topmenu .mega-dropdown-menu {
	border: 0px;
	padding: 9px 13px;
	background: #FFFFFF;
	box-shadow: 0px 4px 6px rgba(99, 105, 112, 0.2);
	border-radius: 4px !important;
}

.topmenu .mega-dropdown-menu ul {
	margin: 0;
	padding: 0;
}

.mega-dropdown-menu .dropdown-header {
	font-size: 30px;
	color: #000;
	padding: 5px 0px 25px 5px;
	line-height: 38px;
	font-family:PFD;
	text-transform:uppercase;
}

.mega-dropdown {	position: static !important;
}


.mega-dropdown li {margin-right:0px;
				   list-style:none;
}




.mega-dropdown-menu > li ul > li > a {
	display: block;
	padding: 3px 5px;
	font-family:Roboto-Regular;
	font-size: 16px;
	height:50px;
	color: #000000;
	text-transform:none;
	text-decoration: none;
	vertical-align:middle;
}

.item4 .mega-dropdown-menu > li ul > li > a {

}

.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
	background-color: transparent;
	color: #324abd;
	outline: none;


}

.mega-dropdown-menu img {padding-right:15px;float: left;}

.mdm-second {margin-top:70px !important;}

.mdm-third {border-left:1px solid #efefef;padding-left:60px;}



.dropdown-toggle:after {
	content: "\f107";
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	padding-left:5px;
	color: #4059D3;
}

.dropdown-toggle:hover:after {
	content: "\f106";
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	padding-left:5px;
}

@media (max-width: 1199px) {
	.dropdown-toggle:hover:after {
		padding-left:1px;
	}
}

/**
 NEW SPRITE MENU
*/
.mega-dropdown-menu > li ul > li > a {
	position: relative;
	padding:7px 7.5px;
	border-bottom: 0.5px solid #ACB5BD;
	font-size: 12px;
	line-height: 18px;
	color: #2B2B2B;
	height: auto;
	transition: all 0.2s ease-in;
	padding-right: 25px;
}

.mega-dropdown-menu > li ul > li > a:hover {
	padding-left: 25px;
	padding-right: 7.5px;
}

.mega-dropdown-menu > li ul > li:last-child a {
	border: 0;
}
.mdm .top-menu-icon {
	display: flex;
	position: relative;
	padding: 10px 0 0 30px;
}
.mdm__image {
	position: absolute;
	left: 0;
}
.mdm__text {

}
.mega-dropdown-menu > li ul > li > a.top-menu-icon:before{
	content: " ";
	background-image: url(/local/templates/main/assets/img/menu-sprite-min.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-position-y: 2px;

}
.icon-package:before {
	background-image: url(/local/templates/main/assets/img/menu_package.png) !important;
	background-position-y: 0 !important;
}
.icon-express:before {
	background: url(/local/templates/main/assets/img/service/express-setup.png) no-repeat !important;
}
.icon-consultation:before{
	background: url(/local/templates/main/assets/img/service/consultes.png) no-repeat !important;
}
.icon-projecting:before {
	background: url(/local/templates/main/assets/img/service/projects-design.png) no-repeat !important;
}
.icon-documents:before {
	background-position-x: -255px;
	width: 21px !important;
	left: 4px !important;
}
.icon-settings-and-programming:before {
	background-position-x: -126px;
}
.icon-consulting:before {
	background-position-x: -276px;
}
.icon-edu:before {
	background: url(/local/templates/main/assets/img/blog/faq.png) no-repeat !important;
}
.icon-meeting:before {
	background: url(/local/templates/main/assets/img/blog/meeting.png) no-repeat !important;
}
.icon-desing:before {
	background-position-x: -228px;
}
.topmenu li a.link-cart {
	text-decoration: underline;
}
.icon-buyb24:before {
	/*background-position-x: -102px;*/
	content: " ";
	background-image: url(/local/templates/main/assets/img/menu-cart-min.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-position-y: 2px;
}

.icon-tr1:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/cafe_restarants.png) no-repeat !important;
}
.icon-tr2:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/educations.png) no-repeat !important;
}
.icon-tr3:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/building.png) no-repeat !important;
}
.icon-tr4:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/medicare.png) no-repeat !important;
}
.icon-tr5:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/autoservieses.png) no-repeat !important;
}
.icon-tr6:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/fitness.png) no-repeat !important;
}
.icon-tr7:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/insurance.png) no-repeat !important;
}
.icon-tr8:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/jurnays.png) no-repeat !important;
}
.icon-tr9:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/buties.png) no-repeat !important;
}
.icon-tr10:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/properties.png) no-repeat !important;
}
.icon-tr11:before {
	background: url(/local/templates/main/assets/img/otraslevaja-jekspertiza/pharmacy.png) no-repeat !important;
}

.icon-about:before {
	background: url(/local/templates/main/assets/img/blog/about.png) no-repeat !important;
}
.icon-blog:before {
	background: url(/local/templates/main/assets/img/blog/blog.png) no-repeat !important;
}
.icon-otzivi:before {
	background: url(/local/templates/main/assets/img/blog/feedback.png) no-repeat !important;
}
