@font-face {
    font-family: 'PFD';
    src: url(../fonts/PFD.ttf) format('truetype');
    src: url('../fonts/PFD.woff2') format('woff2'),
    url('../fonts/PFD.woff') format('woff'),
    url('../fonts/PFD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PFD-Thin';
    src: url(../fonts/PFD-Thin.ttf) format('truetype');
    src: url('../fonts/PFD-Thin.woff2') format('woff2'),
    url('../fonts/PFD-Thin.woff') format('woff'),
    url('../fonts/PFD-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/***** section intro *****/

section.intro{
    background-image: url('/local/templates/main/assets/css/../img/bg_intro.png');
    height: 524px;
    overflow: hidden;
}

.intro_descr{
    color: white;
    float: left;
}

.icons_block{
    background-image: url('/local/templates/main/assets/css/../img/circles.png');
    height: 475px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    float: right;
    margin-right: -70px;
    background-size: 100%;
}

.bubble {
    position: absolute;
    /*		-webkit-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;*/
    -webkit-transition: all 0.1s ease-out 0.1s;
    -moz-transition: all 0.1s ease-out 0.1s;
    -o-transition: all 0.1s ease-out 0.1s;
    transition: all 0.1s ease-out 0.1s;
    display: block;
}

.small_bubble {
    z-index: 1;
    width: 170px;
}

.small_bubble:hover,.hoverBubble {
    width: 230px;
    z-index: 1;
}

.bubble_1 {
    top: 322px;
    right: 285px;
}

.bubble_1:hover,.hoverBubble.bubble_1 {
    top: 302px;
    right: 255px;
}

.bubble_2 {
    top: 195px;
    right: 322px;
}

.bubble_2:hover,.hoverBubble.bubble_2 {
    top: 175px;
    right: 292px;
}

.bubble_3 {
    top: 80px;
    right: 260px;
}

.bubble_3:hover,.hoverBubble.bubble_3 {
    top: 50px;
    right: 230px;
}

.bubble_4 {
    top: 38px;
    right: 135px;
}

.bubble_4:hover,.hoverBubble.bubble_4 {
    top: 13px;
    right: 105px;
}

.bubble_5 {
    top: 110px;
    right: 10px;
}

.bubble_5:hover,.hoverBubble.bubble_5 {
    top: 80px;
    right: -20px;
}

.big_bubble{
    width: 330px;
    top: 125px;
    right: 68px;
}


.big_bubble img {
    width: 100%;
}


.bubble_descr{
    position: absolute;
    text-align: center;
    top: 120px;
    left: 65px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}
.bubble_descr.onHoverBigBubble{
    opacity: 1;
}

.bubble_descr span{
    display: block;
}

.bubble_descr span.bubble_title{
    font-family: PFD-Thin;
    font-size: 30px;
    font-weight:bold;
}

.bubble_descr span.bubble_content{
    font-size: 12px;
    font-family: Roboto;
}

.intro_descr .intro_title{
    font-size: 54px;
    font-family: PFD-Thin;
    text-transform: uppercase;
    margin-top: 76px;
}

.intro_descr .intro_title .medium_font{
    font-family: PFD;
}

.intro_descr p{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 27px;
    color: rgba(255, 255, 255, 0.5);
}

.intro_descr .btn{
    text-transform: uppercase;
    font-size: 13px;
    background-color: #ae127b;
    color: white;
    margin-top: 40px;
    padding: 17px 45px;
    font-family: Roboto;
    font-weight: 400;

    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.intro_descr .btn:hover{
    background-color: rgba(190, 18, 128, 0.7);
}
/***** /section intro *****/

/***** section services *****/

.service_card_content{
    box-shadow: 3px 3px 40px 5px rgba(0,0,0,0.12);
    height: 340px;
    padding: 60px 25px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none !important;
}

.service_card .title{
    font-size: 26px;
    font-family: PFD;
    padding: 0;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 1;
    color: rgb(51, 51, 51);
    position: relative;
    z-index: 2;
}

.service_card img{
    position: absolute;
    right: -24px;
    top: 20px;
}

.service_card p{
    font-size: 16px;
    font-family: Roboto;
    color: rgb(51, 51, 51) !important;
}

.service_card span.more{
    color: #d20f8c;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Roboto;
    position: absolute;
    bottom: 40px;
}

.service_card_content:hover .title{
    color: #354dbf;
}

.service_card_content:hover span.more:after{
    content: url(../img/arr_right.png);
    margin-left: 10px;
}

.cusel {background-color: #fff; border: 1px solid #a4a2a6; border-radius: 3px; cursor: pointer; display: inline-block; font-size: 14px; line-height: 1.25em; height: 28px; position: relative; z-index: 1; box-shadow: 0 1px 0 #f2f2f2 inset, 0 1px 0 rgba(255,255,255,.7); outline: none;}
.ie7 .cusel {display: inline; zoom: 1;}
.cusel.error, .cusel.error .cusel-scroll-wrap {border-color:#f02e2e;}
.cusel.error:before {content:"ÐžÐ±ÑÐ·Ð°Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ðµ Ð¿Ð¾Ð»Ðµ Ð½Ðµ Ð·Ð°Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¾"; display:block; position:absolute; left:-176px; top:-39px; width:136px; padding:12px 13px; color:#fff; text-shadow:0 1px #8a2d14; line-height:16px; border:1px solid #b92a29; border-radius:3px; box-shadow:0 0 1px 0 #777; background:#f34747;
	background: -moz-linear-gradient(top,  #f34747 0%, #f02e2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f34747), color-stop(100%,#f02e2b));
	background: -webkit-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: -o-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: -ms-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: linear-gradient(to bottom,  #f34747 0%,#f02e2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34747', endColorstr='#f02e2b',GradientType=0 );}
.cusel.error:after {content:""; display:block; position:absolute; left:-14px; top:-21px; width:9px; height:14px; background: url(../images/cusel.png) no-repeat 0px 0px;}
.cuselFrameRight {background-position: right top; height: 100%; position: absolute; right: 0; top: 0; width: 31px; z-index: 2; background: url(../images/cusel.png) no-repeat 0px 0px;}
/*.cusel:hover .cuselFrameRight {background-position: -175px -440px;}*/
.cuselText {line-height: 1em; cursor: pointer; left: 0; right: 31px; overflow: hidden; padding: 7px 0 0 10px; position: absolute; top: 0; z-index: 1; white-space: nowrap; text-overflow: ellipsis;}
.cusel span {cursor: pointer; display: block; height: 17px; padding: 5px 1px 6px; margin: 0 9px; border-top: 1px dotted #a9b1be; position: relative; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;box-sizing:content-box;}
.cusel span:before {content: ""; position: absolute; top: 0; left: 0; width: 100%; border-top: 1px dotted #fff;}
.cusel span:hover, .cusel .cuselOptHover {background: #f0f0f0; color: #323596;}
.cusel .cuselActive {color: #323596; cursor: default;}
.cuselOpen {z-index: 10;}
.classDisCusel, .classDisCusel .cuselFrameRight {color: #ccc; cursor: default;}
.classDisCusel .cuselText {cursor: default;}
.cusel .cusel-scroll-wrap {border: 1px solid #a4a2a6; border-top: none; display: block; left: -1px; min-width: 100%; position: absolute; top: 27px; padding-top: 1px; width: inherit; background-color: #fff; border-radius: 0 0 3px 3px;}
.cusel .cusel-scroll-pane{width: auto !important; left:0; right:10px;min-height:87px;}
.cusel .jScrollPaneContainer {overflow: hidden; position: relative; z-index: 5;}
.cusel .jScrollPaneTrack {background: none repeat scroll 0 0 #ccc; height: 100%; position: absolute; right: 4px; top: 0; width: 7px !important;}
.cusel .jScrollPaneDrag {background-color: #a9a9a9; cursor: pointer; height: 27px !important; position: absolute; right: 0; width: 100% !important;}
.cusel .jScrollPaneDragTop {left: 0; overflow: hidden; position: absolute; top: 0;}
.cusel .jScrollPaneDragBottom {bottom: 0; left: 0; overflow: hidden; position: absolute;}
.cusel .jScrollArrowUp {cursor: pointer; height: 2px; overflow: hidden; position: absolute; right: 2px; top: 0; width: 26px;}
.cusel .jScrollArrowDown {bottom: 0; cursor: pointer; height: 2px; overflow: hidden; position: absolute; right: 3px; top: auto; width: 25px;}


/***** /section services *****/

@media (min-width: 992px) and (max-width: 1199px) {
    .intro_descr p{
        font-size: 14px;
    }

    .intro_descr .intro_title{
        font-size: 42px;
    }

    .service_card .title{
        font-size: 22px;
    }

    .service_card p{
        font-size: 14px;
    }
}

@media (min-width: 992px){
    .intro_descr{
        width: calc(100% - 500px);
    }

    .service_card:first-child .service_card_content{
        margin-left: 0;
    }

    .service_card:last-child .service_card_content{
        margin-right: 0;
    }

    .service_card_content{
        margin-top: 0;
    }
}

@media (max-width: 767px){
    .intro_descr p{
        font-size: 14px;
    }

    .intro_descr .intro_title{
        font-size: 42px;
    }

    section.intro{
        height: auto;
        padding-bottom: 30px;
    }
}
