html
{
	width:100%;
	overflow-x:hidden;
}
/*фикс меню*/
.n_scroll_block
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:49;
}

.n_scroll_block_open {
	bottom: 0;
	overflow-y: auto;
}

body{padding-top:116px;}
@media (max-width: 991px){body{padding-top:116px;}}
@media (max-width: 767px){body{padding-top:66px;}}
@media (max-width: 520px){body{padding-top:56px;}}
/*фикс меню*/

.why-block img
{
	position: absolute;
	bottom: 30px;
	right: 30px;
	max-width: 60px;
	max-height: 60px;
	padding: 0;
}

.buy-license .nav-tabs > li > a
{
	border:0;
}

.text h5 a
{
	padding-bottom:3px;
}

.date .date {
	white-space: nowrap;
}

.date .date,
.date .views
{
	position:relative;
	top:-4px;
	z-index:1;
}

.date .views
{
}

.effect a.info
{
	top:50%;
	margin-top:-10px;
}

.main-blog .blog1 h4 a
{
	font-size: 18px;
	line-height: 28px;
	color: #000;
}

.main-blog .main-blog .blog-item.pull-right
{
	margin-left:25px;
}

.content-bottom .btn-sm
{
	margin-left:25px;
}

.main-blog .material
{
	margin-top:30px;
}

.main-blog .material ul li,
.main-service .material ul li
{
	font-family:Roboto-Regular;
	font-size:16px;
	line-height:24px;
	color:#000;
	padding-bottom:15px;
	list-style:none;
}

.main-blog .material ul li:before,
.main-service .material ul li:before
{
	content: "•";
	padding-right: 8px;
	color: blue;
}

.service1 .material
{
	padding-top:40px;
}

.service-bottom .row
{
	display:table;
	width:100%;
}

.service-bottom  .row .block
{
	display:table-cell;
	vertical-align:top;
	text-align:left;
	float:none;
}

.side-menu .nav.navbar-nav li a[aria-expanded="true"]:after
{
	content:"\f077";
}

.side-menu .nav.navbar-nav li li a:after
{
	content:"";
}

.side-menu-container .nav.navbar-nav
{
	width:100%;
}

.mega-dropdown-menu img
{
	max-width:36px;
}

figure.effect-julia h3 a
{
	font-family:PFD;
	font-size:30px;
	color:#fff;
}

.main-blog .material img
{
	max-width:100%;
	height:auto !important;
}

.navbar-header .filter .navbar-toggle
{
	color:#fff;
	margin-right:0;
	padding-right:0;
	top:-65px;
	right:0;
}

.navbar-header .filter .navbar-toggle a
{
	display:none;
}
/*
.crm-menu
{
height:auto;
min-height:50px;
}

.crm-menu .js-navbar-collapse-crm
{
padding-left:0 !important;
padding-right:0 !important;
}

.crm-menu .js-navbar-collapse-crm .crmmenu li a,
.crm-menu .js-navbar-collapse-crm .crmmenu li:hover a,
.crm-menu .js-navbar-collapse-crm .crmmenu li.active a
{
font-size:18px;
line-height:35px;
border-bottom:1px solid #efefef;
font-family:Roboto-Medium;
color: #000;
text-transform: uppercase;
text-align:left;
}
*/

.more-modal  .modal-body
{
	position:relative;
	left:20%;
	width:55%;
	min-width: 576px;
	top:10%;
	background:#fff;
	padding:20px 50px 40px 50px;
}

.more-modal .modal-header
{
	position:relative;
	left:20%;
	width:55%;
	min-width: 576px;
	border-bottom:0px;
	top:10%;
	background:#fff;
	padding:40px 50px 10px 50px;
}

.more-modal .service-bottom  .row .block {
	min-height: 170px
}

.more-modal h4
{
	font-family:PFD;
	font-size:42px;
	line-height:54px;
	color:#000;
}

.more-modal .modal-body option
{
	font-family:Roboto-Regular;
	font-size:15px;
	line-height:22px;
	color:#000;
}

.more-modal .form-control
{
	height:45px;
	border:1px solid #eaeaea;
	box-shadow:none;
	border-radius:0px;
}

.more-modal .fa-times
{
	font-size:22px;
}

.more-modal .top-button
{
	width:100%;
}
.more-modal h3
{
	font-family:PFD;
	font-size:30px;
	color:#324abd;
	text-transform:uppercase;
	margin-top:0px;
}

.more-modal .questions,
.more-modal .results
{
	padding-left:0;
}

.more-modal .modal-body
{
	margin-top:-30px;
}

.more-modal .questions p
{
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height:30px;
	color: #000;
}

.menu-block.scrolling-menu
{
	/*height: 52px;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	background: #FFF;
	z-index:99;
}

.scrolling-menu_body .logo-block
{
	padding-bottom:52px;
}

.dropdown-menu
{
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
	-moz-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
	-o-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
	transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
}

.navbar-nav > li.dropdown.open > .dropdown-menu
{
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.menu-block .topmenu li a:focus
{
	background-color:initial;
	color:#000;
}

.menu-block .topmenu li.open > a
{
	background-color: inherit;
	color: #000;
}

.menu-block .topmenu li:hover > a,
.menu-block .topmenu li:hover > span
{
	background-color: initial;
	color: #324abd;
}

.menu-block .topmenu li:hover > a.dropdown-toggle:after,
.menu-block .topmenu li:hover > span.dropdown-toggle:after
{
	content:"\f106";
}

.menu-block .topmenu li li > a:hover,
.menu-block .topmenu li li > span:hover
{
	color:#324abd;
	background-color: inherit;
}

.topmenu .mega-dropdown-menu
{
	top: 100%;
	left: auto;
}

.menu-block .navbar
{
	border-bottom:0;
}

.why__wrapper {
	-webkit-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
}

.why .why-block
{
	position: relative;
	height: 290px;
	padding: 50px 60px 30px 50px;
}

.why-block__item {
	border-style: solid;
	border-color: #eeedf2;
	border-width: 0 1px 0 0;
}

.why .why-block__item:nth-child(3n) {
	border-right-width: 0;
}

.why .why-block__item:nth-child(n+4) {
	border-top-width: 1px;
}

.why-block__title {
	font-family: PFD;
	font-size: 28px;
	line-height: 36px;
	text-transform: uppercase;
}

.why-block__desc {
	margin-top: 7px;
}

.blog1 h4 a, .blog1 .sect-heading a
{
	font-family: Roboto-Regular;
	font-size: 18px;
	line-height: 28px;
	color: #000;
}

.carousel
{
	z-index:5;
}

.Main-Slider .carousel-fade .carousel-inner
{
	background: #324ABD;
}

.Main-Slider .carousel-fade .carousel-control
{
	z-index: 2;
}

.Main-Slider .carousel-fade .item
{
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.Main-Slider .carousel-fade .item.active
{
	opacity: 1;
}

.Main-Slider .carousel-fade .active.left,
.Main-Slider .carousel-fade .active.right
{
	left: 0;
	opacity: 0;
	z-index: 1;
}


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
	.Main-Slider .carousel-fade .carousel-inner > .item.next,
	.Main-Slider .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.Main-Slider .carousel-fade .carousel-inner > .item.prev,
	.Main-Slider .carousel-fade .carousel-inner > .item.active.left
	{
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.Main-Slider .carousel-fade .carousel-inner > .item.active
	{
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

#popup
{
	padding:10px 30px 30px 30px;
}

#advanced .modal-body,
#advanced .modal-header
{
	margin-left:-190px;
	width:360px;
	left:50%;
}

.logo-block,
.menu-block
{
	width:100%;
	/*overflow:hidden;*/
}

@media (max-width: 1200px)
{
	.menu-block .topmenu li{margin-right:0;padding-left:0;padding-right:0;}
}

@media (max-width: 1100px)
{
	#nmodal  .service-bottom  .row .block{margin:0;float:left;display:block;width:100%;border-left:0;border-right:0;}
	#nmodal h4 {font-size:26px;line-height:32px;}
}

@media (max-width: 991px)
{
	.main-blog .main-blog .blog-item.pull-right{margin-left:0px;}
	.content-bottom .btn-sm{margin-left:0px;}
	#advanced .modal-body,#advanced .modal-header{left:0;width:100%;margin-left:0;}
	.heading-block .container{position:relative;}
	.heading-block .col-md-4.col-sm-4.hidden-xs{position:absolute;z-index:1;right:15px;}
}

@media (max-width: 768px)
{
	.service-bottom  .row .block{margin:0;float:left;}
	.blue-block img{padding:55px 35px 100px 0px;}
	.content-bottom .date.text-right{padding-left:0;}
	.pluso-010010011001-04 .pluso-wrap a{margin-left:0;margin-right:3px;}
	.date, .views{text-align:right;}
	.contacts-block .tab-content .tab-pane{overflow-y:auto;}
	#nmodal .service-bottom .btn-buy{width: 100%;padding-left: 0;padding-right: 0;}
	#nmodal .modal-body,#nmodal .modal-header{padding-left:10px;padding-right:10px;}
	.menu-block.scrolling-menu .navbar-header{padding-top:70px;}
	.menu-block.scrolling-menu .navbar-header .navbar-toggle{top:0px;}
	/*.scrolling-menu_body .logo-block .logo{padding-bottom:50px;}*/
	/*.scrolling-menu_body{padding-top:50px;}*/
	.scrolling-menu_body .logo-block{padding-bottom:0px;}
	.menu-block .topmenu li > a.dropdown-toggle:after{content:"\f107";}
	.menu-block .topmenu li.open > a.dropdown-toggle:after{content:"\f106";}
	.slide-info tbody tr td{font-family:'PFD-Light';}
	#carousel-vertical .clcontrols{bottom:39px;}
	.blog1 h4 a{font-size:16px;}
	.why-block img{width:15%;height:auto;}
	.why-block p{width:calc(85% - 10px);}
	.crm-menu{height:auto;min-height:50px;}
	.crm-menu .js-navbar-collapse-crm{padding-left:0 !important;padding-right:0 !important;}
	.crm-menu .js-navbar-collapse-crm .crmmenu li a,.crm-menu .js-navbar-collapse-crm .crmmenu li:hover a,.crm-menu .js-navbar-collapse-crm .crmmenu li.active a{font-size:18px;line-height:35px; border-bottom:1px solid #efefef;font-family:Roboto-Medium;color: #000;text-transform: uppercase;text-align:left;}
	.heading-block .hidden-sm .input-group.search .form-control{border:1px solid #fff;background:#fff;}
	.contacts-block .tabs-left{height:auto;}
	.contacts-block .tab-content .tab-pane{height:auto;max-height:500px;}
	.contacts-wrap {
		display: flex;
		flex-flow: column wrap
	}

	.tabs-left {
		margin-top: 3rem !important;
		order: 1;
		margin-bottom: 20px;
	}

	.contacts-wrap .maps {
		order: 2;
	}
}

@media (max-width: 450px)
{
	body{min-width:320px;}
	.date .views,.date .date{font-size:11px;top:-2px;margin-right:0;}
	.main-blog .main-blog .blog-item .date .views,.main-blog .main-blog .blog-item .date .date{font-size:16px;}
	.blue-block img{display:none;}
	.ordering .top-button{padding-left:21px;padding-right:21px;}
	.Main-Slider,.carousel-fade .carousel-inner .item,.carousel.slide .fill,.carousel-caption.main{height:450px;}
	#carousel-vertical .clcontrols{top:auto;bottom:41px;}
	.carousel.slide .slide-info{width:100%;}
	.slide-info table{width:100%;}
	.banner2 .productimg{top:25%;}
	.carousel.slide .productimg img{display:none;}
	#popup{padding:10px 5px 30px 5px;}
}

@media (max-width: 767px) and (min-width: 320px){
	.more-modal .modal-header,
	.more-modal .modal-body {
		left: 5%;
		width: 90%;
		min-width: initial;
	}

	.more-modal .modal-header {
		padding: 20px 20px 20px 20px;
	}

	.more-modal .modal-body {
		padding: 0px 20px 20px 20px;
	}

	.more-modal h4 {
		font-size: 32px;
		line-height: 40px;
	}

	.more-modal h3 {
		font-size: 25px;
	}

	.service-bottom .buy {
		padding: 25px 0;
	}

	.service-bottom .btn-buy {
		padding: 15px 100px;
	}



}

@media (max-width: 767px) {
	.why .why-block {
		height: auto;
		padding: 30px;
		border-right-width: 0;
	}

	.why .why-block__item:nth-child(n+2) {
		border-top-width: 1px;
	}

	.why-block img {
		position: static;
	}

	.why-block__title {
		margin-bottom: 15px;
	}

	.why-block p {
		margin-top: 0;
	}

}
