.page404__wrapper {
	padding-top: 115px;
	padding-bottom: 170px;
	background: url(images/page404_bg.png) center right no-repeat;
}

.page404__title {
	color: #000;
	font-family: PFD;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
}

.page404__back {
	margin-top: 30px;
}

.page404__back-btn {
	padding: 12px 41px;
	border: 1px solid #ae127b;
	background-color: #ae127b;
	color: #ffffff;
	font-family: Roboto-Medium;
	font-size: 13px;
	text-transform: uppercase;
}

.page404__back-btn:focus {
	border-color: #ae127b;
	background-color: #ae127b;
	color: #ffffff;
}

.page404__back-btn:active {
	background-image: none;
	background-color: #ffffff;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.page404__back-btn:hover {
	background-color: #ffffff;
	border-color: #ae127b;
	color: #ae127b !important;
}

.page404__back-btn:active:hover {
	background-color: #ffffff;
	border-color: #ae127b;
}

@media (max-width: 1199px) {
	.page404__wrapper {
		background-size: 300px;
	}
}

@media (max-width: 991px) {
	.page404__wrapper {
		background: none;
	}
}