/*mobile version correction*/

@media (min-width: 320px) and (max-width: 991px) {
	.navbar-toggle {
		background-color: transparent;
		color: #000;
		font-size: 30px;
		position: absolute;
		top: -60px;
		display: block;
	}
	.collapse {

	}
}

@media (min-width: 320px) and (max-width: 767px){

	.heading-block.style-change { background: none !important; }

	.heading-block .row.fixed-mobile-menu {
		width: 100%;
		color: #324abd;
		border: 1px solid #324abd;
		background: #fff;
		border-radius: 3px;
		padding: 0 6px;
		margin: 15px 0;
	}

	.crm-menu .navbar-toggle {
		width: 100%;
		text-align: right;
		font-size: 22px;
		line-height: 45px;
	}

	.crm-menu .fa-filter {
		color: #324abd;
	}

	.navbar-header .filter .navbar-toggle {
		top: -75px !important;
		right: 6px !important;
	}

	.heading-block .row.fixed-mobile-menu h1 {
		color: #324abd;
		font-weight: normal;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		text-transform: capitalize;
	}

	.logo-block {margin-top:0px;}

	.logo-block .addr {position:absolute; top:0px; left:0px; border-bottom:1px #e8e8e8 solid;padding-bottom: 0px;}

	.logo-block .ordering {
		position: absolute;
		top: -1px;
		right: 0px;
		border-bottom: 1px #e8e8e8 solid;
	}

	.logo-block .addr .nbr {font-size: 15px; line-height: 49px;}

	.ordering .top-button {
		border: 1px solid #ae127b;
		padding: 15px 41px;
		border-radius:0px;
		padding-left: 21px;
		padding-right: 21px;
	}

	.logo-block .logo {
		margin-top: 52px;
		padding: 8px 0px;
		text-align: center;
	}

	.logo-block .logo i {color:#000; font-size:32px;  position:relative; top:12px; float:left; margin-left:30px}

	/*mobile slider*/

	.Main-Slider {height:450px;position:relative;}

	.carousel.slide .container {
		position: relative;
		top: auto;
		right: auto;
		height:450px
	}
	.carousel-caption.main {height: 450px;
							width: 100%;
							top: 0%;
	}
	.carousel.slide .fill {position:absolute; top:0px;left:0px; height:450px; background-position:left;}

	.carousel.slide .slide-info {position:relative; height: 100%;top:5%;}

	.carousel.slide h2 {font-size:26px; line-height:32px}

	.banner2 .productimg {position:absolute; left:55%; top:55%; padding-top:0%}
	.banner3 .productimg {position:absolute; left:55%; top:30%; padding-top:0%}
	.banner1 .productimg {position:absolute; left:25%; top:25%; padding-top:0%;
						  transform:rotate(-90deg);
						  -ms-transform:rotate(-90deg); /* IE 9 */
						  -moz-transform:rotate(-90deg); /* Firefox */
						  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
						  -o-transform:rotate(-90deg); /* Opera */}

	.banner1 .productimg img {width:40%;}

	.carousel.slide .productimg img {max-width:100%;}

	.slide-info button span {display:none}

	#carousel-vertical .clcontrols {position: absolute;
									bottom: 40px;
									right: 10%;
									width: 90px;
									top: -440px;
									left: 60%;
	}

	#carousel-vertical .left.carousel-control {
		left:0;
		top: auto;
		transform: translate(-50%);
		bottom: 0;
		width: 45px;
		margin: 0;
		padding: 0;
		background-image: none;
	}


	#carousel-vertical .right.carousel-control {
		right: 0;
		top: auto;
		transform: translate(-50%);
		bottom: 0;
		left: auto;
		width: 45px;
		margin: 0;
		padding: 0;
		background-image: none;
	}


	#carousel-vertical .right.carousel-control i {
		font-size: 40px;
		color: #71ceed;
		border: 1px solid #fff;
		border-radius: 0px 5px 5px 0px;
		display: block;
		padding: 3px 14px 3px 14px;
	}

	#carousel-vertical .left.carousel-control i {
		font-size: 40px;
		color: #71ceed;
		border: 1px solid #fff;
		border-radius: 5px 0px 0px 5px;
		display: block;
		padding: 3px 14px 3px 14px;
	}

	.slide-info .btn-more {
		float: left;
		padding: 14px 40px 14px 40px;
		position: absolute;
		bottom: 10%;
		left: 1%;

	}
	.slide1 .btn-more {
		float: left;
		padding: 14px 40px 14px 40px;


	}
	.slide1 h2 {font-size:36px;}
	.slide1 h4 {font-size:26px;}

	.slide-info tbody tr td {text-align:left;border:0px;
							 font-family:'pf_din_text_comp_prolight';
							 font-size:22px;
							 color:#fff;
							 font-weight:normal;
							 padding:0px;
	}

	.slide-info tbody tr td:before {
		content: "\f05d"; display: inline-block;
		font: normal normal normal 16px FontAwesome;
		color: #99abff;
		padding-right:10px;
		line-height:22px;
	}

	.slide-info table {width:80%;}

	/*Fields*/
	.fields {
		margin-bottom: 0px;
	}


	.fields-heading {
		/* font-size: 26px; */
		text-align:left;
		padding:25px 10px
	}

	.fields .ffli div {background-position:20px center; background-size:50px auto}

	.icons-block1 a, .icons-block2 a, .icons-block3 a, .icons-block4 a, .icons-block5 a, .icons-block6 a, .icons-block7 a, .icons-block8 a, .icons-block9 a {
		font-family: Roboto-Regular;
		font-size: 16px;
		color: #000;
		line-height: 18px;
		text-align: left;
		padding-top: 0%;
		display: block;
	}
	.block {
        margin-left: -20px;
        margin-right: -20px;
	}

	.fields .container {padding-left:0px; padding-right:0px}

	.icons-block1, .icons-block2, .icons-block3, .icons-block4, .icons-block5, .icons-block6, .icons-block7, .icons-block8, .icons-block9 {
		width: auto;
		height: auto;
		padding:25px 0px 25px 80px;
		border-top:1px #e8e8e8 solid;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
		border-radius: 0px;
		text-align: left;
	}

	.icons-block9 {border-bottom:1px #e8e8e8 solid;}

	.ffli {position:relative}

	.ffli:after {content: "\f105"; display: inline-block;
				 font: normal normal normal 14px/1 FontAwesome;
				 font-size: 14px;
				 font-size: inherit;
				 text-rendering: auto;
				 -webkit-font-smoothing: antialiased;
				 -moz-osx-font-smoothing: grayscale;
				 position: absolute;
				 right: 10px;
				 top: 28%;
				 font-size: 35px;
				 color: #999;
	}

	.icons-block-all {
		background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
		width: auto;
		height: auto;
		margin-right: 0px;
		margin-bottom: 0px;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
		border-radius: 0px;
		text-align: left;
		padding-top: 0%;
		padding: 35px 0px 35px 80px;
		border-bottom: 1px solid #fff;
	}

	.icons-block-all a {
		font-family: Roboto-Regular;
		font-size: 16px;
		color: #324abd;
		line-height: 18px;
		text-align: left;
		padding: 5% 0% 5% 0%;
	}

	.benefits .fields-heading{
		font-size: 22px;
		text-align:center;
		padding:25px 10px;
	}
	.benefits {
		margin-top: 130px;
	}


	.benefits .col-xs-12 > div >  div {height:auto}

	.benefits .col-xs-12 > div >  div .infotext {position:relative; top:auto; left:auto}

	.benefits .col-xs-12 > div >  div {position:relative}

	.benefits .col-xs-12 figcaption:after {content: "\f105"; display: inline-block;
										   font: normal normal normal 14px/1 FontAwesome;
										   font-size: 14px;
										   font-size: inherit;
										   text-rendering: auto;
										   -webkit-font-smoothing: antialiased;
										   -moz-osx-font-smoothing: grayscale;
										   position: absolute;
										   right: 10px;
										   top: 50%;
										   margin-top: -18px;
										   font-size: 35px;
										   color: #fff;

	}
    .benefits figure {
        margin-left: 0;
        margin-right: 0;
    }
	.benefits figure figcaption  {
		width: 100%;
		height:110px;

		background-image: none;
		background-position: center;
		transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
		padding:0px !important;
		padding-top: 0px !important;
	}

    .benefits figure figcaption::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }

    .benefits figure figcaption > .fig_icon {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .benefits figure figcaption .service_height60 {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        width: calc(100% - 130px);
        padding-right: 34px;
    }

    .benefits figure figcaption .service_height60 h3 {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
    }

    .benefits .effect-julia.gray figcaption  {
		width: 100%;
		height:auto;

		background-image: none;
		background-position: center;
		transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
	}

	.fig_icon {	display: block;
				position:relative;left: 1%;
				float: left;
				width: 80px !important;
				margin-left: 20px;
				margin-right: 20px;
				padding:0px !important;

	}
	figure.effect-julia {height:110px;}

	figure.effect-julia h3 {
		padding: 20px 0px;
		text-align: left;
		position: relative;
		left: 1%;
		text-transform:uppercase;
		font-size:26px;
	}

	.why-block {height:auto; margin-bottom:30px; width: 100%; float: left;}

	.why-block img {

		padding: 5px 10px 0px 15px;
		float: left;
		width: 25%;
		margin-right: 10px;

	}

	.why-block p {
		font-family: Roboto-Regular;
		font-size: 16px;
		line-height: 20px;
		color: #000;
		display: block;
		width: calc(75% - 10px);
		float: right;
	}

	.detline {text-align:center}

	/*second slider*/

	.Bottom-Slider {

		height: 550px;

	}
	.Bottom-Slider .clcontrols {
		left: 70% !important;
	}


	#text-carousel .left.carousel-control {
		left: 0;
		top: auto;
		transform: translate(-50%);
		bottom: auto;
		width:45px;

		margin: 0;
		padding: 0;
		background-image: none;
		z-index: 100;
	}
	#text-carousel .right.carousel-control {
		right: 0;
		top: auto;
		transform: translate(-50%);
		bottom: auto;
		width:45px;

		margin: 0;
		padding: 0;
		background-image: none;
		z-index: 100;
	}

	.ind-line {
		background-image: none;

		position: absolute;
		top: 80px;
		display: block;
		width: 50px;
		height: 50px;
		z-index: 4;
		right: 10px;

	}


	#text-carousel .carousel-indicators {
		background-image: none;
		height: auto;
		display: block;
		position: relative;
		left: auto;
		top: auto;
	}

	/*Footer*/
	.top-footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.container.forma {padding:5px;box-shadow:none;}

	.row.submit {height: 125px;}
	.btn-why{width:90%;}

	.btn-default.submit {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	.attach {text-align:left;padding-top: 1%;padding-left: 1%;}

	.tfooter1 .btn-default {width:100%;margin-bottom:0px;text-align:center;}

	.row-text {margin-bottom: 20px;}

	.Form-action {
		background: none;
		padding-top:0px;
		padding-bottom:0px;

		border-top:1px solid #efefef;
	}

	.Form-action h2:after {
		content: "";
		background-image: url('../img/zaybg.png');
		background-position: right;
		background-repeat: no-repeat;
		width: 40px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;

	}


	#text-carousel .carousel-indicators li {position:absolute !important; top:0; right:0; display:none}

	#text-carousel .carousel-indicators li.active {display:block}

	.btn-blog {width:100%;margin-bottom:0px;margin-top:20px;}

	.tfooter .nav {display:none;}


	/*myCarousel*/
	#myCarousel .right.carousel-control {background-image: none;
										 box-shadow: none;
										 color: #a9a9a9;
										 position: absolute;
										 bottom: 5%;
										 right: 0%;
										 top: 95%;
	}
	#myCarousel .left.carousel-control {background-image:none;box-shadow:none;
										position: absolute;
										color: #a9a9a9;
										top: 95%;
										left: 50%;
	}

	.blog1 h4 {height:90px;}
	.blog1 {
		margin-right: 0px;
		display: inline-block;
	}

	#myCarousel .carousel-indicators {
		position: absolute;
		top: 96%;
		left: 74%;
	}

	#myCarousel .carousel-indicators li {
		background:#a9a9a9;
	}
	#myCarousel .carousel-indicators li.active {
		background:#324abd;
	}

	/*menu-block*/
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 0px !important;
    }

	.navbar-toggle {background-color:transparent;color:#000;font-size:30px;position:absolute;top:-60px;}

	.navbar {min-height:0px;}

	.topmenu li {margin-left:0px;margin-right:0px;
				 display:inline-block;
				 width:100%;
	}

	.topmenu li a {font-size:18px;line-height:35px; border-bottom:1px solid #efefef;}

	.topmenu li  a:focus, .topmenu li  a:hover {background-color:#fbfbfb; outline:none; color:#000;}

	.topmenu .open > a, .topmenu .open > a:focus, .topmenu .open > a:hover {
		background-color:#fbfbfb;
		border-color:#fbfbfb;
		color:#000;
	}

	.topmenu .mega-dropdown-menu {padding-top:0px;}

	.mega-dropdown-menu > li ul > li > a {
		line-height:50px;
		padding:0px;
		padding-left: 42px;
		height: auto;
		min-height: 50px;
	}
	.mega-dropdown-menu > li ul > li > a.top-menu-icon:before {  top: 12px;  }

	.mega-dropdown-menu img {padding-top: 15px;}

	.citymenu a {border-bottom: 1px solid #efefef;}

	.mega-dropdown-menu ul{padding-left:0px;}
	.mega-dropdown-menu .dropdown-header {font-family:Roboto-Medium;
										  font-size:18px;
										  color:#000;
										  text-transform:uppercase;
										  padding-left:0px;
										  text-align:left;
										  background:#fbfbfb;
										  margin-bottom:15px;
										  border-bottom:1px solid #efefef;}

	.dropdown-toggle {border-bottom:1px solid #efefef !important;}

	.mega-dropdown-menu .dropdown-header:hover{background:#fbfbfb !important;}

	.mdm-second {margin-top:0px !important;}

	.mdm-third {
		border-left: 0px;
		padding-left:0px;
	}


	.dropdown-menu:before {
		content: "";
		display:none;
	}


	.dropdown-menu:after {
		content: "";
		display:none;
	}

	.citya {text-align: center;
			background: #fbfbfb;
			padding-left: 0px !important;
			padding-right: 0px !important;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			border-bottom:1px solid #efefef;
	}

	.navbar-nav {
		margin: 0px 0px;
	}

	.dropdown-toggle:after {
		content: "\f105";
		font: normal normal normal 25px/1 FontAwesome;
		text-rendering: auto;
		padding-left:5px;
		color: #adadad;
		position: absolute;
		top: 30%;
		left: 90%;

	}

	.dropdown-toggle:hover:after {
		content: "\f107";
		font: normal normal normal 25px/1 FontAwesome;
		text-rendering: auto;
		padding-left:5px;
		color: #adadad;
		position: absolute;
		top: 30%;
		left: 90%;

	}

	/*Blog content*/

	.heading-block h1 {font-size:32px;line-height:35px;
					   margin-bottom: 10px;
					   margin-top: 10px;
	}

	.nav-toggle {
		display: block;
		width: 100%;
		padding: 1px 6px;
		color: #324abd;
		border: 1px solid #324abd;
		background: #fff;
		border-radius: 3px;
		margin-top: 25px;
		line-height: 45px;
	}

	.nav-toggle i {font-size: 22px;
				   line-height:45px;
				   float:right;}

	.blog1 h4 {height: 105px;
			   display: inline-block;
			   font-size: 16px;
	}
	.blog1 {
		margin-right: 0px;
		display: inline-block;
	}
	.subsnews .btn-default {
		background-color: #324abd;
		color: #fff;
		padding: 15px 55px 15px 55px;
		width: 90%;
		text-align: center;
		margin-left: 10px;
	}



	.search .form-control {background-color: #324abd;
						   border: 1px solid #324abd;
	}

	.input-group-addon {background-color: #324abd;
						border: 1px solid #324abd;
	}

	.search i {color:#fff;}

	.search-block h1 {font-size:32px;line-height:35px;
					  margin-bottom: 10px;
					  margin-top: 10px;
	}

	.input-group.search {
		margin-top: 10px;
	}
	.input-group.search input::placeholder {
		color: #324abd;
	}

	.input-group.search input {box-shadow:none;border:none;}

	.pagination li span {border:none; color:#000;}
	.pagination li span:hover,.pagination li span:focus {background:none;color:#324abd;}

	.sidebar-offcanvas .btn-close {background: none;
								   font-size: 30px;
								   position: absolute;
								   top: 10px;
								   left: 80%;
								   display:block;}

	.main-blog {
		margin-bottom: 40px;
		margin-top: 30px;
	}

	.widget h2{border-bottom: 1px solid #efefef;
			   padding-bottom: 15px;}

	/*Blog-item*/

	.date, .views {text-align: left;}

	.content-bottom .btn-sm {margin-left:0px;padding-bottom: 20px;}
	.main-blog {
		margin-bottom: 20px;
		margin-top: 45px;
	}

	/*Buy License*/

	.buy-license .nav-tabs li {width: 50%;}

	.buy-license .nav-tabs {margin-bottom:0px;}

	.buy-license .nav-tabs li a {font-size:26px;line-height:32px;text-transform:uppercase;}

	.tariffs-wrapper {padding:0px;margin:0px;height:auto;background: #f9f8fe;}

	.tariffs-wrapper .table-responsive {background:#fff;}

	.tariffs-wrapper .table thead tr th {border:0px;}

	.tariffs-wrapper .table tbody tr td,.table tbody tr th {border:0px;}

	.tariffs-wrapper .table .btn-buy {width:100%;}

	.tariffs-wrapper .table thead {border-bottom:1px solid #afafaf}

	.leavecomment h2 {
		width:100%;
		font-size:26px;
		line-height:32px;

	}

	.dontknow {padding-top:40px;padding-bottom:10px;}

	.leavecomment p{
		padding-right:0px;}

	.dontknow  .btn-default {width:100%;}

	.dontknow .row.submit {width:100%;}

	.row.submit {height:100px;}

	.dontknow .form-group {width:100%;}


	.dontknow form {padding-left:0%;}

	.cloud1 {box-shadow:none;
			 margin-right:0px;
			 border-radius:0px;}
	.cloud2 {height:675px;margin-bottom:20px;margin-right:0px;box-shadow:none;border-radius:0px;margin-top:0px;}

	.cloud2 h2 {border-radius:0px;}

	.cloud-text {height:500px;}

	#box, #cloud, .box-shadow,.buy-license__text-content-nonshadowmob {padding:0px;margin:0px;height:auto;box-shadow: none;background: #f9f8fe;}
	.box-shadow{margin-top:30px;margin-bottom:50px;}

	.tariffs-wrapper .table-responsive {background:#fff;}

	.tariffs-wrapper .table thead tr th {border:0px;}
	.buy-license .table tbody tr th {
		font-size: 14px;
		width: 80px;
		max-width: 160px;
	}
	.tariffs-wrapper .table tbody tr td,.table tbody tr th {border:0px;}

	.tariffs-wrapper.table .btn-buy {width:100%;}

	.tariffs-wrapper .table thead {border-bottom:1px solid #afafaf}

	.leavecomment h2 {
		width:100%;
		font-size:26px;
		line-height:32px;

	}

	.dontknow {padding-top:40px;padding-bottom:10px;}

	.leavecomment p{
		padding-right:0px;}

	.dontknow  .btn-default {width:100%;}

	.dontknow .row.submit {width:100%;}

	.row.submit {height:100px;}

	.dontknow .form-group {width:100%;}


	.dontknow form {padding-left:0%;}

	.cloud1 {box-shadow:none;
			 margin-right:0px;
			 border-radius:0px;}
	.cloud2 {height:auto;margin-bottom:20px;margin-right:0px;box-shadow:none;border-radius:0px;margin-top:0px;}

	.cloud2 h2 {border-radius:0px;}

	.cloud-text {height:auto;}

	/*Clients*/

	.imghvr-slide-down {
		position: relative;
		display: inline-block;
		background-color: #fff;
		color: #000;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		height: 345px;
		box-shadow: none;
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #efefef;

	}

	.imghvr-slide-down figcaption h4 {margin-top:10%;}

	/*Contacts*/

	.contacts-block .tab-content{margin-left: 0px;}

	.contacts-block .tab-content .tab-pane {overflow-y:hidden;height: 500px;border:0px;}



	.contacts-block .tabs-left{border:0px;margin-top:0px;}
	.navbar-toggle1 a {
		float: left;
		line-height: 45px;

	}

	.navbar-toggle1 a:hover {
		text-decoration:none;

	}

	.navbar-toggle1:focus, .navbar-toggle1:active, .filter:focus{
		outline: none !important;}

	.navbar-toggle1 i {font-size: 22px;
					   line-height:45px;
					   float:right;}

	.navbar-toggle1 {
		width: 97%;
		color: #324abd;
		border: 1px solid #324abd;
		background: #fff;
		border-radius: 3px;

		margin-left: 5px;
	}

	/*Service*/

	.service1 .material-img .small {
		z-index: 2;
		margin-top:0px;
		margin-left:5%;
		margin-bottom:0px;
		box-shadow:none;
	}
	.service1 .material {box-shadow:none;border-top:1px solid #eee2df;  margin-top:0px;margin-bottom: 0px;}
	.service1 h2 {
		font-family: PFD;
		font-size: 26px;
		color: #25262a;
		text-transform: uppercase;
	}

	.service1 .questions,.service1 .results {
		padding: 10px 0px 10px 10px;
	}

	.service-bottom .block {
		border-bottom: 1px solid #eeedf2;
		border-top: 1px solid #eeedf2;
		border-left: 0px;
		border-right: 0px;
		padding: 30px 0px 10px 10px;
	}

	.side-menu .navbar-default {
		margin-top: 10px;
	}

	.main-service {
		margin-bottom: 40px;
		margin-top: 30px;
	}


	/*Branches*/

	.branches-white .btn-more, .branches-gray .btn-more{width:100%;}

	.section-header{padding-left:15px;}
	.branches-white h2, .branches-gray h2{

		font-size: 30px;
		padding-bottom: 15px;
		width: 20%;
		margin-bottom: 20px;
		margin-top: 0px;

	}
	.branches-white img{float:none;text-align:center;padding-top:20px;}

    .navbar-nav > li.dropdown > .dropdown-menu {
        display: none;
    }

    .navbar-nav > li.dropdown.open > .dropdown-menu {
        display: block;
    }

	.branches-gray img{float:none;text-align:center;padding-top:20px;}

	.first-block h2 {

		font-size: 26px;

		line-height: 34px;
		text-transform: uppercase;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-bottom: 0px;
		margin-top: 0px;

	}

	.branches-white h2, .branches-gray h2{
		font-family: PFD;
		font-size: 26px;

		line-height: 34px;
		text-transform: uppercase;
		padding-bottom: 30px;
		margin-bottom: 30px;


	}

	.bottom-block h2 {
		font-family: PFD;
		font-size: 26px;
		color: #71ceed;
		line-height: 36px;
		text-transform: uppercase;
		padding-bottom: 20px;
		padding-top: 50px;

	}

	.bottom-block p {
		font-family:Roboto-Regular;
		font-size:16px;
		line-height:24px;
		color:#fff;
		padding-bottom:50px;
	}

	.projects h1 {

		font-size:30px;

		text-align:center;
		text-transform:uppercase;
		padding-bottom:20px;
		padding-top:10px;
	}

	#pCarousel .right.carousel-control {background-image: none;
										box-shadow: none;
										color: #a9a9a9;
										position: absolute;
										bottom: 5%;
										right: 0%;
										top: 94%;
										margin-top: 0px;
	}
	#pCarousel .left.carousel-control {background-image:none;box-shadow:none;
									   position: absolute;
									   color: #a9a9a9;
									   top: 94%;
									   left: 50%;
									   margin-top: 0px;
	}
	#myCarousel .carousel-indicators li {
		background:#a9a9a9;
	}
	#myCarousel .carousel-indicators li.active {
		background:#324abd;
	}

	.carousel-showmanymoveone .carousel-control {

		height: auto;
		width: auto;
		background: none repeat scroll transparent;
		border: 0px;

	}


	.carousel-showmanymoveone .carousel-control i {
		font-size: 20px;

		color: #a8a8a8;
		text-shadow: none;
		text-align:center;
		vertical-align:middle;
	}

	.section-header{padding-left:15px;}

	.projects {margin-top: 0px;}

	/*Pr Implement*/
	.block1{height: 210px;}

	.why_we {height:1050px;}
	.packagebt .why_we {height:auto;}
	.packagebt .three-crm-block__text ul {
		margin-bottom: 20px;
	}

	.why_we h1,
	.why_we h2 {
		font-family: PFD;
		font-size: 30px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 30px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 30px;
	}

	.wblock, .wblock2, .wblock3 {margin:0px 0px 30px 0px;}

	.first-block h1 {font-size:26px;line-height:32px;padding:0px;padding-bottom: 20px;}

	.block1 {height:250px; box-shadow:none;margin-bottom:0px;border-top: 1px solid #efefef;padding:10px;margin:0px;padding-top: 30px;}

	.four-block {margin-top:0px;height:1000px;}

	.four-block h2 {font-size:26px;line-height:32px;padding-top:50px;}

	.block2, .block4 {width:100%;height:165px;padding:30px;}

	.block2 img {position: relative;
				 top: -5%;
	}

	.block4 img {position: relative;
				 top: -95%;}

	.block2::after {
		content: "";
		display: block;
		background-image: url(../img/impl/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 78%;
		right: 0%;
	}

	.four-block h4 {position: relative;
					top: 50%;
					right: 50%;

	}

	.block4 h4 {right: 60%;}

	.block2 h3, .block4 h3  {
		font-family: PFD;
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		text-transform: uppercase;
		text-align: left;
		width:50%;
		padding-bottom: 20px;
		padding-top: 0px;
	}

	.block4 h3 {width:60%;}

	.mattop h2
	.mattop .h2,
	.mattop .mh3
	{
		font-family: PFD;
		font-size: 26px;
		color: #25262a;
		line-height: 32px;
		text-transform: uppercase;
		padding-bottom: 5px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 20px;
		padding-top: 20px;
	}

	.mattop h3,
	.mattop .h3
	{
		font-family: PFD-regular;
		font-size: 22px;
		color: #25262a;
		line-height: 26px;
		text-transform: uppercase;
		padding-bottom: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 20px;
	}

	.include, .waranty {padding:20px;}

	.step1-slider .project1 p {height: 130px;}

	.step1-slider .project1 {margin-top:30px;}

	.step1-slider .btn-default.submit {padding: 10px 30px 10px 30px;}

	.step1-slider .carousel-showmanymoveone .carousel-control.left {
		left: 20%;
		position: relative;
		margin-top: 10px;
	}

	.step1-slider .carousel-showmanymoveone .carousel-control.right {
		left: 70%;
		position: relative;
		margin-top: 10px;
	}

	.step1-slider .carousel-indicators{top: 315px;}

	.step1-slider .carousel-indicators li.active {background-color:#324abd; width:15px; height:15px;}

	.step1-slider .carousel-indicators li {background-color:#a9a9a9;}

	.step1-slider {padding-bottom: 20px;
				   border-bottom: 1px solid #efefef;
	}

	.bticon {padding:0px;}

	.step3 .project1 {border:0px;}

	.phase-block {height: 1290px;
				  position: relative;
				  margin-top: 0px;
	}

	.line {background: none;position:relative;top:0px;}

	.phase-block h2 {
		font-size:26px;
		color:#324abd;
		line-height:32px;
		margin-top:50px;

	}

	.phase-block img {margin-left:80px;}

	.phase-block p {margin-left:80px;}

	.phase-block h4{float:left;margin-top:-90px;}

	.one, .two, .three {padding:0px; height:90px;}

	/*BT Implement*/
	.four-blue-block {margin-top:0px;height:1000px;}

	.four-blue-block  h2 {font-size:26px;line-height:32px;padding-top:50px;}

	.four-blue-block .block2,.four-blue-block  .block4 {width:100%;height:165px;padding:30px;}

	.four-blue-block .block2 img {position: relative;
								  top: -5%;
	}

	.four-blue-block .block4 img {position: absolute;
								  top: 35%;
								  left: 70%;

	}

	.four-blue-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/bt/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 78%;
		right: 0%;
	}

	.four-blue-block  h4 {position: relative;
						  top: 50%;
						  right: 50%;

	}

	.four-blue-block  .block4 h4 {right: 60%;}

	.four-blue-block .block2 h3,.four-blue-block .block4 h3  {
		font-family: PFD;
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		text-transform: uppercase;
		text-align: left;
		width:50%;
		padding-bottom: 20px;
		padding-top: 0px;
	}

	.four-blue-block .block4 h3 {width:60%;}

	.bottom-slider .carousel-indicators{top: 365px;}

	.bottom-slider .carousel-indicators li.active {background-color:#324abd; width:15px; height:15px;}

	.bottom-slider .carousel-indicators li {background-color:#a9a9a9;}

	#bCarousel .carousel-control.left {
		left: 20%;
		position: relative;
		margin-top: 0px;
	}
	#bCarousel .carousel-control.right {
		left: 70%;
		position: relative;
		margin-top: 0px;
	}
	.bottom-slider {padding-bottom: 20px;
					border-bottom: 1px solid #efefef;
	}

	/*CRM Implement*/

	.first-bt-block h1 {font-size:26px;line-height:32px;padding:0px;}

	.three-crm-block .block1,.three-block .block1 {height:260px; box-shadow:none;margin-bottom:0px;border-top: 1px solid #efefef;padding:10px;margin:0px;padding-top: 30px;}

	.four-crm-block {margin-top:0px;height:1000px;}

	.four-crm-block h2 {font-size:26px;line-height:32px;padding-top:50px;}

	.four-crm-block .block2,.four-crm-block .block4 {width:100%;height:165px;padding:30px;}

	.four-crm-block .block2 img {position: relative;
								 top: -45%;
	}

	.four-crm-block .block4 img {position: relative;
								 top: -50%;
	}

	.four-crm-block .four-block h4 {position: relative;
									top: -60px;
	}

	.four-crm-block .block4 h4 {position: relative;
								top: -10px;right:0%;}

	.four-crm-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/impl/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 78%;
		right: 0%;
	}

	.four-crm-block .block2 h3 {
		font-family: PFD;
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		text-transform: uppercase;
		text-align: left;
		width: 90%;
		margin-bottom: 0px;

		padding-bottom: 0px;
		padding-top: 0px;
	}

	.four-crm-block .block4 h3 {

		font-family: PFD;
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		text-transform: uppercase;
		text-align: left;
		width:95%;
		margin-bottom: 0px;
		padding-bottom: 0px;
		padding-top: 15px;
	}



	.four-crm-block .block4 {padding-top:0px;}


	.step-crm .block-f {height: 165px;padding: 20px;border:none;	border-bottom:1px solid #eeedf2;}

	.step-crm .block-s {height: 135px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step-crm .block-c {height: 185px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step2 .block-f {height: 185px;padding: 20px;border:none;	border-bottom:1px solid #eeedf2;}

	.step2 .block-s {height: 130px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step2 .block-c {height: 130px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step3 .block-f {height: 185px;padding: 20px;border:none;	border-bottom:1px solid #eeedf2;}

	.step3 .block-s {height: 130px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step3 .block-c {height: 190px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step4 .block-f {height: 185px;padding: 20px;border:none;	border-bottom:1px solid #eeedf2;}

	.step4 .block-s {height: 130px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}

	.step4 .block-c {height: 190px;padding: 20px;border:none; border-bottom:1px solid #eeedf2;}




	/* 24.12.19 */
	.logo-block>.container,
	.menu-block>.container {
		padding: 0;
	}

	.advanced-popup .modal-header {
		padding: 20px;
	}

	.j-form-popup.modal {
		max-width: 270px;
		padding: 0px;
	}

	.advanced-popup h4 {
		font-size: 32px;
	}

	form.j-form.j-form_inline-errors {
		font-size: 12px;
	}

	.service_card_content {
		margin: 10px 0px !important;
		width: 100%;
	}

	.intro_descr .intro_title {
		font-size: 32px;
	}

	section.why {
		margin-bottom: 80px;
	}

	.crm-menu .js-navbar-collapse-crm .crmmenu li a, .crm-menu .js-navbar-collapse-crm .crmmenu li:hover a, .crm-menu .js-navbar-collapse-crm .crmmenu li.active a {
		font-size: 15px;
	}

	figure.effect-julia h3 a {
		font-size: 20px;
	}


	.tfooter1 {
		text-align: center;
	}

	.tfooter1 .contacts {
		margin-top: 30px;
		width: 100%;
	}

	.tfooter1 img {
		padding-bottom: 40px;
		padding-top: 10px;
		display: inline-block;
		float: none !important;
	}



	/*end mobile correctins*/

}

@media (min-width: 991px) and (max-width: 1199px) {

    .buy-license .table thead tr th {
        font-size: 18px;
    }
    .buy-license .table tbody tr td {
        padding: 6px 1px;
	}
	#box, #cloud {
		padding: 10px;
	}
}



/*tablet corrections*/

@media (min-width: 768px) and (max-width: 991px) {
	.j-form-popup.modal {
		max-width: 80% !important;
	}
	.more-modal {
		bottom: 30% !important;
	}

	.more-modal  .modal-header,
	.more-modal  .modal-body {
		left: 10% !important;
		width: 80% !important;
	}

	.carousel.slide h2 {font-size:48px; line-height:56px}

	.banner2 .productimg {position:absolute; left:45%; top:55%; padding-top:0%}
	.banner3 .productimg {position:absolute; left:55%; top:50%; padding-top:0%}
	.banner1 .productimg {position:absolute; left:55%; top:25%; padding-top:0%;}


	.carousel.slide .productimg img {max-width:100%;}

	.slide-info tbody tr td {text-align:left;border:0px;
							 font-family:'pf_din_text_comp_prolight';
							 font-size:22px;
							 color:#fff;
							 font-weight:normal;
							 padding:0px;
	}

	.slide-info tbody tr td:before {
		content: "\f05d"; display: inline-block;
		font: normal normal normal 16px FontAwesome;
		color: #99abff;
		padding-right:10px;
		line-height:22px;
	}

	.slide-info table {width:80%;}

	.ind-line {

		position: absolute;
		display: block;
		width: 50px;
		height: 60px;
		z-index: 4;
		left: 0px;
		width:100%;
		top: 600px;
		background-repeat: repaet-x;
		background-position: center -15px;
		overflow:hidden;
	}

	.ind-line .container {}

	#text-carousel .carousel-indicators {
		background-image: none;
		height: auto;
		display: block;
		position: absolute;
		left: auto;
		bottom: 0;
		width:100%
	}


	.attach {padding-top: 1%;padding-left: 1%;}

	#text-carousel .carousel-indicators li {position:absolute !important; top:0;  }

	#text-carousel .carousel-indicators li.active {display:block}

	#first{
		left:0px;
		right:auto}

	#second {
		left:100px;
		right:auto}

	#third{
		left:200px;
		right:auto}

	#fourth {
		left:300px;
		right:auto}

	#fifth {
		left:400px;
		right:auto}

	#sixth {
		left:500px;
		right:auto}


	#seventh {
		left:600px;
		right:auto}

	#eight {

		left:700px;
		right:auto}
	#nine {
		left:800px;
		right:auto}

	#ten {
		left:900px;
		right:auto}

	#eleven {
		left:1000px;
		right:auto;	}

	#twelve{
		left:1100px;
		right:auto}

	.btn-default.submit {
		background: #324abd;
		padding: 10px 30px 10px 30px;
		color: #fff;
		font-family: Roboto-Medium;
		font-size: 13px;
		text-transform: uppercase;
		width: auto;

	}

	/*Menu-block*/
	.topmenu li {margin-right:0px;}

	/* .item1 {width:15%;text-align:center;}
	.item2 {width:22%; text-align:center;}
	.item3 {width:23%; text-align:center;}
	.item4  {width: 11%; text-align:center;}
	.item5 {width: 14%; text-align:center;}
	.item6 {width: 15%; text-align:center;margin-left:0px;} */

	.mega-dropdown-menu img {padding-bottom: 15px;}

	.mega-dropdown-menu ul {padding-left: 0px;}
	.icons-block-all {
        margin-left: -20px;
        margin-right: -20px;
	}
	/*Blog content*/

	.blog1 {
		margin-bottom: 50px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.nav-toggle {
		display: block;
		width: 100%;
		padding: 1px 6px;
		color: #324abd;
		border: 1px solid #324abd;
		background: #fff;
		border-radius: 3px;
		margin-top: 30px;
		line-height: 45px;
	}

	.nav-toggle i {font-size: 22px;
				   line-height:45px;
				   float:right;}

	.filter	{padding-right: 20px;
			 padding-left: 20px;
	}

	.blog1 h4 {
		height: 105px;
		display: inline-block;
		font-size: 16px;


	}

	.subsnews {
		padding: 0 20px 20px 0
	}

	.subsnews .btn-default {
		background-color: #324abd;
		color: #fff;
		padding: 15px 55px 15px 55px;
		width: 100%;
		text-align: center;
	}

	.sidebar-offcanvas .btn-close {background: none;
								   font-size: 30px;
								   position: absolute;
								   top: 10px;
								   left: 80%;
								   display:block;}

	.main-blog {
		margin-bottom: 40px;
		margin-top: 30px;
	}

	.widget h2{border-bottom: 1px solid #efefef;
			   padding-bottom: 15px;}

	.search .form-control {height: 50px;
						   border-top: 1px solid #eee2df;

						   border-left: 1px solid #eee2df;
						   border-bottom: 1px solid #eee2df;
	}

	.input-group-addon{
		border-top: 1px solid #eee2df;

		border-right: 1px solid #eee2df;
		border-bottom: 1px solid #eee2df;

	}

	.input-group.search {padding-right: 20px;
						 padding-left: 20px;}

	.btn-default.submit {
		background: #324abd;
		padding: 10px 30px 10px 30px;
		color: #fff;
		font-family: Roboto-Medium;
		font-size: 13px;
		text-transform: uppercase;
		width: auto;

	}

	/*Buy License*/

	#box,#cloud {padding:0px;}

	.table thead tr th {padding:25px;}

	.table tbody tr td p {margin-bottom:10px;font-weight:700;}

	table.table:nth-child(2) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1){text-align:center}

	.leavecomment h2 {

		width:100%;

	}
	.buy-license .table tbody tr th {
		font-size: 14px;
		max-width: 160px;
		width:200px;
	}

	.leavecomment p{
		padding-right:0px;}

	.dontknow .form-group {width:100%;}


	.dontknow form {padding-left:10%;}

	.cloud2 {height:460px;
			 margin-bottom:20px;
			 margin-top:0px;}

	.cloud-text{height:300px;}

	.cloud2 .btn-buy {width:50%;}

	/*Service*/

	.side-menu .navbar-default {
		margin-top: 10px;
	}

	.side-menu  .nav.navbar-nav li a:after {

		position: absolute;
		right:5%;
	}

	.main-service {
		margin-bottom: 40px;
		margin-top: 30px;
	}

	/*Branches*/

	.branches-white img{float:none;text-align:center;padding-top:20px;

	}

	.branches-gray img{float:none;text-align:center;padding-top:20px;

	}
	.bottom-block h2 {
		font-family: PFD;
		font-size: 26px;
		color: #71ceed;
		line-height: 36px;
		text-transform: uppercase;
		padding-bottom: 20px;
		padding-top: 50px;

	}

	.bottom-block p {
		font-family:Roboto-Regular;
		font-size:16px;
		line-height:24px;
		color:#fff;
		padding-bottom:50px;
	}

	/*PR Implement*/
	.if-block p {padding-right:100px;}

	.block1{height: 170px;margin-right:0px;
			padding: 50px;width: 100%;}

	.block1 img {float: right;}

	.line {background-size: 200% 100%;}

	.two {margin-top:20px;}

	.two h4 {margin-top:50px;}

	.three h4  {margin-top:50px;}

	.three-block p {padding-right:15%;}
	.three-block .block1{height: 210px;margin-right:0px;
						 padding: 40px;}
	.three-block .block1 img {margin-top:-50px;}
	.four-blue-block {margin-top: -110px;height:1100px;}
	.four-blue-block  h2 {padding-top: 150px;}

	.four-blue-block .block2,.four-blue-block .block4 {width: 100%;
													   height: 120px;
													   padding: 0px;
													   margin-top: 20px;

	}



	.four-blue-block  .block2 h3,.four-blue-block .block4 h3 {margin-bottom: 0px;
															  position: relative;
															  left: 20%;
															  float: none;
															  top:20%;
	}

	.four-blue-block .block2 h4,.four-blue-block .block4 h4 {
		float: none;
		position: relative;
		top: -40%;
		left: 5%;


	}

	.four-blue-block .block2 img, .four-blue-block .block4 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -150px;
		right: 15%;

	}

	.four-blue-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/bt/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 68%;
		right: 0%;
	}




	.why_we {height:700px;}

	.why_we h2, .why_we h1 {padding-top:60px;}

	.wblock,.wblock2,.wblock3  {margin:0px;height:135px;margin-bottom:30px;}

	.wblock img,.wblock2 img,.wblock3 img {padding-bottom:0px;float:left;padding-right:40px;}

	.wblock p,.wblock2 p,.wblock3 p {
		text-align:left;
		padding-right:40px;
	}

	/*BT Implement*/
	.step-bottom .block {
		height: 310px;
	}
	.step-bottom p {height:100px;
					padding-top: 0px;}

	.step-bt .step-bottom h3,.step-bt .step-bottom .h3 {display:block;width:100%;
							  float:none;}

	.step3 .step-bottom h3, .step3 .step-bottom .h3 {display:block;width:100%;
							float:none;}

	.step-bottom .btn-default.submit {float:left;}

	.step3 .step-bottom a {font-family:Roboto-Regular;
						   font-size:14px;
						   color:#324abd;
						   padding-bottom:30px;
						   display:block;}

	.step4 .step-bottom .block {height:150px;padding:40px;}

	/*CRM Implement*/

	.three-crm-block .block1{height: 210px;margin-right:0px;}
	.four-crm-block {margin-top: -110px;height:1100px;}
	.four-crm-block h2 {padding-top: 150px;}

	.four-crm-block .block2{width: 100%;
							height: 120px;
							padding: 0px;
							display: inline-block;

	}

	.four-crm-block .block2 h3{margin-bottom: 0px;
							   position: relative;
							   left: 15%;
							   top:20%;
	}

	.four-crm-block .block2 h4 {
		position: relative;
		top: -45%;
		left: 5%;
	}

	.four-crm-block .block4{width: 100%;
							height: 120px;
							padding: 0px;
							display: inline-block;

	}

	.four-crm-block .block4 h3{margin-bottom: 0px;
							   position: relative;
							   left: 15%;
							   top:20%;
	}

	.four-crm-block .block4 h4 {
		position: relative;
		top: -50px;
		left: 5%;
	}

	.four-crm-block .block4 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -90%;
		right: 10%;
	}

	.four-crm-block .block2 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -90%;
		right: 10%;
	}

	.four-crm-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/impl/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 68%;
		right: 0%;

	}

	.step-bottom h3,
	.step-bottom .h3{
		display: inline-block;
		float: left;
		padding-right: 20px;

	}





	.step-bottom .block-f img {margin-top: -110px;}

	.step-bottom .block-f {height: 125px;padding: 40px;}

	.step-bottom .block-s {height: 125px;padding: 40px;}

	.step-bottom .block-c {height: 165px;padding: 40px;}

	.step2 .block-c {height: 125px;padding: 40px;}

	.step-bottom h4, .step-bottom .h4 {margin-bottom: 20px;margin-top: 0px;}

	.step-bottom .block-c img {margin-top: -50px;}
	.packagebt .step-bottom .block-c img {margin-top: -50px;}
	.packagebt .why_we {height:auto;}

	.step-bottom .block-s img {margin-top: -60px;}
	.packagebt .step-crm .block-s img{margin-top: -55px;}



	/*end tablet corrections*/
}

@media (max-width: 768px){
	.buy-license .table tbody tr th {
		font-size: 14px;
		width: 140px;
		max-width: 160px;
	}

	.packagebt .include {
		background: #ffffff;
	}
	.step-bottom .block-f .subheader,
	.step-bottom .block-c .subheader,
	.step-bottom .block-s .subheader{
		font-size: 24px;
	}
	.packagebt .step-bt .material,
	.packagebt .material2 {
		margin-top:0px;
		margin-bottom:25px;
	}
	.packagebt .step-crm .material{
		margin-bottom:25px;
	}
	.packagebt .step4 {
		margin-bottom: 0;
	}
	.packagebt .crm-block__seo{
		margin-top: 0;
		margin-bottom: 40px;
	}

}

@media (max-width: 480px) and (min-width: 320px) {
	/*CRM Implement*/

	.three-crm-block .block1{height: 210px;margin-right:0px;}
	.four-crm-block {margin-top: -110px;height:1100px;}
	.four-crm-block h2 {padding-top: 150px;}

	.four-crm-block .block2,
	.four-crm-block .block4{
		height: 120px;
		padding: 0px;
		display: inline-block;
	}

	.four-crm-block .block-sm-1 h4 {
		position: relative;
		top: -20px;
		left: 5%;
	}

	.four-crm-block .block-sm-1 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top:15%;
		width: 90%;
	}

	.four-crm-block .block-sm-1 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -50%;
		right: 10%;
	}

	.four-crm-block .block-sm-2 h4 {
		position: relative;
		top: -20px;
		left: 5%;
	}

	.four-crm-block .block-sm-2 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top:15%;
		width: 90%;
	}

	.four-crm-block .block-sm-2 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -50%;
		right: 10%;
	}

	.four-crm-block .block-sm-3 h4 {
		position: relative;
		top: -50px;
		left: 5%;
	}

	.four-crm-block .block-sm-3 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top: 15%;
		width: 90%;
	}

	.four-crm-block .block-sm-3 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -70%;
		right: 10%;
	}

	.four-crm-block .block-sm-4 h4 {
		position: relative;
		top: -60px;
		left: 5%;
	}

	.four-crm-block .block-sm-4 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top: 5%;
		width: 90%;
	}

	.four-crm-block .block-sm-4 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -90%;
		right: 10%;
	}

	.four-crm-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/impl/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 68%;
		right: 0%;

	}


}

@media (max-width: 767px) and (min-width: 480px) {
	/*CRM Implement*/

	.three-crm-block .block1{height: 210px;margin-right:0px;}
	.four-crm-block {margin-top: -110px;height:1100px;}
	.four-crm-block h2 {padding-top: 150px;}

	.four-crm-block .block2,
	.four-crm-block .block4{
		height: 120px;
		padding: 0px;
		display: inline-block;
	}

	.four-crm-block .block-sm-1 h4 {
		position: relative;
		top: -20px;
		left: 5%;
	}

	.four-crm-block .block-sm-1 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top:15%;
		width: 90%;
	}

	.four-crm-block .block-sm-1 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -50%;
		right: 10%;
	}

	.four-crm-block .block-sm-2 h4 {
		position: relative;
		top: -20px;
		left: 5%;
	}

	.four-crm-block .block-sm-2 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top:15%;
		width: 90%;
	}

	.four-crm-block .block-sm-2 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -50%;
		right: 10%;
	}

	.four-crm-block .block-sm-3 h4 {
		position: relative;
		top: -20px;
		left: 5%;
	}

	.four-crm-block .block-sm-3 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top: 15%;
		width: 90%;
	}

	.four-crm-block .block-sm-3 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -50%;
		right: 10%;
	}

	.four-crm-block .block-sm-4 h4 {
		position: relative;
		top: -30px;
		left: 5%;
	}

	.four-crm-block .block-sm-4 h3{
		margin-bottom: 0px;
		position: relative;
		left: 17%;
		top: 5%;
		width: 90%;
	}

	.four-crm-block .block-sm-4 img {
		float: right;
		z-index: 20;
		position: relative;
		top: -70%;
		right: 10%;
	}

	.four-crm-block .block2::after {
		content: "";
		display: block;
		background-image: url(../img/impl/arrowD.png);
		background-repeat: no-repeat;
		z-index: 12;
		height: 70px;
		width: 50px;
		position: absolute;
		top: 68%;
		right: 0%;

	}
}

@media (max-width: 400px) {
    .benefits figure figcaption > .fig_icon {
        width: 60px!important;
    }
    figure.effect-julia h3 a {
        font-size: 24px;
    }
}