@font-face {
    font-family: PFDinTextCopPro-Regular;
    src: url(./fonts/PFDinTextCopPro-Regular.ttf);
}

.blog-articles-wrap{
	margin-top: 50px;
}

.blog-articles-wrap .row{
	margin-left: -8px;
	margin-right: -8px;
}

.blog-articles-wrap article{
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 15px;
}

.blog-articles-wrap .article-content{
	height: 370px;
    display: block;
    position: relative;
    padding: 40px;
}

.blog-articles-wrap .with-bg{
	background-size: cover; 
}

.blog-articles-wrap .transparent-bg .article-content{
	border: 1px solid #e1e1e1;
}

.blog-articles-wrap .transparent-bg p{
	color: #000;
	font-family: Roboto;
    margin-top: 150px;
}

.blog-articles-wrap .blog-article a{
	color: white;
    background-size: cover;
    background-position: center;
}

.blog-articles-wrap .blog-article a:hover{
	text-decoration: none;
}

.blog-articles-wrap .transparent-bg .date{
	color: #000;
}

.blog-articles-wrap .blog-article .title{
	padding: 0;
	position: absolute;
	left: 40px;
	font-size: 26px;
	color: white;
    text-transform: uppercase;
	font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    top: 90px;
}

.blog-articles-wrap .transparent-bg .title{
	color: #324abd;
	text-decoration: underline;
}

.blog-articles-wrap .long-article .title{
	font-size: 32px;
	top: 185px;
}

.blog-articles-wrap .tag-date-wrap{
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.blog-articles-wrap .tag{
	padding: 9px;
    font-family: Roboto, Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.blog-articles-wrap .tag.deep-blue{
	background-color: #324abd;
}

.blog-articles-wrap .tag.light-blue{
	background-color: #7cb6c1;
}

.blog-articles-wrap .tag.white{
	background-color: white;
	color: #324abd;
}

.blog-articles-wrap .tag.pink{
	background-color: #d20f8c;
}

.blog-articles-wrap .date{
    color: white;
    position: relative;
    margin-left: 27px;
    padding-left: 25px;
}

.blog-articles-wrap .date:before{
	position: absolute;
	left: 0;
	top: 7px;
	content: url(/images/ico-clock.png);
	display: block;
}

.blog-articles-wrap .transparent-bg .date:before{
	content: url(/images/ico-clock-grey.png);
}

.blog-articles-wrap section.subscribe-news{
	background-color: #242d3c;
	padding: 40px 0;
    margin: 50px 0 65px;
}

.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap{
	width: 1170px;
	margin: 0 auto;
	position: relative;
	padding: 20px 0;
}

.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap:before,
.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap:after,
.blog-articles-wrap section.subscribe-news .corner-bg:before,
.blog-articles-wrap section.subscribe-news .corner-bg:after{
	position: absolute;
	display: block;
    content: "";
    width: 33px;
    height: 33px;
}

.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap:before{
	top: 0;
	left: 0;
	border-top: 4px solid white;
	border-left: 4px solid white; 
}

.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap:after{
	top: 0;
	right: 0;
	border-top: 4px solid white;
	border-right: 4px solid white;
}

.blog-articles-wrap section.subscribe-news .corner-bg:before{
	bottom: 0;
	left: 0;
	border-bottom: 4px solid white;
	border-left: 4px solid white;
}

.blog-articles-wrap section.subscribe-news .corner-bg:after{
	bottom: 0;
	right: 0;
	border-bottom: 4px solid white;
	border-right: 4px solid white;
}

.blog-articles-wrap section.subscribe-news .title{
	color: white;
	text-transform: uppercase;
    font-size: 31px;
    font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
}

.blog-articles-wrap section.subscribe-news button{
	border-color: #ae127b;
    float: left;
    height: 45px;
    margin-left: 20px;
}

.blog-articles-wrap section.subscribe-news form{
    margin: 35px auto 0;
    display: inline-block;
}

.blog-articles-wrap section.subscribe-news input{
	width: 455px;
	float: left;
}

.blog-articles-wrap section.subscribe-news p{
	color: white;
}

.blog-articles-wrap section.subscribe-news p.agree-notice{
	color: #8996ab;
	font-size: 12px;
}

.blog-articles-wrap .pagination-row{}

.blog-articles-wrap .pagination-row .previous,
.blog-articles-wrap .pagination-row .next{
	margin-top: 30px;
}

.blog-articles-wrap .pagination-row .previous{
	float: left;
}

.blog-articles-wrap .pagination-row .next{
	float: right;
}

.blog-articles-wrap .pagination-row .pagination{}

.blog-articles-wrap .pagination-row .pagination a{
    background-color: #e1e1e1;
    margin: 0 7px;
    width: 40px;
    text-align: center;
    padding: 6px 0;
}

.blog-articles-wrap .pagination-row .pagination a.active{
	background-color: #324abd;
	color: white;
}

.blog-articles-wrap .pagination-row .pagination .dots,
.blog-articles-wrap .pagination-row .pagination .dots:hover{
	border: none;
	padding-top: 12px;
}

.blog-articles-wrap .blog-carousel{
	position: relative;
}

.blog-articles-wrap .blog-carousel .blog-carousel-control{
    position: absolute;
    left: 46px;
    top: 50px;
    border: 2px solid white;
    color: white;
    padding: 8px 31px;
    font-family: Roboto-Medium;
    border-radius: 30px;
    font-size: 13px;
}

.blog-articles-wrap .blog-carousel-control .arrow{
    position: absolute;
    top: 7px;
    cursor: pointer;
}

.blog-articles-wrap .blog-carousel-control .left-arrow{
	left: 17px;
}

.blog-articles-wrap .blog-carousel-control .right-arrow{
    right: 15px;
    transform: rotate(180deg);
    top: 11px;
}

.blog-articles-wrap .blog-carousel-control .grey-color{
	color: #d0d0d0;
}

.blog-articles-wrap .blog-carousel-control .current-slide{
	margin: 0 7px 0 10px;
    letter-spacing: 3px;
}


/****** detail ****/

.blog-detail-wrap{
	margin-top: 20px;
}

.blog-detail-wrap .title{
	padding: 0;
}

.blog-detail-wrap .content-bottom{
	border-top: 1px solid #eaeaea;
	padding: 36px 0 60px;
}

.blog-detail-wrap .blog-detail-content-wrap{
	padding-right: 15px;
}

.blog-detail-wrap .blog-detail-sidebar{
	padding-left: 15px;
}

.blog-detail-wrap h1{
    font-size: 42px;
    font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
}

.blog-detail-wrap .blog-detail-content h2{
	margin-top: 25px;
	font-family: Roboto, Helvetica,Arial,sans-serif;
	font-size: 22px;
}

.blog-detail-wrap .blog-detail-content img{
	margin: 25px 0;
	max-width: 100%;
	height:auto;
}

.blog-detail-wrap .blog-detail-content p{
	margin: 20px 0;
    font-size: 16px;
    line-height: 24px;
}

.blog-detail-content table {
    border: 1px solid #d5dddf;
    border-collapse: collapse;
}

.blog-detail-content table td {
    padding: 6px 12px 9px;
    border: 1px solid #d5dddf;
}
.blog-detail-wrap .author{
	padding: 23px 15px 23px 23px;
	background-color: #edf2f3;
}

.blog-detail-wrap .author img{
	float: left;
    margin-right: 12px;
    width: 55px;
    border-radius: 50%;
}

.blog-detail-wrap .author .author-desc{
    margin-top: 10px;
}

.blog-detail-wrap .author .author-name{
	font-family: Roboto-Medium;
}

.blog-detail-wrap .author .author-role{}

.blog-detail-wrap .socnet-wrap .title{
	font-size: 26px;
	text-transform: uppercase;
	font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
    margin: 30px 0;
    display: block;
}

.blog-detail-wrap .interesting-block{
	padding: 53px 30px 32px 30px;
	background-image: url(./images/detail/interesting_bg.png);
	background-size: cover; 
}

.blog-detail-wrap .interesting-block .title-block{}

.blog-detail-wrap .interesting-block .title-block span{
	float: left;
	text-transform: uppercase;
	color: #42f2d3;
	font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
	font-size: 26px;
}

.blog-detail-wrap .interesting-block .title-block img{
	float: right;
	margin-top: 5px;
}

.blog-detail-wrap .interesting-block .interesting-block-inner{
	color: white;
}

.blog-detail-wrap .interesting-block .interesting-block-inner p{}

.blog-detail-wrap .interesting-block .interesting-block-inner .subtitle{
	font-size: 16px;
	padding-bottom: 20px;
	position: relative;
	font-family: Roboto-Medium;
    margin: 20px 0;
}

.blog-detail-wrap .interesting-block .interesting-block-inner .subtitle:after{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	content: '';
	height: 2px;
	width: 90px;
    background-color: white;
}

.blog-detail-wrap .interesting-block .interesting-block-inner .date{
    color: white;
    margin: 20px 15px;
    display: block;
    font-size: 14px;
}

.blog-detail-wrap .free-subscribe-wrap{
	background-color: #eef1f3;
	position: relative;
	padding: 50px 23px 33px;
	margin-top: 40px;
}

.blog-detail-wrap .free-subscribe-wrap p{
	margin: 15px 0 25px;
}

.blog-detail-wrap .free-subscribe-wrap button{
	width: 100%;
}

.blog-detail-wrap .free-subscribe-wrap:after{
	position: absolute;
	bottom: -2px;
	left: 10px;
	display: block;
	content: '';
	height: 2px;
	width: calc(100% - 20px);
    background-color: #d2d2d2;
}

.blog-detail-wrap .free-subscribe-wrap .title{
	font-size: 26px;
	text-transform: uppercase;
	font-family: PFDinTextCopPro-Regular, Helvetica,Arial,sans-serif;
}

.blog-detail-wrap .tag-date-wrap .tag{
	padding: 9px 15px;
    font-family: Roboto, Helvetica,Arial,sans-serif;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-left: 0;
}

.blog-detail-wrap .tag-date-wrap .tag.deep-blue{
	background-color: #324abd;
}
.blog-detail-wrap .tag-date-wrap .date{
    position: relative;
    padding-left: 21px;
	display: block;
	margin-bottom: 15px;
}

.blog-detail-wrap .tag-date-wrap .date:before{
	display: block;
	position: absolute;
	left: 0;
	top: 7px;
	content: url(/images/ico-clock-2.png);
}


@media (max-width: 767px){
	.blog-articles-wrap .pagination-row .pagination a{
		width: 37px;
	}

	.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap{
	    width: calc(100% - 30px);
	    padding: 30px 0;
	}

	.blog-articles-wrap section.subscribe-news form{
		width: 100%;
	    margin: 35px auto 15px;
	}

	.blog-articles-wrap section.subscribe-news input {
	    width: 100%;
	    float: none;
	    margin-bottom: 10px;
	}

	.blog-articles-wrap section.subscribe-news button {
		margin-left: 0;
	}

	.blog-articles-wrap .date{
		display: block;
	    margin-left: 0;
	    text-align: left;
	    margin-top: 15px;
	}

	.blog-detail-wrap h1{
		font-size: 30px;
	}

	.blog-articles-wrap .long-article .title {
	    font-size: 26px;
	    top: 85px;
	}

	.blog-articles-wrap .blog-article .title{
	    left: 25px;
    	font-size: 24px;
    	top: 85px;
     	max-width: calc(100% - 50px);
	}

	.blog-articles-wrap .article-content{
	    padding: 25px;
	}

	.blog-articles-wrap .tag-date-wrap{
		left: 25px;
	}

	.blog-detail-wrap .content-bottom .date{
		text-align: left;
	}

	.blog-detail-wrap .blog-detail-content-wrap{
		padding-right: 0px;
	}

	.blog-detail-wrap .blog-detail-sidebar{
		padding-left: 0px;
	}

	.blog-articles-wrap .blog-carousel .blog-carousel-control{
		top: 30px;
		left: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.blog-detail-wrap .free-subscribe-wrap .title {
	    font-size: 24px;
	}

	.blog-articles-wrap .blog-article .title{
		padding-right: 10px;
	    left: 25px;
    	font-size: 24px;
	    top: 30px;
	}

	.blog-articles-wrap .long-article .title {
	    font-size: 28px;
        top: 165px;
	}

	.blog-articles-wrap .article-content{
	    padding: 25px;
	}

	.blog-articles-wrap .date{
		display: block;
	    margin-left: 0;
	    text-align: left;
	    margin-top: 15px;
	}

	.blog-articles-wrap .tag-date-wrap{
		left: 25px;
		bottom: 10px;
	}

	.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap{
		width: 760px;
	}

}


@media (min-width: 992px) and (max-width: 1199px){
	.blog-detail-wrap .free-subscribe-wrap button{
		padding: 10px 0;
	}

	.blog-detail-wrap .free-subscribe-wrap .title {
	    font-size: 23px;
	}

	.blog-articles-wrap .blog-article .title{
	    top: 60px;
		padding-right: 10px;
	    left: 30px;
	}

	.blog-articles-wrap .long-article .title{
		top: 180px;
	}

	.blog-articles-wrap .tag-date-wrap{
		left: 25px;
		bottom: 20px;
	}

	.blog-articles-wrap .date{
		display: block;
	    margin-left: 0;
	    text-align: left;
	    margin-top: 15px;
	}

	.blog-articles-wrap section.subscribe-news .subscribe-news-form-wrap{
		width: 980px;
	}

	.blog-articles-wrap .article-content{
	    padding: 30px;
	}
}