.widget li.is-active  a {color:#324abd;}
.tagspopular .btn-sm.is-active {color:#324abd;background-color: #fff;border: 1px solid #324abd;}
.blog1.pull-right {margin-right:25px;margin-left:25px}
#js-map-wrap {width: 100%;height: 630px;}
.address a {color:inherit;}
.has-feedback .glyphicon {display: none}
.has-feedback.has-error .glyphicon {display: block;}
textarea.form-control {resize: none;}
.row.submit .attach input {display: none;}
.open > .dropdown-menu.citymenu {visibility: visible; opacity: 1;}
#box {height:auto;}
/*  S16-ML-662TGEUHG408WGHE */