.custom_banner {
    text-align: center;
    margin: 0px;
    position: relative;
}

.custom_banner picture {
    max-width: 100%;
    display: inline-block;
}

.custom_banner source,
.custom_banner img {
    max-width: 100%;
}
.custom_banner_close_button{
    position: absolute;
    top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
