.popup {
    position: relative;
    top: auto;
    left: auto;
    margin: auto;
    width: 635px;
}
.text.error:before {top:-19px;}
.text.error:after { top: 3px;}
.text.error:before {
    content: attr(data-content)
}
.popup.j-form-popup.hidden{display: none;}

.form-template-general .popup-button .btn{
    margin-bottom: 10px;
}
.form-template-general .popup-button .inline-block.policy-text{
    margin: 0;
    padding: 15px;
}