.ftbl2col {margin-left: -21px;}
.ftbl2col .group-title {padding-bottom: 26px; font-size: 20px; font-weight: bold;}
.ftbl2col .field-item { width: 331px; margin-left: 21px; float: left;}
.ftbl2col .field-item label {font-weight: bold; font-size: 17px;margin: 13px 0 5px; display: block; }
.ftbl2col .field-btn {float: none;}
.ftbl2col .tbl-btn {clear: both; margin-left: 21px; padding: 20px 0;}