/*
* General css
*/
.events-single__wrapper *,
.events-single__wrapper *:before,
.events-single__wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.events-single__wrapper *:focus {
    outline: none;
}

.events-single__wrapper {
    font-family: Roboto, sans-serif;
}

.events-single__btn {
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity .12s;
    transition: opacity .12s;
}

.events-single__btn:hover {
    opacity: .85;
}

.events-single__btn_pink {
    border-color: #d20f8c;
    background-color: #d20f8c;
}

.events-single__block-title {
    font-family: PFD;
    font-weight: 500;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
}

/*
 * Featured
 */
.events-single__featured {
    padding-top: 50px;
    background-color: #f9f8fe;
}

.events-single__featured-wrapper {
    position: relative;
    padding: 195px 300px 70px 55px;
    background: url(images/event_list_featured.jpg) center no-repeat;
    background-size: cover;
}

.events-single__featured-type {
    display: inline-block;
    vertical-align: top;
    padding: 3px 20px;
    border-radius: 2px;
    border-top-left-radius: 1px;
    background-color: #324abd;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.events-single__featured-title {
    margin-top: 30px;
    color: #ffffff;
    font-family: PFD;
    font-weight: 500;
    font-size: 62px;
    line-height: 74px;
    text-transform: uppercase;
}

.events-single__featured-date {
    position: absolute;
    top: 75px;
    right: 75px;
    width: 195px;
    height: 195px;
    padding-top: 15px;
    border: 4px solid #ffffff;
    color: #ffffff;
    font-family: PFD;
    font-weight: 500;
    text-align: center;
}

.events-single__featured-date-num {
    font-size: 160px;
    line-height: 115px;
}

.events-single__featured-date-month {
    margin-top: 10px;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}

.events-single__featured-city {
    position: absolute;
    top: 315px;
    right: 75px;
    max-width: 195px;
    color: #ffffff;
    font-family: PFD;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
}

.events-single__featured-actions {
    margin-top: 50px;
}

.events-single__featured-action-btn {
    margin-right: 25px;
}

.events-single__featured-price {
    display: inline-block;
    vertical-align: middle;
    color: #43c3ed;
    font-family: PFD;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
}

/*
 * Items
 */
.events-single__recommended {
    padding-top: 70px;
    padding-bottom: 100px;
}

.events-single__recommended .events-single__block-title {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.events-single__items {
    margin-top: 70px;
}

.events-single__items::after {
    content: '';
    display: block;
    clear: both;
}

.events-single__item {
    float: left;
    margin-right: 30px;
    width: 360px;
}

.events-single__item:nth-child(3n) {
    margin-right: 0;
}

.events-single__item-image {
    height: 245px;
    text-align: center;
}

.events-single__item-image img {
    max-width: 100%;
    max-height: 100%;
}

.events-single__item-title {
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 84px;
    font-size: 18px;
    line-height: 28px;
}

.events-single__item-title a {
    color: #000000;
}

.events-single__item-title a:hover {
    text-decoration: underline;
}

.events-single__item-type {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 13px;
    border-radius: 2px;
    border-top-left-radius: 1px;
    background-color: #324abd;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.events-single__item-date {
    display: inline-block;
    vertical-align: middle;
    color: #656565;
    font-size: 12px;
    line-height: 24px;
}

.events-single__item-date::before {
    content: '';
    margin-top: -2px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(images/clock_icon.png) center no-repeat;
    background-size: contain;
}

.events-single__item-description {
    margin-top: 20px;
    min-height: 158px;
    padding-top: 25px;
    border-top: 1px solid #eaeaea;
    font-size: 14px;
    line-height: 22px;
}

.events-single__item-actions {
    margin-top: 25px;
}

.events-single__item-actions-btn {
    vertical-align: middle;
}

.events-single__item-actions-readmore-btn {
    margin-left: 40px;
    display: inline-block;
    color: #324abd;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.events-single__item-actions-readmore-btn:hover {
    text-decoration: underline;
}

/*
 * Info
 */
.events-single__info-wrapper {
    -webkit-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
}

.events-single__info-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.events-single__info-block {
    position: relative;
    float: left;
    width: 33.33%;
    min-height: 209px;
    padding: 40px 45px;
}

.events-single__info-block:nth-child(n+2) {
    border-left: 1px solid #eeedf2;
}

.events-single__info-block::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 40px;
    display: block;
    background: url(images/event_single_icons.png) no-repeat;
}

.events-single__info-block_place::after {
    width: 31px;
    height: 42px;
    background-position: 0 0;
}

.events-single__info-block_length::after {
    width: 32px;
    height: 44px;
    background-position: 0 -42px;
}

.events-single__info-block_start::after {
    width: 41px;
    height: 41px;
    background-position: 0 -86px;
}

.events-single__info-block-title {
    margin-bottom: 25px;
    color: #324abd;
    font-family: PFD;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.events-single__info-small-text {
    font-size: 16px;
    line-height: 18px;
}

.events-single__info-tiny-text {
    font-size: 14px;
}

.events-single__info-small-text a {
    color: #324abd;
    text-decoration: none;
}

.events-single__info-small-text a:hover {
    text-decoration: underline;
}

.events-single__info-big-text {
    margin-bottom: 6px;
    font-family: PFD;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
}

/*
 * Details
 */
.events-single__details {
    margin-top: 100px;
}

.events-single__details::after {
    content: '';
    display: block;
    clear: both;
}

.events-single__details-description {
    float: left;
    width: 720px;
}

.events-single__details-description-text {
    margin-top: 60px;
    font-size: 16px;
    line-height: 22px;
}

.events-single__details-description-text b {
    font-size: 18px;
    text-transform: uppercase;
}

.events-single__details-description-text ul {
    padding: 0;
    list-style: none;
}

.events-single__details-description-text ul li {
    position: relative;
    margin-top: 22px;
    padding-left: 9px;
    list-style: none;
}

.events-single__details-description-text ul li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 1px;
    background-color: #000000;
}

.events-single__details-cost {
    float: right;
    width: 360px;
    -webkit-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
}

.events-single__details-cost-title {
    position: relative;
    padding: 35px 40px;
    font-family: PFD;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
}

.events-single__details-cost-title::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    display: block;
    width: 39px;
    height: 35px;
    background: url(images/event_single_icons.png) 0 -127px no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.events-single__details-cost-price {
    padding: 35px 40px 45px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #eeedf2;
    background-color: #f9f8fe;
}

.events-single__details-cost-price-val {
    font-family: PFD;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
}

.events-single__details-apply-btn {
    margin-top: 25px;
}

.events-single__details-cost-text {
    margin-top: 30px;
    padding: 0 40px;
    font-size: 14px;
    line-height: 15px;
}

.events-single__details-cost-logos {
    margin-top: 25px;
    padding: 0 40px 40px;
}

.events-single__details-cost-logos img {
    vertical-align: middle;
}

.events-single__details-cost-logos img:nth-child(n+2) {
    margin-left: 25px;
}

.events-single__details-cost-logos img:first-child {
    margin-bottom: -8px;
}

/*
 * Map
 */
.events-single__map {
    position: relative;
    margin-top: 100px;
}

.events-single__map-info {
    position: absolute;
    z-index: 2;
    top: 90px;
    right: calc(50% + 85px);
    width: 485px;
    padding-top: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 46px 9px rgba(0, 0, 0, 0.12);
}

.events-single__map-info .events-single__block-title {
    padding: 0 40px;
}

.events-single__map-info-text {
    margin-top: 30px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
}

.events-single__map-info-alarm {
    position: relative;
    margin-top: 30px;
    padding: 20px 40px 35px 75px;
    border: 1px solid #eeedf2;
    font-size: 14px;
    line-height: 14px;
}

.events-single__map-info-alarm::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 45px;
    display: block;
    width: 16px;
    height: 14px;
    background: url(images/event_single_icons.png) 0 -162px no-repeat;
}

.events-single__map-container {
    width: 100%;
    height: 475px;
    background-color: gray;
}

/*
 * Apply
 */
.events-single__apply {
    padding-top: 95px;
    padding-bottom: 105px;
    background: #324abd url(images/event_single_apply.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.events-single__apply .container::after {
    content: '';
    display: block;
    clear: both;
}

.events-single__apply-info {
    float: left;
    width: 620px;
}

.events-single__apply-info-title {
    position: relative;
    padding-bottom: 27px;
    line-height: 52px;
}

.events-single__apply-info-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 2px;
    background-color: #71ceed;
}

.events-single__apply-text {
    margin-top: 25px;
    font-size: 22px;
    line-height: 32px;
}

.events-single__apply-policy-text {
    margin-top: 25px;
    font-size: 11px;
    line-height: 18px;
}

.events-single__apply-policy-text a {
    color: #ffffff;
}

.events-single__apply-policy-text a:hover {
    text-decoration: underline;
}

.events-single__apply-form {
    float: left;
    width: 280px;
}

.events-single__apply-form form [type="text"] {
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    font-size: 16px;
}

.events-single__apply-form form [type="submit"] {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #d20f8c;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity .12s;
    transition: opacity .12s;
}

.events-single__apply-form form [type="submit"]:hover {
    opacity: .85;
    color: #ffffff!important;
}

.events-single__wrapper .events-list__items {
    padding-bottom: 0;
}

/*
 * Responsive
 */
@media (max-width: 1199px) {
    .events-single__featured-wrapper {
        padding-top: 75px;
    }

    .events-single__recommended {
        padding-bottom: 60px;
    }

    .events-single__items {
        text-align: center;
    }

    .events-single__item {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .events-single__info-block::after {
        display: none;
    }

    .events-single__info-small-text br {
        display: none;
    }

    .events-single__details-description {
        width: 530px;
    }

    .events-single__map-info {
        right: calc(50% - 15px);
    }
}

@media (max-width: 991px) {
    .events-single__featured-price {
        margin-top: 15px;
        display: block;
    }

    .events-single__info-block {
        width: 100%;
        min-height: 0;
        padding: 40px;
    }

    .events-single__info-block:nth-child(n+2) {
        border-left: none;
        border-top: 1px solid #eeedf2;
    }

    .events-single__details {
        margin-top: 40px;
    }

    .events-single__details-description {
        width: 100%;
    }

    .events-single__details-description-text {
        margin-top: 30px;
    }

    .events-single__details-cost {
        margin-top: 40px;
        width: 100%;
    }

    .events-single__map {
        margin-top: 40px;
    }

    .events-single__map-info {
        position: static;
        width: 100%;
    }

    .events-single__apply-info {
        width: 430px;
        padding-right: 20px;
    }

    .events-single__item-title {
        min-height: 0;
    }

    .events-single__item-description {
        min-height: 0;
    }
}

@media (max-width: 767px) {
    .events-single__featured {
        padding-top: 0;
    }

    .events-single__featured .container {
        padding-left: 0;
        padding-right: 0;
    }

    .events-single__featured-wrapper {
        position: relative;
        z-index: 2;
        padding: 30px;
    }

    .events-single__featured-date {
        position: static;
        margin-top: 30px;
    }

    .events-single__featured-city {
        position: static;
        margin-top: 30px;
        max-width: none;
        text-align: left;
    }

    .events-single__recommended {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .events-single__items {
        margin-top: 30px;
    }

    .events-single__item {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 360px;
    }

    .events-single__info .container {
        padding-left: 0;
        padding-right: 0;
    }

    .events-single__details-cost-text br {
        display: none;
    }

    .events-single__apply {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .events-single__apply-info {
        float: none;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .events-single__apply-info-title::after {
        left: calc(50% - 60px);
    }

    .events-single__apply-form {
        float: none;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        max-width: 400px;
    }

    .events-single__apply-form form [type="submit"] {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .events-single__featured-title {
        font-size: 55px;
        line-height: 65px;
    }

    .events-single__item-actions-readmore-btn {
        margin-top: 20px;
        margin-left: 0;
        display: block;
        width: 80px;
    }
}
