ul.sections {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
ul.sections li {
	display: inline-block;
	margin-right: 10px;
}
ul.sections li a {
	border-bottom: 1px dotted #324abd;
	font-weight: 500;
	color: #324abd;
}
ul.sections li a:hover {
	border-bottom: none;
	text-decoration: none;
	color: #ae127b;
}
ul.sections li span {
	color: #ae127b;
}